<p>Hello there,</p>

<p>
  Thank you so much for taking the time to submit an application to organize
  Django Girls {{ application.city }} workshop.
</p>

<p>
  We reviewed your application and we think that you need to do a little bit
  more planning before we can give you a positive answer.
  Please read our <a href="https://organize.djangogirls.org/">Organizer’s Manual</a> and ensure you meet all the requirements to host 
  a workshop carefully, and then read experiences of other organizers on our blog:
  <a href="http://blog.djangogirls.org/post/152858499038/django-girls-seoul-workshop-2">Seoul</a>,
  <a href="http://blog.djangogirls.org/post/143835232733/django-girls-wroc%C5%82aw-3-192-applications-32">Wrocław</a>,
  <a href="http://blog.djangogirls.org/post/139654610313/django-girls-workshop-in-windhoek-namibia">Windhoek</a>
  or <a href="http://blog.djangogirls.org/post/138915381173/a-toolkit-of-awesome-tips-tricks-from-seasoned">Budapest</a>
  to see how much work is required to organize the workshop.
</p>

<p>
  When you have more things planned (like potential date, venue, coaches or sponsors),
  get back to us by filling out the form again.
</p>

<p>
  Have a lovely day and thank you again for reaching out to us!<br />
  Django Girls team
</p>
