interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/search?format=json&q=Rome%2C+Italy
  response:
    body: {string: "[{\"place_id\":\"178104436\",\"licence\":\"Data \xA9 OpenStreetMap
        contributors, ODbL 1.0. https:\\/\\/www.openstreetmap.org\\/copyright\",\"osm_type\":\"relation\",\"osm_id\":\"41485\",\"boundingbox\":[\"41.6556417\",\"42.1410285\",\"12.2344669\",\"12.8557603\"],\"lat\":\"41.8933203\",\"lon\":\"12.4829321\",\"display_name\":\"Roma,
        RM, LAZ, Italia\",\"class\":\"place\",\"type\":\"city\",\"importance\":0.20671592172166,\"icon\":\"https:\\/\\/nominatim.openstreetmap.org\\/images\\/mapicons\\/poi_place_city.p.20.png\"},{\"place_id\":\"178486693\",\"licence\":\"Data
        \xA9 OpenStreetMap contributors, ODbL 1.0. https:\\/\\/www.openstreetmap.org\\/copyright\",\"osm_type\":\"relation\",\"osm_id\":\"41313\",\"boundingbox\":[\"41.4075808\",\"42.2969953\",\"11.7337425\",\"13.2962768\"],\"lat\":\"41.85233365\",\"lon\":\"12.6308541512038\",\"display_name\":\"RM,
        LAZ, Italia\",\"class\":\"boundary\",\"type\":\"administrative\",\"importance\":0.1125,\"icon\":\"https:\\/\\/nominatim.openstreetmap.org\\/images\\/mapicons\\/poi_boundary_administrative.p.20.png\"}]"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
