{% extends 'global/base.html' %}
{% block title %}Django Girls Código de Conducta{% endblock %}

{% block content %}

<div class="container without-background" id="flatpage">
      <div id="value" class="row">
          <div class="col-md-12">
<h1>Código de Conducta</h1>

<p class="also-available"><a href="{% url 'core:coc' lang='en' %}">English version also available.</a></p>

<p>Django Girls busca ser un evento acogedor donde las personas se reúnan en un ambiente agradable. Por lo tanto, esperamos que las participantes muestren respeto y cortesía a las otras participantes durante el taller.</p>

<p>Para aclarar lo que se espera, todas las participantes, ponentes, organizadoras y voluntarios en cualquier evento Django Girls deben seguir el siguiente Código de Conducta. Las organizadoras lo pondrán en vigor durante el evento.</p>

<h2 id="short">En corto</h2>

<ul>
<li>Django Girls está dedicado a proveer una experiencia de taller libre de acoso para todas, sin importar género, orientación sexual, discapacidad, apariencia física, tamaño corporal, raza o religión.</li>
<li>No toleramos ningún tipo de acoso a las participantes del taller.</li>
<li>El lenguaje y las imágenes sexuales no son apropiadas en el área del taller, incluyendo las pláticas.</li>
<li>Sé amable con las demás. No insultes o hagas menos a otras participantes. Compórtate profesionalmente. No publiques fotografías de las personas sin su consentimiento. Recuerda que bromas sexistas, racistas o excluyentes no son apropiadas para Django Girls.</li>
<li>Las participantes que violen estás reglas serán sancionadas o expulsadas del taller a discreción de las organizadoras.</li>
</ul>

<h2 id="long">Versión Larga</h2>

<p>Acoso incluye comentarios verbales ofensivos relacionados con género, orientación sexual, discapacidad, apariencia física, tamaño corporal, raza, religión, imágenes sexuales en espacios públicos, intimidación deliberada, acechar, seguir a alguien sin su consentimiento, fotografía o grabaciones acosadoras, interrupción continua de pláticas u otros eventos, contacto físico inapropiado y atención sexual no bienvenida.</p>

<p>Se espera que a las participantes que se les pida detener cualquier comportamiento acosador cumpla de inmediato.</p>

<p>Ten cuidado con las palabras que elijas. Recuerda que bromas sexistas, racistas o excluyentes pueden ser ofensivas para quienes te rodean. El uso excesivo de insultos y bromas ofensivas no es apropiado para Django Girls.</p>

<p>Si una participante presenta comportamiento acosador, las organizadoras pueden tomar cualquier acción que consideren apropiada, incluyendo advertir al agresor o expulsarla del taller.</p>

<p>Esperamos que las participantes sigan estas reglas en todos los talleres y eventos relacionados.</p>

<h2 id="report">Reportando Acoso</h2>

<p>Si estás siendo acosada, notas que alguien más lo está o tienes alguna otra inquietud, por favor contacta a tu coach o a una de las organizadoras de inmediato.</p>

<p>El staff está bien informado en como tratar con el incidente y como proceder con la situación. El staff estará feliz de ayudar a las participantes a contactar a seguridad o la autoridad local, proveer escolta o asistir de cualquier forma a quienes estén siendo acosadas para que se sientan seguras durante el taller. Valoramos tu participación.</p>

        </div>
    </div>
</div>

{% endblock %}
