{% extends 'global/base.html' %}
{% block title %}قوانین رفتاری رویداد دختران جنگو {% endblock %}

{% block content %}
<div class="container without-background" id="flatpage">
    <div id="value" class="row" dir="rtl" align="right">
        <div class="col-md-12">

            <h1>قوانین رفتاری</h1>

            <p class="also-available"><a href="{% url 'coc_legacy' lang='en' %}">English version also available.</a></p>

            <p>دختران جنگو قصد دارد رویدادی خوشایند باشد جایی که افراد در یک محیط دوستانه با یکدیگر ملاقات نمایند.
                بنابراین ما انتظار داریم که تمام شرکت کنندگان پذیرفته شده در رویداد، ادب و احترام متقابل را در تمام طول
                رویداد اجرا کنند.</p>

            <p>جهت شفاف‌تر شدن موضوع باید بگوییم که تمام شرکت کنندگان، سخنرانان، برگزارکنندگان و سایر افراد داوطلب در
                تمامی رویدادهای دختران جنگو باید قوانین رفتاری زیر را رعایت نمایند. برگزارکنندگان موظف هستند که این
                قوانین را قبل از رویداد و در مدت برگزاری رویداد اجرا کنند. </p>

            <h2 id="short">خلاصه</h2>

            <ul>
                <li>هدف رویداد دختران جنگو آن است که فارغ از جنسیت، گرایش جنسی، معلولیت، شکل ظاهری، ابعاد بدن، نژاد و یا
                    مذهب،
                    تجربه یک کارگاه خالی از اذیت و آزار را فراهم کند.
                </li>
                <li>ما هیچ گونه مزاحمتی را از طرف شرکت کنندگان در هر شکلی تحمل نخواهیم کرد.</li>
                <li>ادبیات یا تصاویر مستهجن در هیچکدام از رویدادها پذیرفته نیست.</li>
                <li>با دیگران مهربان باشید. از توهین و تحقیر دیگران خودداری کنید. رفتار حرفه ای داشته باشید. تصاویر
                    افراد را بدون اجازه آن‌ها منتشر نکنید. به یاد داشته باشید که تحقیر، توهین، نژادپرستی و یا جوک‌های
                    قومیتی در
                    رویداد دختران جنگو جایگاهی ندارد.
                </li>
                <li>شرکت کنندگان در رویدادد که این قوانین را نقض کنند ممکن است به صلاحدید برگزارکنندگان از برنامه بیرون
                    فرستاده شوند
                    و یا حق شرکت در کارگاه را برای همیشه از دست بدهند.
                </li>
            </ul>

            <h2 id="long">مشروح</h2>

            <p>اذیت و آزار شامل موارد زیر است:</p>

            <ul>
                <li>هرگونه استفاده از کلماتی که توهین به جنسیت، گرایش جنسی، معلولیت، شکل ظاهری بدن، نژاد و مذهب باشد.
                </li>
                <li>هرگونه تصاویر مستهجن در محیط عمومی ممنوع می‌باشد.</li>
                <li>ارعاب، تهدید، تعقیب کردن افراد، تماس فیزیکی نامناسب، عکاسی و یا ضبط صدا بدون اجازه مجاز نمی‌باشد.
                </li>
                <li>مزاحمت و ایچاد اختلال در حین برگزاری کارگاه پذیرفته نیست.</li>
            </ul>

            <p>انتظار می‌رود چنانچه در موارد فوق به کسی تذکر داده شد سریعاً رفتار اذیت کننده را قطع کند.</p>

            <p>مواظب کلمات مورد استفاده خود باشید ادبیات توهین آمیز جایی در رویداد دختران جنگو ندارد.</p>

            <p>چنانچه رفتار نامناسبی از هر شرکت کننده سر بزند برگزارکننده متناسب با شرایط،
                 می‌تواند از تذکر تا اخراج فرد از محل برگزاری اقدام نماید.
            </p>

            <p>انتظار می‌رود شرکت کنندگان عرف رایج جامعه در مورد نحوه پوشش را رعایت نمایند.</p>

            <p>ما انتظار داریم که همه شرکت  کنندگان این قوانین را در خود رویداد و در شبکه‌های اجتماعی وابسته به 
                رویداد رعایت نمایند.
            </p>

            <h2 id="report">گزارش کردن اذیت و آزار</h2>

            <p>اگر شما یا کسی در نزدیکی شما مورد اذیت و آزار قرار گرفت بلافاصله به مربی 
                یا برگزارکنندگان اطلاع دهید. اگر مسأله شما به تیم برگزاری مرتبط بود جزییات را به آدرس coc@djangogirls.org ایمیل کنید.
            </p>

            <p>به برگزارکنندگان توضیح داده شده است که در صورت بروز مشکل با حراست یا مقام مسوول تماس بگیرند و در اولین فرصت شرایط امن 
                برای ادامه کارگاه را برای شما فراهم کنند.
            </p>

            <p>ما برای حضور شما ارزش زیادی قائل هستیم.</p>

        </div>
    </div>
</div>

{% endblock %}