{% extends 'global/base.html' %}
{% block title %}Django Girls Code de Conduite{% endblock %}

{% block content %}
<div class="container without-background" id="flatpage">
      <div id="value" class="row">
        <div class="col-md-12">

<h1>Code de Conduite</h1>

<p>Django Girls est un évènement accueillant, pendant lequel des personnes se rencontrent dans un environnement convivial. Dès lors, nous attendons de chaque participant·e qu'iel fasse preuve de respect et de courtoisie envers les autres personnes durant les ateliers.</p>

<p>Afin d'expliciter le comportement que nous attendons, tous·tes les participant·e·s, organisateurs·rices, exposant·e·s, et volontaires de n'importe quel évènement Django Girls doivent se conformer au Code de Conduite suivant. Les organisateurs·rices devront faire appliquer ce règlement durant toute la tenue de l'évènement. </p>

<h2 id="short">Version courte</h2>

<ul>
<li>Django Girls est dédié à l'organisation d'ateliers sans harcèlement, qu’il soit lié au genre, à l'orientation sexuelle, au handicap, à l'apparence physique, au poids, à la race, ou à la religion.</li>
<li>Nous ne tolèrerons aucune forme d’harcèlement envers les participant·e·s.</li>
<li>Les comportements ou l'utilisation d'images à connotation sexuelle ne sont en aucun cas appropriés, que ce soit pendant l’atelier ou dans le cadre de présentations.</li>
<li>Faites attention aux autres. N'insultez pas ou ne rabaissez pas les autres participant·e·s. Soyez professionnels·elles. Ne prenez ni ne publiez de photographie sans avoir obtenu le consentement des personnes concernées. Rappelez-vous que les blagues racistes, sexistes, discriminantes ou excluantes ne seront en aucun cas tolérées pendant un évènement Django Girls.</li>
<li>Les participant·e·s qui violeraient ces règles pourraient se voir sanctionner ou exclu·e·s de l'évènement et ce, sans aucun dédommagement possible de la part des organisateurs·rices.</li>
</ul>

<h2 id="long">Version longue</h2>

<p>Le harcèlement inclut :</p>

<ul>
<li>Les remarques malveillantes liées au genre, à l'orientation sexuelle, au handicap, à l'apparence physique, au poids, à la race, à la religion.</li>
<li>Les comportements ou l'utilisation d'images à connotation sexuelle dans des lieux où cela n'est pas approprié.</li>
<li>Les intimidations délibérées.</li>
<li>La traque, la poursuite.</li>
<li>Le fait de prendre en photo ou vidéo une personne qui ne souhaite pas être prise en photo et de refuser d'arrêter.</li>
<li>Le fait d'interrompre sans arrêt des conférences ou d'autres événements.</li>
<li>Les contacts physiques non mutuellement consentis</li>
<li>Les avances sexuelles non désirées.</li>
</ul>

<p>Tout·e participant·e à qui il serait demandé d'arrêter d'harceler une autre personne devra obtempérer immédiatement.</p>

<p>Faites attention aux mots que vous choisissez. Rappelez-vous que les blagues racistes, sexistes, discriminantes ou excluantes peuvent être offensantes pour les personnes autour de vous. Tout comme les blagues choquantes, jurer excessivement n’est pas toléré pendant un évènement Django Girls.</p>

<p>Si un⋅e participant⋅e se met à harceler une autre personne, les organisateurs⋅rices de l'événement peuvent prendre toute décision qui leur semble adéquate. Cela va d'un simple avertissement à l'exclusion de la personne de l'événement, sans dédommagement.</p>

<p>Nous attendons des participant⋅e⋅s qu'ils suivent ces règles lors de tous les évènements associés à Django Girls, qu’ils aient lieu au même endroit que l’atelier ou non.</p>

<h2 id="report">Que faire en cas de harcèlement ?</h2>

<p>Si vous vous sentez harcelé, si vous pensez qu’une personne se fait harceler, ou plus généralement en cas de soucis, merci de contacter immédiatement votre coach ou un⋅e organisateurs⋅rices.</p>

<p>Les organisateurs⋅rices sont particulièrement renseigné⋅e⋅s sur comment gérer ce genre d’incident et sur quelles suites donner en fonction de chaque situation.</p>

<p>Les organisateurs⋅rices seront heureux⋅ses d'aider les participant⋅e⋅s à contacter l’équipe, la sécurité en charge des lieux ou les forces de l’ordre, ainsi que de fournir une escorte ou d’aider toute personne qui aura été harcelée à se sentir en sécurité pendant le reste de l’atelier. </p>

<p>Nous accordons beaucoup d’importance à votre présence.</p>

        </div>
    </div>
</div>

{% endblock %}
