{% extends 'global/base.html' %}
{% block title %}Django Girls 준수 사항{% endblock %}

{% block content %}
<div class="container without-background" id="flatpage">
      <div id="value" class="row">
          <div class="col-md-12">
<h1>준수 사항</h1>

<p class="also-available"><a href="{% url 'coc_legacy' lang='en' %}">English version also available.</a></p>

<p>장고 걸스는 모든 이들에게 열려 있는 친근한 분위기에서 행사를 진행하길 원합니다. 다른 참가자들에게 예의를 갖추어 주십시오. </p>

<p>모든 장고 걸스 이벤트에 참여하는 분들은 아래 준수 사항에 따라야 합니다 (장고 걸스 대표자/참석자, 연설자, 운영자, 자원봉사자 등). 행사 진행 중 뿐만 아니라 행사 전에도 준수사항을 지켜 주시기 바랍니다.</p>

<h2 id="short">요약</h2>

<ul>
<li>장고 걸스는 성별, 성 지향성, 장애, 외모, 신체 사이즈, 인종, 종교로 인한 괴롭힘이 없는 워크샵 경험을 제공하기 위하여 헌신하고 있습니다. </li>
<li>우리는 워크샵 참가자에 대한 어떤 형식의 괴롭힘도 용납하지 않습니다. </li>
<li>연설을 포함하여 워크샵 장소에서의 성적인 말과 표현은 부적절한 행동입니다.</li>
<li>서로 친절하게 대해 주세요. 참가자들을 비난하거나 깎아내리지 마십시오. 예의 바르게 처신 하십시오. 상대방의 동의 없이 사진을 찍고 배포하지 마십시오. 성적/ 인종차별적 놀림, 따돌리는 농담과 같은 것들이 장고걸스에서는 금지된 행동이라는 것을 명심하여 주십시오. </li>
<li>이 규칙에 위배되는 행동을 한 참석자들은 워크샵 운영진의 판단 하에 제제를 받거나 환불 없이 퇴장 될 수 있습니다.</li>
</ul>

<h2 id="long">상세 설명</h2>

<p>괴롭힘이란 공공 장소에서의 젠더, 성 지향성, 장애, 외모, 신체 사이즈, 인종, 종교에 대한 불쾌한 발언, 고의적인 위협, 스토킹, 미행, 도촬, 녹취, 대화나 행사 도중 지속적인 끼어들기, 부적절한 신체접촉, 원치 않는 성적 관심을 유도하는 것을 뜻합니다.</p>

<p>괴롭히는 행동에 대하여 제재를 받은 자는 즉시 그 행동을 중단 하십시오.</p>

<p>단어 선택에 신중을 기하여 주시기 바랍니다. 성적/ 인종차별적 놀림, 따돌리는 농담과 같은 것들이 주변 사람들에게 불쾌감을 줄 수 있다는 것을 명심하여 주십시오. 장고걸스에서 과도한 욕설과 불편한 농담은 적절하지 않습니다.</p>

<p>이러한 행동을 보이는 참가자가 있으면, 행사 운영진은 가해자에게 경고를 주거나 또는 환불없이 워크샵에서 퇴장시키는 등 적절하다고 판단되는 조치를 취할 것입니다.</p>

<p>참가자 여러분은 워크샵 장소 뿐만 아니라, 연관된 모든 행사에서 이런 규칙들을 지켜 주시기 바랍니다.</p>

<h2 id="report">괴롭힘 신고하기</h2>

<p>혹시 괴롭힘을 당했거나 다른 사람이 괴롭힘 당하는 것을 목격 또는 괴롭힘 당할 것으로 우려가 된다면, 즉시 코치나 운영진에게 알려주시기 바랍니다. 운영진은 이런 사건에 어떻게 대처할지, 상황을 어떻게 진행 시켜야 할 지 잘 알고 있습니다. 참가자가 호텔/모임 장소의 보안요원이나 경찰 지구대에 연락하는것 뿐만 아니라 동행하는 등 행사 참석 중에 괴롭힘으로부터 안전한 느낌을 받을 수 있도록 도움을 드리겠습니다. 운영진은 당신의 행사 참석을 소중하게 생각합니다.</p>

        </div>
    </div>
</div>

{% endblock %}
