{% extends 'global/base.html' %}
{% block title %}Django Girls Código de Conduta{% endblock %}

{% block content %}

<div class="container without-background" id="flatpage">
      <div id="value" class="row">
          <div class="col-md-12">
<h1>Código de Conduta</h1>

<p class="also-available"><a href="{% url 'core:coc' lang='en' %}">English version also available.</a></p>

<p>Django Mulheres (Django Girls) tem a intenção de ser um evento acolhedor, onde pessoas se encontrem em um ambiente amigável. Assim, esperamos que todas as pessoas participantes mostrem respeito e cortesia com as outras ao longo do treinamento. </p>

<p>Para deixar claro o que é esperado, é exigido que todas as pessoas participantes, palestrantes, expositoras, organizadoras e voluntárias em qualquer evento Django Girls estejam de acordo com este Código de Conduta. As pessoas que organizam irão fazer cumprir esse código antes e durante o evento. </p>

<h2 id="short">Resumindo</h2>

<ul>
<li>Django Mulheres (Django Girls) é dedicado a oferecer uma experiência de treinamento livre de assédio para todas as pessoas, independente da identidade de gênero, sexo, orientação sexual, deficiência, aparência física, tamanho corporal, raça ou religião. </li>
<li>Nós não toleramos assédio de participantes do treinamento de forma alguma. </li>
<li>Conteúdo sexual e imagens não são apropriados em nenhuma parte do treinamento, incluindo palestras. </li>
<li>Seja gentil com as outras pessoas. Não insulte ou desanime outras pessoas participantes. Se comporte profissionalmente. Não publique fotos de outras pessoas sem o consentimento delas. Lembre-se que piadas de assédio, identidade de gênero, sexismo, racismo e exclusão não são apropriadas para o Django Mulheres (Django Girls). </li>
<li>Os participantes da conferência que violarem estas regras poderão ser sancionados ou expulsos do seminário sem restituição, a critério dos organizadores do treinamento.</li>
</ul>

<h2 id="long">Versão longa</h2>

<p>O assédio inclui comentários ofensivos verbais relacionados com a identidade de gênero, orientação sexual, deficiência, aparência física, tamanho corporal, raça, religião, imagens sexuais em espaços públicos, intimidação deliberada, perseguição, azaração, fotografias ou gravações de assédio, interrupção contínua das palestras ou de outros eventos, contato físico inadequado e atenção sexual indesejada.</p>

<p>As pessoas participantes que forem convidadas a parar qualquer comportamento de assédio devem cumprir imediatamente.</p>

<p>Tenha cuidado com as palavras que você escolher. Lembre-se de que piadas sexistas, racistas, transfóbicas, homofóbicas e outras são ofensivas para outras pessoas perto de você. O uso de linguagem e piadas ofensivas não são apropriadas para o Django Mulheres (Django Girls).</p>

<p>Se uma pessoa se envolver em comportamento de assédio, as pessoas organizadoras do treinamento poderão tomar todas as medidas que considerem adequadas, inclusive alertando a pessoa autora ou expulsando-a do treinamento.</p>

<p>Esperamos que as pessoas participantes sigam estas regras em todos os locais das oficinas e eventos relacionados ao treinamento.</p>

<h2 id="report">Reportando Assédio</h2>

<p>Se você for assediada, perceber que outra pessoa foi assediada, ou tem outras preocupações, por favor, fale com a sua treinadora ou uma das  pessoas organizadoras imediatamente. </p>

<p>A equipe está bem informada em como lidar com o incidente e em como agir com a situação. As organizadoras da conferência terão o prazer de ajudar as pessoas participantes a entrar em contato com a segurança local ou ajudar a garantir o cumprimento da lei local, fornecer escoltas, ou ajudar aquelas pessoas que vivenciaram o assédio a se sentirem seguras durante todo o treinamento. Nós valorizamos a sua presença.</p>

        </div>
    </div>
</div>

{% endblock %}
