{% extends 'global/base.html' %}
{% block title %}Кодекс поведения Django Girls{% endblock %}

{% block content %}
<div class="container without-background" id="flatpage">
    <div id="value" class="row">
        <div class="col-md-12">
            <h1>Кодекс поведения</h1>

            <p class="also-available">Этот документ также доступен на
                <a href="{% url 'coc_legacy' lang='en' %}">английском (English)</a>,
                <a href="{% url 'coc_legacy' lang='es' %}">испанском (Español)</a>,
                <a href="{% url 'coc_legacy' lang='fr' %}">французском (Français)</a>,
                <a href="{% url 'coc_legacy' lang='ko' %}">корейском (한국어)</a>, и
                <a href="{% url 'coc_legacy' lang='pt-br' %}">португальском (português do Brasil)</a>.
            </p>

            <p>Цель Django Girls — быть гостеприимным мероприятием, где люди встречаются в дружественной обстановке.
                Соответственно, на протяжении всего мероприятия мы ожидаем ото всех участников уважения и вежливости
                по отношению друг к другу.</p>

            <p>Чтобы стало ясно, чего именно мы ожидаем, мы разработали эти правила.
                Все участницы, спикеры, организаторы и волонтёры на любом мероприятии Django Girls обязаны их соблюдать.
                Организаторы должны заблаговременно ознакомить с этими правилами всех участвующих,
                а также следить за выполнением правил на всём протяжении мероприятия.</p>

            <h2 id="short">Вкратце</h2>

            <ul>
                <li>Django Girls посвящён тому, чтобы подарить спокойный опыт посещения воркшопа для всех — независимо
                    от их пола, сексуальной ориентации, внешности, веса, национальности, религии, наличия инвалидности.</li>
                <li>Харассмент (оскорбление, притеснение, приставание в чей-либо адрес) любых участниц/участников воркшопа недопустим.</li>
                <li>На мероприятии недопустимы изображения и язык, связанные с сексуальностью.</li>
                <li>Будьте доброжелательны друг к другу. Не унижайте других людей. Ведите себя профессионально.
                    Не публикуйте фотографии людей без их согласия.
                    Помните, что Django Girls — не место для сексистских, расистских и любых других подобных шуток.</li>
                <li>Люди, нарушающие эти правила, могут быть удалены с мероприятия без дополнительных предупреждений
                    по усмотрению организаторов.</li>
            </ul>

            <h2 id="long">Подробно</h2>

            <p>Харассмент включает в себя оскорбительные комментарии, относящиеся к полу, сексуальной ориентации,
                инвалидности, внешности, комплекции, расе, религии, также сексуальные изображения в публичных пространствах,
                преднамеренное преследование, сталкинг, нарушающее личные границы фотографирование, постоянное перебивание,
                прерывание речи или других событий, неуместный физический контакт и нежелательное сексуальное внимание.</p>

            <p>Мы ожидаем, что люди, которых попросили прекратить такое поведение, немедленно его прекратят.</p>

            <p>Выбирайте слова. Помните, что сексистские, расистские и другие подобные шутки
                могут быть неприятны окружающим. Django Girls — не место для ругани и оскорбительных шуток.</p>

            <p>Если кто-то из участников продолжает оскорбительное поведение,
            организаторы воркшопа могут принимать любые меры, которые сочтут целесообразными,
                в том числе предупреждение или удаление с мероприятия, вплоть до запрета на дальнейшее участие в будущем.</p>

            <p>Мы ожидаем, что эти правила будут выполняться на всех площадках воркшопа,
            а также на всех связанных с ним мероприятиях (например, афтепати).</p>

            <h2 id="report">Как сообщить о проблеме или неприятной ситуации</h2>

            <p>Если на мероприятии кто-либо нарушает вышеописанные правила в отношении вас или кого-либо ещё,
            или есть какие-то другие проблемы, немедленно обратитесь к тренерам или организаторам.
            Мы будем рады помочь в разрешении ситуации.</p>

            <p>Организаторы хорошо информированы о том, как поступить в случае такого инцидента.
            Они сделают всё, что можно, чтобы взять такую ситуацию под контроль.
            Обеспечат сопровождение или иным образом позаботятся о безопасности участниц.
            (В крайнем случае даже не постесняются связаться с правоохранительными органами.) Мы ценим ваше участие.</p>
        </div>
    </div>
</div>

{% endblock %}
