{% load staticfiles rev %}

<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <title>{% block title %}Django Girls - start your journey with programming{% endblock %}</title>
  <meta name="description" content="{% block description %}Django Girls is a one-day workshop about programming in Python and Django tailored for women.{% endblock %}">
  <meta name="keywords" content="programming, python, django, workshop, women, females">
  <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://djangogirls.org/{{ page.url }}/" />
  {% if page.event.photo %}
    <meta property="og:image" content="https://djangogirls.org{{ page.event.photo.url }}" />
  {% else %}
    <meta property="og:image" content="https://raw.githubusercontent.com/olasitarska/djangogirls/gh-pages/resources/graphics/logo_square.png" />
  {% endif %}
  <meta property="og:title" content="{{ page.title }} on {{ page.event.date }}" />
  <meta property="og:description" content="{{ page.description }}" />

  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Lora:400,700,400i,700i/Roboto:300,400,300i,400i">
  <link rel="stylesheet" type="text/css" href="{% static_rev 'css/event.css' %}">
  <script type="text/javascript" src="{% static_rev 'js/event.js' %}"></script>

  {% if page.main_color %}
  <style type="text/css">
    .navbar-default {
        border-color: #{{ page.main_color }};
    }
    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .btn, .btn:hover, input[type="submit"], .public-form input[type="submit"] {
        background-color: #{{ page.main_color }};
    }
    .navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:hover, a, a:hover, .public-form span.required {
        color: #{{ page.main_color }};
    }

  </style>
  {% endif %}

  {% block custom_css %}{% endblock %}
  {% block custom_js %}{% endblock %}

</head>
<body>

{% block menu %}

    {% include 'event/menu.html' %}

{% endblock %}

{% block content %}

{% endblock %}

{% include 'includes/js.html' %}
</body>
</html>
