{% load staticfiles %}

<!DOCTYPE HTML>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <title>{% block title %}Django Girls - start your journey with programming{% endblock %}</title>
  <meta name="description" content="{% block description %}Django Girls is a one-day workshop about programming in Python and Django tailored for women.{% endblock %}">
  <meta name="keywords" content="programming, python, django, workshop, women, females">
  <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://djangogirls.org/" />
  <meta property="og:image" content="https://raw.githubusercontent.com/olasitarska/djangogirls/gh-pages/resources/graphics/logo_square.png" />

  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Linux+Libertine:400,600,700,400i,600i,700i/Roboto:300,400,300i,400i">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/bootstrap.min.css' %}" media="screen">
  <link rel="stylesheet" type="text/css" href="{% static 'css/event.css' %}">
  <script type="text/javascript" src="{% static 'vendor/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/event.js' %}"></script>

  {% if page.main_color %}
  <style type="text/css">
    .navbar-default {
        border-color: #{{ page.main_color }};
    }
    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .btn, .btn:hover, input[type="submit"], .application-form input[type="submit"] {
        background-color: #{{ page.main_color }};
    }
    .navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:hover, a, a:hover, .application-form span.required {
        color: #{{ page.main_color }};
    }

  </style>
  {% endif %}

  {% block custom_css %}{% endblock %}
  {% block custom_js %}{% endblock %}

</head>
<body>

{% block menu %}

    {% include 'event/menu.html' %}

{% endblock %}

{% block content %}

{% endblock %}

{% include 'includes/js.html' %}
</body>
</html>
