{% load core_tags i18n static %}

<div class="navbar navbar-expand-lg navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand" href="/">
          <a href="/"><img src="{% static 'img/logo.png' %}" width="200" alt="Django Girls" /></a>
      </div>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav mb-2 mb-lg-0">
        {% for item in menu %}
        <li class="nav-item px-2"><a href="{% build_menu_item_url item.url event.page_url %}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
