{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
    {{block.super}}

    {% if original.review_status == original.OPEN %}
    <li><a href="{% url 'admin:assign_meetup_reviewer' original.id %}"><i class="icon-eye-open icon-alpha75"></i>{% trans "Assign" %}</a>
    </li>
    {% endif %}
    {% if original.review_status == original.UNDER_REVIEW %}
    <li><a href="{% url 'admin:unassign_meetup_reviewer' original.id %}"><i class="icon-eye-close icon-alpha75"></i>{% trans "Unassign" %}</a>
    </li>
    <li><a href="{% url 'admin:accept_meetup' original.id %}"><i class="icon-ok icon-alpha75"></i>{% trans "Accept" %}</a>
    </li>
    {% endif %}
    {% if original.review_status == original.REJECTED %}
    <li><a href="{% url 'admin:restore_meetup' original.id %}"><i class="icon-repeat icon-alpha75"></i>{% trans "Restore" %}</a>
    </li>
    {% endif %}
    {% if original.review_status == original.READY_TO_PUBLISH %}
    <li><a href="{% url 'admin:publish_meetup' original.id %}"><i class="icon-check icon-alpha75"></i>{% trans "Publish" %}</a>
    </li>
    {% endif %}
    {% if original.review_status == original.UNDER_REVIEW or original.review_status == original.READY_TO_PUBLISH or original.review_status == original.PUBLISHED %}
    <li><a href="{% url 'admin:reject_meetup' original.id %}"><i class="icon-remove icon-alpha75"></i>{% trans "Reject" %}</a>
    </li>
    {% endif %}
{% endblock %}

{% block form_top %}
    {{block.super}}

    {% if change %}
    {% if not original.not_expired %}
        <h3 class="text-error">{% trans "Expired" %}</h3>
    {% endif %}{% endif %}
{% endblock %}
