[flake8]
# Explanation
# E722 - do not use bare 'except'
# F841 - local variable is assigned to but never used  # TODO - address these

ignore = E722, F841
exclude =
    .env,
    .git,
    .github,
    .pytest_cache,
    .venv,
    __pycache__,
    **/migrations/**
max-line-length = 120