.DS_Store
*.sqlite3
*.pyc
.python-version
staticfiles/
uploads/
local_settings.py
.anvil/*
__pycache__
.Python
/bin
/lib
/src
/include
.coverage
.venv
static/media
.idea/*
.vscode
.cache/
node_modules/
static/build/
static/local/
static/rev-manifest.json
temp/
djangogirls/local_settings_2.py
htmlcov/
new-venv/
package-lock.json
tests/tests/
venv/
migrate-venv/
djangogirls/local_settings2.py
