click==7.0
dj-database-url==0.5.0
django-admin-sortable2
django-autoslug==1.9.4
django-click==2.1.0
django-tinymce
django-countries
django-date-extensions
django-debug-toolbar
django-extensions
django-formtools
django-gulp-rev==0.2
django-leaflet==0.24.0
django-markdown-deux==1.0.5
django-recaptcha
django-storages[boto3]==1.7.1

django-unused-media==0.1.13
django>=3.2,<4
django-sendgrid-v5==0.8.1
easy-thumbnails
flake8
freezegun
google-api-python-client==2.37.0
icalendar==4.0.3
oauth2client==4.1.3
pillow==9.0.1
pip-tools
psycopg2-binary==2.8.3
py-trello==0.13.0
pyquery==1.4.0
pytest-cov==2.12.1
pytest-django==4.4.0
pytest-dotenv
pytest-env==0.6.2
pytest==6.2.5
python-dotenv
sentry-sdk
slacker==0.9.65
stripe
vcrpy
urlextract
dnspython