Django==1.6.5
Pillow==2.5.1
South==1.0
boto==2.32.0
click==2.5
dj-database-url==0.3.0
django-date-extensions==1.0.0
django-leaflet==0.14.1
django-storages==1.1.8
django-suit==0.2.9
django-suit-redactor==0.0.2
gunicorn==19.1.0
psycopg2==2.5.3
requests==2.3.0
six==1.7.3
whitenoise==1.0.3
wsgiref==0.1.2
