click==7.0
dj-database-url==0.5.0
django-autoslug==1.9.4
django-click==2.1.0
django-codemirror-widget==0.4.1
django-countries==5.3.3
django-date-extensions==3.0
django-extensions<3
django-formtools==2.1
django-gulp-rev==0.2
django-leaflet==0.24.0
django-markdown-deux==1.0.5
django-recaptcha==1.4.0
django-storages[boto3]==1.7.1
django-suit-redactor==0.0.4

django-suit==0.2.26
django-unused-media==0.1.13
# Django suit breaks with Django 2.2
django<2.1
django-sendgrid-v5==0.8.1
easy-thumbnails==2.6
freezegun==0.3.11
google-api-python-client==1.7.10
icalendar==4.0.3
oauth2client==4.1.3
pillow==6.2.0
pip-tools
psycopg2-binary==2.8.3
py-trello==0.13.0
pyquery==1.4.0
pytest-cov==2.6.0
pytest-django==3.4.3
pytest-env==0.6.2
pytest==3.9.1
python-dotenv
sentry-sdk==1.3.1
slacker==0.9.65
vcrpy==2.0.1