boto3
click
django-autoslug
django-click
dj-database-url
django-codemirror-widget
django-countries
django-date-extensions
django-formtools
django-gulp-rev
django-leaflet
django-markdown-deux
django-recaptcha
django-storages
django-suit-redactor
django-suit
Django
djrill
easy_thumbnails
google-api-python-client
httplib2
icalendar
lxml
mock
opbeat
Pillow
psycopg2
py-trello
pyquery
requests
slacker
vcrpy
whitenoise

# testing
freezegun
pytest
pytest-cov
pytest-env
pytest-django
