Django==1.8.5
Pillow==3.0.0
boto3==1.2.1
click==5.1
coverage==4.0.1
cssselect==0.9.1
dj-database-url==0.3.0
django-ckeditor==5.0.2
django-countries==3.4.1
django-crispy-forms==1.5.2
django-date-extensions==1.1.0
django-leaflet==0.16.0
django-bootstrap3-datetimepicker==2.2.3
django-markdown-deux==1.0.5
django-nose==1.4.2
django-sslify>=0.2.0
django-storages-redux==1.3
django-suit==0.2.15
django-suit-redactor==0.0.2
djrill==1.4.0
easy_thumbnails==2.2
gunicorn==19.3.0
icalendar==3.9.1
lxml==3.4.4
mandrill==1.0.57
markdown2==2.3.0
nose==1.3.7
nose-progressive==1.5.1
model-mommy==1.2.5.1
opbeat==3.1.3
psycopg2==2.6.1
pyquery==1.2.9
pytz==2015.7
raven==5.8.1
requests==2.8.1
six==1.10.0
-e git://github.com/olasitarska/slacker.git#egg=slacker
whitenoise==2.0.4
py-trello==0.4.3