{% extends 'registration/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Check Your" context "Followed by mailbox icon, check your inbox or email" %} &#x1F4E5;
{% endblock title %}

{% block registration_message %}
<p>
{% url 'contact:contact' as contact_url %}
{% url 'password_reset' as reset_url %}
{% blocktrans trimmed %}
    We just sent reset instructions to your email. If you have any issues, <a href={{ reset_url }}>try again</a> and if
    you still don't get anything, <a href="{{ contact_url }}">say hello</a>!
{% endblocktrans %}
</p>
{% endblock registration_message %}
