{% load staticfiles %}

<!DOCTYPE HTML>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <title>{% block title %}Django Girls - start your journey with programming{% endblock %}</title>
  <meta name="description" content="Django Girls is a one-day workshop about programming in Python and Django tailored for women.">
  <meta name="keywords" content="programming, python, django, workshop, women, females">
  <link href="static/img/favicon.ico" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Django Girls is a one-day workshop about programming in Python and Django tailored for women" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Join us and become female developer! Build your first website in Python and Django in a friendly, safe enviroment." />
  <meta property="og:url" content="http://djangogirls.org/" />
  <meta property="og:image" content="https://raw.githubusercontent.com/olasitarska/djangogirls/gh-pages/resources/graphics/logo_square.png" />

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen">
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/djangogirls.js' %}"></script>
</head>
<body>

{% block menu %}

    {% include 'global/menu.html' %}

{% endblock %}

{% block content %}

{% endblock %}

<footer>
    <div class="overlay">
        <div class="container">
            {% block footer %}
                {% include 'global/footer.html' %}
            {% endblock %}
        </div>
    </div>
</footer>

{% include 'includes/js.html' %}
</body>
</html>
