<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <p>Django Girls</p>
                <ul>
                    <li><a href="">Homepage</a></li>
                    <li><a href="">Events</a></li>
                    <li><a href="">Resources</a></li>
                    <li><a href="">Organize</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <p>Community</p>
                <ul>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Github</a></li>
                    <li><a href="">Discussions</a></li>
                    <li><a href="">hello@djangogirls.org</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <p>Resources</p>
                <ul>
                    <li><a href="">Tutorial</a></li>
                    <li><a href="">Organizer's Manual</a></li>
                    <li><a href="">Coaching Guide</a></li>
                    <li><a href="">Tutorial Extensions</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <p>♥</p>
                <ul>
                    <li><b>15</b> events</li>
                    <li><b>500</b> applicants</li>
                    <li><b>70</b> attendees</li>
                    <li><b>6</b> countries</li>
                </ul>
            </div>

        </div>
    </div>
</footer>
