{% load staticfiles %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav role="navigation" class="clearfix">
                <div class="logo">
                    <a href="/">
                        <img src="{% static 'img/global/logo.png' %}" alt="Django Girls" />
                    </a>
                </div>

                <ul>
                    <li><a href="{% url 'core:events' %}">Events</a></li>
                    <li><a href="{% url 'core:resources' %}">Resources</a></li>
                    <li><a href="{% url 'core:organize' %}">Organize</a></li>
                    <li><a href="https://cottonbureau.com/products/this-is-what-a-programmer-looks-like"><strong>Get a t-shirt!</strong></a></li>
                    <li><a href="https://www.patreon.com/djangogirls">Support us</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
