{% load i18n static %}

<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo">
                <a href="{% url 'core:index' %}">
                    <img src="{% static 'img/global/logo.png' %}" alt="Django Girls" />
                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'core:events' %}">{% trans "Events" %}</a></li>
                <li><a href="{% url 'core:resources' %}">{% trans "Resources" %}</a></li>
                <li><a href="{% url 'organize:index' %}">{% trans "Organize" %}</a></li>
                <li><a href="{% url 'core:newsletter' %}">{% trans "Newsletter" %}</a></li>
                <li><a href="https://blog.djangogirls.org/">{% trans "Blog" %}</a></li>
                <li><a href="{% url 'jobboard:index' %}">{% trans "Jobs" %}</a></li>
                <li><a href="{% url 'core:contribute' %}">{% trans "Contribute" %}</a></li>
                
                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Donate to us 💕" %} <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                         <li><a href="{% url 'donations:index' %}">{% trans "Donate" %}</a></li>
                         <li><a href="https://www.patreon.com/djangogirls">{% trans "Our Patreon page" %}</a></li>
                         <li><a href="{% url 'donations:sponsors' %}">{% trans "Our Sponsors" %}</a></li>
                     </ul>
                 </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
