// Make sure there is enough space for the fixed-width CodeMirror editor.
.core-eventpagecontent
    min-width: 1351px

.save-box
    a.btn
        align-items: flex-start
        box-sizing: border-box
        line-height: 30px
