sans_font = Roboto
serif_font = 'Lora'
mint = #FF9400
gray = #4A4A4A

border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n

body
    font-family: serif_font
    color: black
    font-size: 18px
    line-height: 150%
    height: 100%
    font-weight: 300

h1, h2, h3, h4, h5, h6
    font-family: sans_font
    font-weight: 300
    color: black

h1
    color: white
    font-size: 46px

h2
    color: white
    font-size: 36px

h3
    font-size: 36px
    margin-top: 0
    margin-bottom: 20px

h5 a
    font-family: sans_font
    font-size: 18px

a, a:hover
    color: mint


.navbar-default
    background: white
    border: 0px
    border-top: 3px solid mint
    font-family: serif_font

    .navbar-brand
        color: black
        a.chapter
            position: absolute
            text-transform: uppercase
            color: white
            font-size: 12px
            right: 10px
            bottom: 4px

    .navbar-brand, .navbar-brand:hover
        background-color: mint
        position: absolute
        height: 70px
        padding: 0
        margin-left: 0 !important

    .navbar-nav
        width: auto
        padding-left: 200px
        float: right
        li
            height: 50px
            padding-top: 10px
            a
                color: mint
                font-size: 16px
                font-family: sans_font
                font-weight: 300
                text-transform: uppercase
            a:hover
                color: mint

.navbar-wrapper
    height: 70px

.negative
    clear: both
    overflow: hidden
    position: fixed
    height: 70px
    z-index: 9999
    width: 100%
    background: none
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, white), color-stop(60%, rgba(255, 255, 255, 0.8)), color-stop(0, rgba(255, 255, 255, 0)))

    .navbar-brand, .navbar-brand:hover
        background: transparent
        padding-top: 10px
        img
            width: 180px

    .navbar-collapse
        padding: 0
        a:last-child
            padding-right: 0

.australia
    .navbar-brand
        padding-right: 19px

    .navbar-nav
        padding-left: 219px

.overlay
    padding: 100px 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.6)
    color: white
    button, input, optgroup, select, textarea
        color: initial

.btn, .btn:hover
    background: mint
    color: white
    font-family: sans_font
    font-size: 18px
    font-weight: 100
    margin: 20px 0 0 0
    padding: 15px 30px

.rsvp-buttons
    a
        font-size: 12px
        font-family: sans_font
    .btn
        font-size: 14px
        padding: 5px 10px
        margin: 0 10px 20px 0
        float: left


.with-background
    background: url('../img/photos/photo1.jpg') 50% 0 no-repeat fixed
    background-size: cover
    height: auto
    color: white


.without-background
    padding-top: 60px
    padding-bottom: 60px

#about
    .overlay
        padding: 150px 0

        h1
            font-family: serif_font
            font-size: 60px
            color: white
            line-height: 60px
            font-style: italic
            margin-bottom: 20px

        h2
            font-family: serif_font
            font-size: 40px
            color: #E7E7E7
            line-height: 40px
            font-style: italic

#newsletter
    .facebook
        float: left
        width: 50%

    .twitter
        margin-top: 25px

    button
        margin: 0
        padding: 10px 15px
        border: 0px

.cls
    clear: both

.coaches
    padding: 30px 0px
    .col-md-2
        text-align: center
        .coach
            max-width: 160px
            border-radius: 100%
            margin-bottom: 15px

        a
            color: black
            font-family: serif_font
            font-size: 18px

.social
    margin-top: 30px
    .facebook
        margin: -10px 0 10px 0
        float: left
        width: 250px
        height: 70px

    .twitter
        margin-top: 10px

.credits
    font-size: 15px
    text-align: center
    opacity: 0.6
    padding-top: 30px

#yourcity
    background: url('../img/photos/photo2.jpg') 50% 0 no-repeat fixed
    background-size: cover

.map
    overflow-x: hidden
    overflow-y: hidden
    padding: 0
    height: 400px

.leaflet-container
    height: 400px

.applications
    padding: 15px

    .answer
        margin-bottom: 25px
        p
            margin: 0
        .question
            font-weight: bold

    // practically resetting default button styles
    .btn, .btn:hover
        font-size: 14px
        padding: 6px 12px
        margin-top: 0px

    .dropdown
        float: left
        margin-right: 15px

        button
            border: 0px
            color: white !important

            &.accepted, &.yes
                background: #3c763d
            &.rejected, &.no
                background: #a94442
            &.submitted
                background: #428bca
            &.waitlisted
                background: #fec500
            &.default, &.waiting
                background: rgba(0,0,0,0.3)

        ul
            li
                font-family: sans_font

    input[type="submit"]
        font-size: 14px
        padding: 0 10px

    .text-warning
        color: #fec500 !important

    .download
        float: right

.stretch-form
    input[type="text"]
        width: 90%
    textarea
        width: 90%
        height: 300px

.scoring
    font-family: sans_font
    font-size: 18px

    table
        font-size: 16px
        width: 100%
        margin: 30px 0

        thead
            td
                background: rgba(0,0,0,0.1)

        td
            border: 1px solid rgba(0,0,0,0.1)
            padding: 5px

    h4
        font-size: 28px

    h5
        font-size: 22px

    .scoring-form
        label
            font-weight: normal
            margin: 0
        .help-text
            font-size: 14px
            margin: 0 0 10px 0
        .row
            margin-bottom: 20px
        .btn, .btn:hover
            font-size: 20px
            padding: 10px 18px
            margin-top: 0px
.messages
    padding: 30px

.rsvp-left-column
    padding-top: 20px

.rsvp-right-column
    background: url('../img/photos/apply.jpg') 5% 20% no-repeat
    min-height: 650px
    padding: 10px
    opacity: 0.75

/* ---------------------
 Responsive design fixes
---------------------- */

@media (max-width: 1024px)

    h1
        font-size: 36px

    h2
        font-size: 26px

    #about
        background-attachment: scroll
        height: auto
        .overlay
            padding: 80px 0

    #apply
        background-attachment: scroll

    #coach
        background-attachment: scroll

    footer
        background-attachment: scroll
        background-position: 0

    #value
        .col-md-6:last-child
            margin-top: 40px

    #sponsors
        img
            max-width: 300px
            margin-top: 30px

    footer .social .twitter
        margin-top: 0px

    .navbar-default
        .navbar-nav
            .optional
                display: none

.sponsor-logos
    .col-md-3
        text-align: center
        padding-top: 30px

        img
            max-width: 80%
            height: auto

        p
            margin-top: 15px

#resources
    .row
        margin-bottom: 50px

    .cover
        float: left
        margin: 0 30px 0 0
        img
            border-radius: 3px

    .info
        p
            margin-bottom: 0
        .btn
            margin-bottom: 10px
            padding: 10px 30px

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px)
    #about .overlay
        padding-top: 50px
        padding-bottom: 50px

    #about
        background-position: 0

    h1
        font-size: 30px

    h2
        font-size: 24px

    footer .social .twitter
        margin: 50px 0 0 12px

    #sponsors
        .row
            padding: 0 0 30px 0

    .navbar-default
        .navbar-nav
            width: auto
            padding-left: 0px
            li
                height: auto
                padding-top: 10px
                a
                    color: black

    .navbar-default .navbar-collapse
        border: 0px !important
        margin-top: 20px

@media only screen and (max-width : 320px)
    #about
        .overlay
            h1
                font-size: 50px

            h2
                font-size: 30px

@import "common"
