{% extends 'global/base.html' %}
{% load i18n static %}

{% block content %}
    <div class="container">
        <section id="stories">
            <div class="row">
                <div class="col-md-12">
                    <h2>{% trans "Django Girls Story" %}</h2>
                    <p>
                        {% blocktrans trimmed %}
                            “Your Django Story” is a volunteer-run interview series for the Django Girls blog that features women
                            who make awesome things with Python and Django.
                        {% endblocktrans %}
                    </p>

                    <p>
                        {% blocktrans trimmed %}
                            Each week we feature a new developer who tells us about how she got started on her journey with code,
                            what she did before becoming a programmer, the cool things she’s currently working on, and much more.
                            Each interview also features advice for aspiring developers, which is always a great read!
                        {% endblocktrans %}
                    </p>

                    <p>
                        {% blocktrans trimmed %}
                            Many of the women we’ve featured got their start at Django Girls workshops, and went on to found
                            their own companies, secure full-time jobs as developers, and run Django Girls events.
                        {% endblocktrans %}
                    </p>

                    <p>
                        {% blocktrans trimmed %}
                        If you would like to suggest someone to be featured in “Your Django Story” (or would like to nominate yourself!), please <a href="mailto:story@djangogirls.org">contact us!</a>
                        {% endblocktrans %}
                    </p>
                </div>
            </div>

            <div class="row">
                {% for story in stories %}
                    {% include 'includes/_story.html' with story=story %}
                    {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
                {% endfor %}
            </div>

        </section>

    </div>

{% endblock %}
