{% extends 'global/base.html' %}
{% load static %}

{% block content %}

    <div class="container">

        <section>
            <div class="row clearfix">
                <div class="col-md-12">
                    <h2>Why give to the Django Girls Foundation?</h2>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-6">
                    <h3>Our mission:</h3>
                    <p>Django Girls is a volunteer-run <a href="{% url 'core:foundation' %}">registered charity</a>.
                    We use your generous donations to teach thousands of women to build websites
                    using Python and Django by providing resources and tools volunteer organizers all over the world.</p>

                    <p>Since July 2014, our workshops have reached {{ attendees_sum|default_if_none:'0' }} women in {{ countries_count|default_if_none:'0' }} countries and our <a href="https://tutorial.djangogirls.org/">online tutorial</a> has been read by more than 500 000 people.</p>

                    <p>We're transparent about our finances. See our <a href="{% url 'core:year_2016_2017' %}">Annual Report for 2016-2017</a>
                    to see how we spend donations and what impact they made.</p>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive center-block" alt="A woman looking at her laptop during Django Girls Lagos 2016." src="{% static 'img/global/donate/lagos.jpg' %}">
                </div>
            </div>
        </section>

        <section id="support">
            <div class="row clearfix">
                <div class="col-md-12">
                    <h2>Start supporting Django Girls Foundation today 💕</h2>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12">
                    <h3>Monthly donations</h3>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-6">
                    <p>If you would like to setup a recurring donation, we encourage you to do so via our <a href="https://www.patreon.com/djangogirls" target="_blank">Patreon page</a>. Our pledges start at 5 USD per month.</p>

                    <p>Are you a company interested in sponsoring us? Our <a href="https://goo.gl/P9YbdI">corporate sponsorships</a> start at 100 USD per month. <a href="{% url 'contact:contact' %}">Contact us!</a> 📨</p>
                </div>

                <div class="col-md-6">
                    <p><span class="highlighted-number">$681</span> of <span class="highlighted-number">$1,500</span> monthly goal pledged</p>
                        <div class="support-bar">
                            <div class="pledge" style="width: 45%">45%
                            </div>
                        </div>
                        <a class="btn" href="http://patreon.com/djangogirls">Make a recurring donation on Patreon</a>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-6">
                    <h3>One-time donations</h3>
                    <p>You can send us a one-time donation via PayPal to <a href="mailto:hello@djangogirls.org">hello@djangogirls.org</a></p>

                    <p>If you would like to discuss a bigger partnership or a corporate sponsorship, <a href="{% url 'contact:contact' %}">please get in touch.</a></p>
                </div>

                <div class="col-md-6">
                    <h3>Other ways of supporting us</h3>
                    <h4>Humble Bundle Store</h4>
                    <p>If you like video games, you can choose Django Girls as your designated charity in the
                        <a href="https://www.humblebundle.com/store?charity=129929">Humble Bundle Store</a>! 🎮</p>
                </div>
            </div>
        </section>

        <section id="supporters">
            <div class="row clearfix">
                <div class="col-md-12">
                    <h2>They already support us:</h2>
                        {% include 'includes/_main_sponsors.html' %}
                </div>
            </div>
        </section>

        <section>
            <div class="row clearfix">
                <div class="col-md-12">
                    <h2>Our current projects that will benefit from your help</h2>
                    <h3>Django Girls Awesomeness Ambassador:</h3>

                    <p>In September 2015, <a href="http://blog.djangogirls.org/post/127160095788/meet-our-awesomeness-ambassador-lucie">the
                        Foundation hired a part-time contractor</a> to help with the daily operations of the organization. After year and a half,
                        Django Girls’ 1st Awesomeness Ambassador <a href="http://blog.djangogirls.org/post/128559723068/your-django-story-meet-lucie-daeye">
                            Lucie Daeye</a> resigned to start her new adventure as Systems Engineer at Mapbox. </p>
                    <p>In June 2017, <a href="https://blog.djangogirls.org/post/161441111423/claire-wicher-joins-django-girls-as-awesomeness">
                        Claire Wicher</a> joined us as our Awesomeness Ambassador to take over from where Lucie left.
                        <a href="https://blog.djangogirls.org/post/161441111423/claire-wicher-joins-django-girls-as-awesomeness">Claire Wicher</a> as
                        our Awesomeness Ambassador, is in charge of responding to organizer's requests, handling our mail, improving our processes,
                        doing administrative tasks, updating the blog and newsletter, and maintaining the website and resources.</p>

                    <p>Your donations will help us make her position secure.</p>

                    <h3>Django Girls Fundraising Coordinator:</h3>

                    <p>In June 2017, we introduced the role of <a href="https://blog.djangogirls.org/post/162673547790/anna-makarudze-joins-as-the-django-girls">
                        Fundraising Coordinator</a> to help with coordinating the fundraising activities of the organization.
                        <a href="https://blog.djangogirls.org/post/162673547790/anna-makarudze-joins-as-the-django-girls">Anna Makarudze</a> as our
                        Fundraising Coordinator engages sponsors and the community to get funding to ensure the organization remains sustainable. </p>
                        <p>In August 2020, we also asked her to help us by providing technical support for our website, and
                            help maintain and keep our website up-to-date.</p>

                    <p>Your donations will help us make her position secure.</p>

                    <h3>Django Girls Summit:</h3>

                    <p>Django Girls Summit is a two days unconference where organizers will meet and share their experiences about Django Girls workshops.</p>

                    <p>Your donations will help us organize this event and give financial assistance to conference's attendees who need it.</p>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
