{% extends 'global/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">

        <section id="events">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Upcoming events
                        <a class="ical btn btn-default btn-xs" href="{% url 'core:icalendar' %}">ICAL</a>
                        <a class="ical btn btn-default btn-xs" href="{% url 'core:events_map' %}">MAP</a>
                    </h2>
                </div>
            </div>

            <div class="row">
                {% for event in future_events %}
                    {% include 'includes/_event.html' with event=event %}
                    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
                {% endfor %}
            </div>

            <section id="organize">
                {% include 'includes/_no_event.html' %}
            </section>            

            <div class="row past-events">
                <div class="col-md-12">
                    <h2>Past events</h2>
                </div>
            </div>

            <div class="row">
                {% for event in past_events %}
                    {% include 'includes/_event.html' with event=event %}
                    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
                {% endfor %}
            </div>

        </section>

    </div>

{% endblock %}
