{% extends 'global/base.html' %}
{% load static markdown_deux_tags %}

{% block title %}Django Girls FAQ{% endblock %}

{% block content %}
    <div class="container without-background" id="flatpage">
        <div id="value" class="row">
            <div class="col-md-12">
                <h1>FAQ: Frequently Asked Questions</h1>

                <p>Django Girls events have been happening all over the world for a while now, and we get some repeat
                    questions. If you need more help: <a href="{% url 'contact:contact' %}">contact us</a>!</p>

                <h2>Django Girls workshops</h2>
                {% include 'includes/_faq.html' %}

                <h2>Django Girls in general</h2>

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
		            <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Django_Girls_sexist"><strong>Q: Isn't Django Girls sexist?</strong></a>
		            </div>
                    <div id="Django_Girls_sexist" class="panel-collapse collapse">
                        <div class="panel-body">
                    <p>A: It really isn't, but we can understand why people might feel that way.
                    We've found that by having a women-only space for learning Python and Django,
                    women are more comfortable participating. See
                    <a href="http://jennifermann.ghost.io/minority-groups-in-tech-is-it-just-reverse-sexism/"
                       target="_blank">this essay</a>
                    on "<a href="http://geekfeminism.wikia.com/wiki/Reverse_sexism" target="_blank">reverse
                        sexism</a>" and
                    Rails Girls to see what we mean. If you're having the knee-jerk reaction that
                    reaching out specifically to women hurts men, or hurts diversity efforts in
                    other areas, we encourage you to read
                    <a href="https://hynek.me/articles/how-i-stopped-worrying-and-started-loving-pyladies/"
                       target="_blank">How I Stopped Worrying and Started Loving Pyladies</a>
                    by Hynek Schlawack. One particularly relevant quote is this:</p>

                <blockquote>
                    <p>Outreach programs don't divide our community. They incubate people which
                        aren't comfortable to cope with us from the beginning on and grow our community
                        in the long term.</p>

                    <p>It doesn't really matter whose fault the initial discomfort is. Whether
                        they're being over-sensitive (hint: <a
                                href="http://therealkatie.net/blog/2012/mar/21/lighten-up/" target="_blank">they
                            aren't</a>)
                        or whether we're a bunch of a**holes (I know you aren't). The facts are these:
                        if we want underrepresented people to enrich our community, we have to look for
                        pragmatic ways to get them in. Even if the methods don't seem sound to us on the
                        first sight to us.</p>

                    <p>"Yes, but..." discussion don't help. PyLadies – and similar
                        outreach groups – found a way that works. So be thankful to their organizers for doing this! And
                        again: if you know of a better way, stop sh*tting on their approach and go for
                        it! The world isn't binary; the more approaches, the more diversity, the better.</p>
                </blockquote>

                <p>Also, not all Django Girls events are exclusive to women. Our organizer's manual
                    encourages organizers to use our materials to put on workshops for women <em>and</em>
                    for mixed-gender groups. We've also open-sourced all of our content, so if you
                    like our tutorial but don't want to put on a Django Girls event with it, feel
                    free to fork it, credit us for the content, but rebrand it into something that
                    works for your goals.</p>

                <p>We don't want to get men <em>out</em> of programming; we just want to bring more women
                    <em>in</em>. There are already a lot of other bootcamps, workshops, meetups, and groups
                    that are "mixed gender," but are really mostly men. We've found that by limiting
                    our workshop to a majority of women participants, women are more comfortable
                    signing up, asking questions, getting involved, and even staying involved later
                    on. And that's a good thing!</p>
                        </div>
                    </div>
                    </div>

                    <div class="panel panel-default">
		            <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Django_Girls_trans_inclusive"><strong>Q: Are Django Girls events trans-inclusive?</strong></a>
		            </div>
                    <div id="Django_Girls_trans_inclusive" class="panel-collapse collapse">
                        <div class="panel-body">
                <p>A: Yes! We encourage you to make this explicit on your website. Some events have used this
                    wording: </p>

                <blockquote>
                    <p>We are trans-inclusive and welcome applications from all women. </p>
                </blockquote>

                <p>You can add this to your FAQ, or to your event description on your event website. If you'd like
                    to learn more about trans people, you might want to take a look at <a
                            href="http://www.thegenderbook.com/" target="_blank">this illustrated book about gender</a>,
                    <a href="http://www.roostertailscomic.com/comic/queer-101-third-edition/" target="_blank">this
                        comic</a>, or any of the many other introductions to trans issues on the internet. Thanks to the
                    <a href="http://kit.pyladies.com/en/latest/faqs.html" target="_blank">PyLadies FAQ</a> for pointing
                    us to these excellent resources.</p>
                        </div>
                    </div>
                    </div>

                	<div class="panel panel-default">
		            <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Django_Girls_for_men"><strong>Q: Is there a Django Girls for men?</strong></a>
		            </div>
                    <div id="Django_Girls_for_men" class="panel-collapse collapse">
                        <div class="panel-body">
                <p>A: There doesn't seem to be a need for Django Boys at the moment. But all of our content,
                    including our tutorial and this manual, is open sourced, so if you'd like to start a workshop
                    aimed at another audience, we encourage you to do so! We support you starting an organization that
                    reaches an audience you care about. All the resources we've created, including the tutorial and
                    this manual, are open sourced under Creative Commons Attribution 4.0 International (CC BY 4). This
                    means that you can modify, distribute and use commercially, but you cannot sublicense and you have
                    to give us credit and include copyright.</p>
                        </div>
                    </div>
                    </div>

                </div>
    </div>
</div>
{% endblock %}
