{% extends 'global/base.html' %}
{% load static markdown_deux_tags %}

{% block title %}Django Girls Dispatch - Newsletter{% endblock %}

{% block content %}
    <div class="container without-background" id="flatpage">
          <div id="value" class="row">
              <div class="col-md-12">
                  <h1>Django Girls Dispatch</h1>

                  <p>
                      We're sending a biweekly newsletter to friends and strangers
                      who support us and are curious how we're doing. 
                  </p>
              </div>
          </div>
          <div class="row" style="margin-top: 20px">
              <div class="col-md-12">
                  <h2>Subscribe</h2>
                  
                  <p>
                      We don't send advertisements or spam, and we won't share your email with anyone. <br />
                      We just send a biweekly dispatch and awesome announcements about things we're proud of.
                  </p>
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//djangogirls.us8.list-manage.com/subscribe/post?u=5a007b2dabdeddc350bdbbaed&amp;id=d278270e6f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5a007b2dabdeddc350bdbbaed_d278270e6f" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
</form>
</div>

<!--End mc_embed_signup-->
              </div>
          </div>

        <div class="row display_archive">
            <div class="col-md-12">
                <h2>Past editions</h2>
                    <script language="javascript" src="//djangogirls.us8.list-manage.com/generate-js/?u=5a007b2dabdeddc350bdbbaed&fid=14473&show=10" type="text/javascript"></script>
                </div>
            </div>
        <div class="col-md-12">
          <div class="row newsletter-archive">
                  <script type="text/javascript" src="https://djangogirls.createsend.com/t/i/p/mtyuh/-1/1/0/1/0/"></script>
              </div>
          </div>
        </div>
{% endblock %}
