{% extends 'global/base.html' %}
{% load i18n static %}

{% block title %}{% trans "Terms and Conditions of use of Django Girls Website" %}{% endblock %}
{% block description %}{% trans "Welcome to our terms and conditions page. We’ve tried to make it easy to follow so that you know exactly where you stand when you order from us. Please read it through and, if there is anything you don’t understand, get in touch and we’ll do our best to explain." %}{% endblock %}

{% block content %}
    <section id="textonly-pages">
            <div class="row clearfix">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                    <h1>{% trans "Terms and Conditions of use of Django Girls Website" %}</h1>

                    <p>
                      {% blocktrans trimmed %}
                        <b>We</b> are Django Girls Foundation, Registered Charity Number 1163260 whose address is United House, North Road, London N7 9DP
                      {% endblocktrans %}
                    </p>
                    <p>{% blocktrans %}<b>Site</b> is djangogirls.org{% endblocktrans %}</p>
                    <p>{% blocktrans %}<b>You</b> are a visitor to our Site{% endblocktrans %}</p>

                    <p>
                      {% blocktrans trimmed %}
                        Welcome to our terms and conditions page. We’ve tried to make it easy to follow so that you know exactly
                        where you stand when you order from us. Please read it through and, if there is anything you don’t understand,
                        get in touch and we’ll do our best to explain.
                      {% endblocktrans %}
                    </p>
                    <div class="important">
                        <p>{% trans "By entering our site you are accepting these T&Cs" %}</p>
                    </div>

                    <p>
                      {% blocktrans trimmed %}
                        One other thing we need to say is that we do change these T&Cs from time to time and so you <b>must</b> always
                        visit this page to see what changes we’ve made – we’ll assume that you have each time you contact us.
                      {% endblocktrans %}
                    </p>

                    <h3>{% trans "Agreement" %}</h3>
                    <p>
                        {% trans "This page is meant to form the basis of the relationship between us and both you and we agree to be bound by what it says." %}
                    </p>

                    <h3>{% trans "Definition" %}</h3>
                    <p>{% trans "There are some definitions at the bottom of the page." %}</p>

                    <h3>{% trans "You promise us:" %}</h3>
                    <ul>
                        <li>{% trans "That you have the right to agree these T&Cs with us and that you are over the age of 18 years." %}</li>
                        <li>{% trans "That if you follow any links we have on the Site, you will read the terms and conditions on the sites we link you to." %}</li>
                        <li>{% trans "That you won’t use robots, spiders, scrapers or similar things on the Site." %}</li>
                        <li>{% trans "That you won’t try to get around any things we put on the Site to stop or limit access to parts of it." %}</li>
                        <li>{% trans "That you won’t do anything that might cause our systems to crash." %}</li>
                        <li>{% trans "That you won’t steal, borrow, copy or otherwise obtain the Site or any part of it for use in any other site or application for any use which conflicts with the aims and ideals which we publish from time to time on the Site." %}</li>
                        <li>{% trans "That you won’t try to modify, translate, adapt, edit, decompile, disassemble or reverse engineer any programs we use in connection with the Site or the services it offers for any purpose which is inconsistent with the aims and ideals which we publish from time to time on the Site." %}</li>
                        <li>{% trans "That you won’t copy, imitate or use the trademarks and/or designs and/or layout or anything else which would usually amount to intellectual property and which we own." %}</li>
                    </ul>

                    <h3>{% trans "Intellectual property" %}</h3>
                    <p>{% trans "Either we or third parties own all of the information and intellectual property on the Site." %}</p>

                    <p>
                      {% blocktrans trimmed %}
                        We’re quite happy for you to use information or intellectual property on the Site which belongs to us provided
                        that you ask for our permission (in writing) first.  We may impose conditions on your use of that information or
                        intellectual property. If you want to use any of our information or intellectual property as an Organiser then
                        you must comply with our Organiser terms and conditions which you can view <a href="http://organize.djangogirls.org/">here</a>.
                      {% endblocktrans %}
                    </p>

                    <h3>{% trans "Price and payment" %}</h3>
                    <p>
                      {% blocktrans trimmed %}
                        We make no charge for the service we offer to individuals through the Site and most other services we offer are free of charge.
                      {% endblocktrans %}
                    </p>

                    <p>
                    {% url 'donations:index' as donations_url %}
                      {% blocktrans trimmed %}
                        If you wish to make a donation for the use of any of our services, go to our <a href="https://www.patreon.com/djangogirls">Patreon page</a> or
                        <a href="{{ donations_url }}">our donate page</a>.
                      {% endblocktrans %}
                    </p>

                    <h3>{% trans "Use of communications facilities" %}</h3>

                    <p>{% trans "When submitting content for us to publish on the Site or using any forums or chat rooms on the Site and/or any other similar system on the Site and when using Facebook, Wordpress or any other external communication system to contact us, you must do so in accordance with the following rules:" %}</p>
                    <ul>
                        <li>{% trans "you must not use language that may be offensive to other Users;" %}</li>
                        <li>{% trans "you must not submit Content that is unlawful or otherwise objectionable.  This includes, but is not limited to, Content that is abusive, threatening, harassing, defamatory, ageist, sexist or racist;" %}</li>
                        <li>{% trans "you must submit no Content that is intended to promote or incite violence;" %}</li>
                        <li>{% trans "Content must be posted, and communications with us must be made, using the English language;" %}</li>
                        <li>{% trans "you must not post links to other sites containing any of the above types of Content;" %}</li>
                        <li>{% trans "the means by which you identify yourself must not violate these T&Cs or any applicable laws;" %}</li>
                        <li>{% trans "you must not engage in any form of commercial advertising. This does not prohibit references to businesses for non-promotional purposes including references where advertising may be incidental;" %}</li>
                        <li>{% trans "you give us the right to publish the material you have submitted to us anywhere and for whatever reason we choose and we don’t have to pay you a fee or acknowledge you as the author;" %}</li>
                        <li>{% trans "you must not impersonate other people, particularly our employees and representatives and those of our affiliates; and" %}</li>
                        <li>{% trans "you must not use our System for unauthorised mass communication such as “spam” or “junk mail”." %}</li>
                    </ul>

                    <p>{% trans "You acknowledge that we have the right to monitor any and all communications made to us or using our System." %}</p>

                    <p>{% trans "You acknowledge that we may retain copies of any and all communications made to us or using our System." %}</p>

                    <p>
                      {% blocktrans trimmed %}
                        You agree that we can modify any information you send to us in any way and you agree that you have no moral right to be
                        identified as the author of that information. Unless we have agreed them with you in advance, we don’t have to comply
                        with any restrictions you put on our use of that information.
                      {% endblocktrans %}
                    </p>

                    <h3>{% trans "Privacy and cookies" %}</h3>

                    {% url "core:privacy-cookies" as cookies_url %}
                    <p>
                      {% blocktrans trimmed %}
                        We and you both agree that <a href="{{ cookies_url }}">our Privacy and Cookie Policy</a> forms part of these T&Cs.
                      {% endblocktrans %}
                    </p>

                    <h3>{% trans "Disclaimers" %}</h3>

                    <p>{% trans "We have tried to make sure of the following things:" %}</p>

                    <ul>
                        <li>{% trans "that the Site will meet your needs;" %}</li>
                        <li>{% trans "that all the information we publish is correct, up to date and not misleading;" %}</li>
                        <li>{% trans "that the Site always works properly;" %}</li>
                        <li>{% trans "that the Site is fit for the purpose you need;" %}</li>
                        <li>{% trans "that the Site doesn’t infringe the rights of others;" %}</li>
                        <li>{% trans "that the Site will work with all systems; and" %}</li>
                        <li>{% trans "that the Site is secure," %}</li>
                    </ul>

                    <p>{% trans "but we can’t guarantee those things and, by agreeing to these T&Cs you are confirming that you accept that situation." %}</p>

                    <p>
                      {% blocktrans trimmed %}
                        We take all reasonable effort to test material before placing it on the Site. In the very unlikely event of any loss,
                        disruption or damage caused by material on the Site, we cannot be held responsible for any loss, disruption or damage
                        to your data or computer system which may occur.
                      {% endblocktrans %}
                    </p>

                    <p>{% trans "The only rights you have under these T&Cs are those mentioned within them. If a right is not mentioned (unless it is a right given to you under the laws of England and Wales) then it does not exist." %}</p>

                    <p>
                      {% blocktrans trimmed %}
                        If you find an error, problem or bug when using any of the services or facilities we provide on the Site you agree either to
                        notify us by submitting a pull request to the following <a href="https://github.com/DjangoGirls/djangogirls/">address</a> or
                        to open an issue with us using the Site facilities. Whilst we will always endeavour to resolve any of the issues referred to
                        in this paragraph we do not make any warranty that we will be able to achieve any specific outcome.
                      {% endblocktrans %}
                    </p>

                    <h3>{% trans "Events" %}</h3>

                    <p>{% trans "Events organised through the Site are usually organised by third parties and not by us. Although we set out guidelines for all organisers to follow we have no control over whether those guidelines are followed or not. For this reason and to the maximum extent permitted by law, we accept no liability for any direct or indirect loss or damage, foreseeable or otherwise, including any indirect, consequential, special or exemplary damages arising from your booking or attendance at an Event or from anything arising from it." %}</p>

                    <p>{% trans "You accept that all issues arising relating to an Event must be addressed to the Event Organiser." %}</p>

                    <h3>{% trans "Problems" %}</h3>

                    <p>{% trans "We do our very best to make sure that you do not experience any problems when using the Site but if you do, you must tell us straight away." %}</p>

                    <p>{% trans "We will do what we can to resolve the problem as quickly as we can and without charge to you if we agree that you have a problem." %}</p>

                    <h3>{% trans "Availability of the site" %}</h3>

                    <p>{% trans "We never guarantee that the Site will be available all the time and if it’s not available for any reason we cannot be held responsible for anything you lose as a result." %}</p>

                    <p>{% trans "We have the right to change the Site and the services it offers, suspend it or stop it at any time." %}</p>

                    <h3>{% trans "Limitation of liability" %}</h3>

                    <p>{% trans "To the maximum extent permitted by law, we accept no liability for any direct or indirect loss or damage, foreseeable or otherwise, including any indirect, consequential, special or exemplary damages arising from your use of the Site or any information contained in it." %}</p>

                    <p>{% trans "You use the Site and its Content at your own risk." %}</p>

                    <p>{% trans "Nothing in these T&Cs excludes or restricts our liability for death or personal injury resulting from any negligence or fraud on our part." %}</p>

                    <h3>{% trans "Linking" %}</h3>

                    <p>{% trans "We don’t control any of the websites we link to and so we can’t be responsible for the content of such websites and we disclaim liability for any losses which come out of you using them." %}</p>

                    <p>{% trans "Just because we link to a site does not mean that we endorse or recommend that site." %}</p>

                    <p>{% trans "We can never guarantee that a link will work." %}</p>

                    <p>{% trans "If you find any link we offer to be offensive, please let us know and we will consider removing it." %}</p>

                    <p>{% trans "If you link to any other site using the Site then you understand that separate conditions will apply to those sites and that we have no control over those conditions – so you agree that you will read and understand them before using those sites." %}</p>

                    <p>{% trans "If you wish to link to the Site you may link to our Home page on the following conditions:" %}</p>

                    <ul>
                        <li>{% trans "the link mustn’t damage our reputation;" %}</li>
                        <li>{% trans "the link must be fair and legal;" %}</li>
                        <li>{% trans "you can only link from a site that you own;" %}</li>
                        <li>{% trans "you can’t suggest that we are associated with you, endorse you and approve of you in any way; and" %}</li>
                        <li>{% trans "you mustn’t frame our Site on any other site." %}</li>
                    </ul>

                    <p>{% trans "We always have the right to break any link you make even if we can’t give a reason for our decision." %}</p>

                    <h3>{% trans "Modifications to these T&Cs & the site" %}</h3>

                    <p>
                      {% blocktrans trimmed %}
                        We’ve already said this, but we need to make it clear that these T&Cs will change from time to time and
                        we don’t have the resources to let all our visitors know about the changes. As a result you MUST come
                        back to this page to make sure that we haven’t changed these T&Cs and whenever you access the Site,
                        you are confirming to us that you are aware of any changes.
                      {% endblocktrans %}
                    </p>

                    <p>{% trans "We’ve also got the right to change the Site as and when we want to, but these T&Cs will still apply to any changes we make." %}</p>

                    <h3>{% trans "General stuff" %}</h3>

                    <ul>
                        <li>{% trans "<i>Operative Law</i> – these T&Cs are made under the laws of England and Wales and that is the only jurisdiction which can govern it." %}</li>
                        <li>{% trans "<i>Partnership/Joint Ventures</i> – we and you agree that the agreement between us does not form the basis of any partnership or co-venture." %}</li>
                        <li>{% trans "<i>Effect of Agreement</i> – the current agreement between us and you supersedes any previous agreement in relation to the matters dealt with and represents the entire understanding between us and you" %}</li>
                        <li>{% trans "<i>Time of the Essence</i> – time will not be of the essence in any part of the agreement between us and you." %}</li>
                        <li>{% trans "<i>Warranties</i> – all parties acknowledge and agree that they have not entered into thie agreement between us and you in reliance on anything said or promised by the other which is not in these T&Cs." %}</li>
                        <li>{% trans "<i>Force Majeure</i> – if something outside our control happens and that prevents us from performing our services then you accept that we are not liable for the consequences of that failure (this includes such things as strikes, riots, fires, explosions, war, floods and so on). If such an event does happen we will tell you as soon as we are able and resume the service as soon as we can. If we cannot perform the service within a reasonable time, we can cancel it and if we do we will refund to you a fair and reasonable proportion of any payment you have made to us." %}</li>
                        <li>{% trans "<i>Unenforceability</i> – if a Court or other body says that any part of these T&Cs is unenforceable, the rest of them will stand." %}</li>
                        <li>{% trans "<i>Notices</i> – if either you or we need to give formal notice to the other it must be done by email to the address that each of us gives to the other from time to time." %}</li>
                        <li>{% trans "<i>Entire Agreement</i> – these T&Cs contain the entire understanding between us." %}</li>
                    </ul>

                    <h3>{% trans "The Schedule" %}</h3>

                    <h4>{% trans "Definitions" %}</h4>

                    <p>{% trans "<b>Consumer legislation</b> means the Consumer Contracts (Information, Cancellation and Additional Charges) Regulations 2013." %}</p>
                    <p>{% trans "<b>Content</b> means any text, graphics, images, audio, video, software, data compilations and any other form of information capable of being stored in a computer that appears on or forms part of the Site." %}</p>

                    <p>{% trans "<b>Event</b> means any event organised by an Organiser using the material we offer on the Site." %}</p>

                    <p>{% trans "<b>Organiser</b> means the organiser or promoter of an Event." %}</p>

                    <p>
                      {% blocktrans trimmed %}
                        <b>System</b> means the communications and other system or systems we use in connection with the Site.
                        means the communications and other system or systems we use in connection with the Site.
                      {% endblocktrans %}
                    </p>

                    <p>{% trans "<b>T&Cs</b> means these terms and conditions." %}</p>

                    <p>{% trans "<b>User</b> means any person, firm or company using the Site for any purpose." %}</p>
                </div>
            </div>
         </section>
{% endblock %}
