{% extends 'global/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <section id="resources">
            <div class="row clearfix">
                <div class="col-md-12">
                  <h2>Order Django Girls Workshop Box for your event!</h2>
                  <p>Get a golden envelope full of Django Girls stickers, gold letter balloons,
                    stickers of our partners, buttons and nametags. <br /> Everything you need
                    to make your workshop DjangoGirlsy!</p>
                  <center>
                    <video style="width: 50%; margin-top: 30px;" autoplay>
                      <source src="https://s3-us-west-2.amazonaws.com/djangogirls/workshop_box.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  </center>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-6">
                  <h3>How it works?</h3>
                  <p>We purchased Django Girls goodies in bulk quantity, which 
                    massively lowered their price. This means we can better use
                    everyone's money and time spent on those kind of things. 
                    Now we're gonna ship it from London to  Django Girls workshops from all 
                    over the world to so you can all spend
                    your sponsors money better! YAY!</p>
                    <p>
                      We calculated that one event would need to pay around $150 USD for all of those things, and sometimes
                      they're hard to get. We're able to buy and ship them all for around $50. 
                    </p>
                </div>
                <div class="col-md-6">
                  <h3>What's in the box?</h3>
                  <p>
                    The shiny beautiful envelope contains many awesome things:
                    <ul>
                      <li>Django Girls logo stickers</li>
                      <li>YAY! stickers</li>
                      <li>Pixel Heart stickers</li>
                      <li>Some stickers from our global partners</li>
                      <li>Sticky orange nametags</li>
                      <li>Gold letters DJANGOGIRLS balloons, 16 inches tall</li>
                      <li>Orange Django Girls logo buttons</li>
                      <li>Little surprise, sometimes, maybe? ;-)</li>
                    </ul>
                  
                </div>
                <div class="col-md-6">          
                  <h3>How much is it?</h3>
                  <p>Free! But. For our first trial period, we ordered enough goodies for
                    about 3000 people attending our events. This purchase has been covered
                    by donations made to Django Girls Foundation, and it means 
                    we want to keep the boxes free for everyone. However going 
                    forward we need to make it sustainable. That's why we ask
                    for <a href="{% url 'core:donate' %}">an optional donation</a>. If your event can afford to cover 
                    the costs of the box (~$50), we kindly ask you to <a href="{% url 'core:donate' %}">donate</a>.
                    If you have money leftover from the workshop: <a href="{% url 'core:donate' %}">donate it</a> and 
                    <i>pay it forward</i> to send boxes to those events that cannot yet afford it.</p>
                </div>
                <div class="col-md-6">
                    <h3>I want it!</h3>
                    <p>Yay, that's great! In order to receive it, there are few requirements you need to meet:
                      <ul>
                        <li>Application process for your event needs to already be open</li>
                        <li>You need to order it at least 6 weeks before workshop to allow for shipping time</li>
                      </ul>
                      <p>
                        One little thing: during the trial period, we can only send one free box per city. 
                        If you want another one, we will ask you for a donation of $50. Thanks for understanding!
                      </p>
                </div>
                <div class="col-md-12">
                  <h3>Order your box now:</h3>
                  <div class="typeform-widget" data-url="https://djangogirls1.typeform.com/to/M3VLKb" data-text="Order Workshop Box" style="width:100%;height:500px;"></div>
                </div>
            </div>
        </section>
    </div>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
{% endblock %}
