<div class="row">
	<div class="col-md-6">
		<h2>Be a Mentor!</h2>
		<p>
			We would be delighted if you would like to join us as a mentor!
			<a href="{% url 'contact:contact' %}">Contact us</a> if you're interested ❤️
		</p>
	</div>

	<div class="col-md-6">
		<h2>Django Girls</h2>
		<p>
			This workshop is a part of bigger initiative: <a href="http://djangogirls.org/">Django Girls</a>.
			It is a non-profit organization and events are organized by volunteers in different places of the world.
		</p>
		<p>
			To see the source for the program find us on Github:
			<a href="https://github.com/DjangoGirls/">github.com/DjangoGirls</a>.
		</p>
		<p>
			If you want to bring Django Girls to your city, <a href="{% url 'contact:contact' %}">drop us a line</a>
		</p>
	</div>
</div>
