<div class="row">
	<div class="col-md-4">
		<p>
			<b>Do I need to know anything about websites or programming?</b>
		</p>
		<p>
			No! Workshops are for beginners. You don’t need to know anything about it. 
			However, if you have a little bit of technical knowledge (i.e. you know what HTML or CSS are) you still can apply!
		</p>
	</div>

	<div class="col-md-4">
		<p>
			<b>I am not living in Germany, can I attend?</b>
		</p>
		<p>
			Of course! Workshops will be in English, so if you have no troubles with speaking 
			and understanding English - you should apply. If you need financial aid to get to 
			Berlin or you need assistance with booking flights or hotel in Berlin - let us know. 
			We are willing to help you!
		</p>
	</div>

	<div class="col-md-4">
		<p>
			<b>Should I bring my own laptop?</b>
		</p>
		<p>
			Yes. We have no hardware, so we expect you to bring your computer with you. 
			It is also important for us that you will take home everything you’ll write and create during workshops. 
		</p>
	</div>
</div>

<div class="row" style="margin-top: 30px">
	<div class="col-md-4">
		<p>
			<b>Do I need to have something installed on my laptop? </b>
		</p>
		<p>
			It would be helpful to have Django installed before workshops, but wouldn't
			expect you to install anything on your own.We will make sure that one of our
			coaches will help you out with this task. 
		</p>
	</div>

	<div class="col-md-4">
		<p>
			<b>Is EuroPython conference good for a total beginner?</b>
		</p>
		<p>
			As a workshop attendee you will get a free ticket to EuroPython - conference for Python programmers. 
			Even though you are new to programming,conference is a good place to meet many interesting people 
			in the industry and find inspiration.
		</p>
	</div>

	<div class="col-md-4">
		<p><b>Is food provided? </b></p>
		<p>Yes. Thanks to EuroPython, snacks and lunch will be served during workshops. </p>
	</div>
</div>