<div class="row social">

	<div class="col-md-4">
		<div class="facebook">
			<div class="fb-page"
			     data-href="https://www.facebook.com/djangogirls"
			     data-small-header="true"
			     data-adapt-container-width="true"
			     data-hide-cover="true"
			     data-show-facepile="false"
			     data-show-posts="false"
			>
				<div class="fb-xfbml-parse-ignore">
					<blockquote cite="https://www.facebook.com/djangogirls">
						<a href="https://www.facebook.com/djangogirls">Django Girls</a>
					</blockquote>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="twitter">
			<a href="https://twitter.com/djangogirls"
			   class="twitter-follow-button"
			   data-show-count="false"
			   data-size="large"
			>
				Follow @djangogirls
			</a>
		</div>
	</div>

	<div class="col-md-4">
		<a href="{% url 'core:contact' %}">Get in touch</a><br>
		<br><br>
	</div>
</div>

<div class="row credits">
	<div class="col-md-12">
		♥ Django Girls Europe is organized by <a href="http://twitter.com/olasitarska">Ola Sitarska</a>
		and <a href="http://twitter.com/asednecka">Ola Sendecka</a> with the support from 
		<a href="http://europython.eu/">EuroPython 2014</a>.<br>

		Django Girls Europe is a part of <a href="/">Django Girls</a>.
		<br>Every participant needs to follow the <a href="/pages/coc/">Code of Conduct</a>.
	</div>
</div>
