<div class="row">
	<div class="col-md-6">
		<h3>Django Girls</h3>
		<p>
			If you are a female and you want to learn how to make websites, 
			we have good news for you! We are holding a one-day workshop for beginners!
	    </p>

		<p>
			It will take place on <strong>21st of July</strong> in <strong>Berlin</strong>,
			on the first day of a big IT conference: <a href="http://europython.eu/">EuroPython</a>, 
			which gathers a lot of talented programmers from all over the world.
		</p>

		<p>
			We believe that IT industry will greatly benefit from bringing more women
			into technology. We want to give you an opportunity to learn how to program
			and become one of us - female programmers!
		</p>

		<p>
			Workshops are free of charge and if you can’t afford coming to Berlin,
			but you are very motivated to learn and then share your knowledge with others,
			we have some funds to help you out with your travel costs and accommodation. 
			Don’t wait too long - you can apply for a pass only until <strong>30th of June</strong>!
	 	</p>      
	 </div>      

	 <div class="col-md-6">
	 	<h3>Apply for a pass!</h3>
	 	<p>
	 		If you are a woman, you know English and have a laptop - you can apply
	 		for a pass! You don’t need to know any technical stuff - workshops
	 		are for people who are new to programming.
	 	</p>

	 	<p>
	 		As a workshop attendee you will:
	 		<ul>
	 			<li>attend one-day Django workshops during which you will create your first website</li>
	 			<li>get a free EuroPython ticket (which normally costs 400 €!), where you can meet people from the industry and learn more about programming</li>
	 			<li>be fed by us - during workshops and EuroPython food is provided</li>
	 		</ul>
	 	</p>

	 	<p>We have space only for 40 people, so make sure to fill the form very carefully!</p>
	 </div>
</div>