<div class="row">
	<div class="col-md-6">
		<h3>Django Girls</h3>
		<p>
			If you are a woman and want to learn how to make websites, we have
			good news for you: we are holding a one-day workshop for beginners!
	    </p>

		<p>
			It will take place on <strong>DAY, MONTH, YEAR</strong> at
			<strong>VENUE</strong> in <strong>CITY</strong>.
		</p>

		<p>
			We believe the IT industry will greatly benefit from bringing more women
			into technology. We want to give you an opportunity to learn how to
			program and become one of us &ndash; women programmers!
		</p>

		<p>
			Workshops are free of charge and if you cannot afford coming to CITY
			but are very motivated to learn and then share your knowledge with
			others, we may have some funds to help you out with your travel costs
			and accommodation. Don't wait too long: you can apply for
			the workshop only until <strong>DATE</strong>!
	 	</p>
	 </div>

	 <div class="col-md-6">
	 	<h3>Apply for the workshop!</h3>
	 	<p>
	 		If you are a woman, know English and have a laptop, you can apply
	 		for our event! You dont need to know any technical stuff &ndash; our
	 		workshop is for people who are new to programming.
	 	</p>

	 	<p>
	 		As a workshop attendee you will:
	 		<ul>
	 			<li>attend a one-day Django workshop during which you will create
	 			your first website</li>
	 			<li>be fed by us: during our event, food is provided</li>
	 		</ul>
	 	</p>

	 	<p>
	 		We have space only for XX people, so make sure to fill out the form
	 		very carefully!
	 	</p>
	 </div>
</div>