button.save {
  margin-top: 10px;
}
.white {
  color: #fff;
}
#community {
  padding: 30px 0 0 0;
}
#community h2 {
  margin-top: 40px;
}
#community h2 :first-child {
  margin-top: 20px;
}
#community .row {
  margin-bottom: 20px;
}
.checkbox {
  margin-left: 10px;
}
#job-table {
  max-width: 400px;
}
ol.breadcrumb li a {
  text-decoration: none;
}
#start_date_time,
#end_date_time {
  width: 250px;
}
