button.save {
  margin-top: 10px;
}
.white {
  color: #fff;
}
#community {
  padding: 30px 0 0 0;
}
#community h2 {
  margin-top: 40px;
}
#community h2 :first-child {
  margin-top: 20px;
}
#community .row {
  margin-bottom: 20px;
}
.checkbox {
  margin-left: 10px;
}
#job-table {
  max-width: 400px;
}
ol.breadcrumb li a {
  text-decoration: none;
}
#start_date_time,
#end_date_time {
  width: 250px;
}
.bootstrap-datetimepicker-widget .btn {
  color: #f7921d;
  background-color: transparent;
}
.bootstrap-datetimepicker-widget td.active {
  background-color: #f7921d !important;
}
#id_website,
#id_country,
#id_expiration_date_picker,
#id_meetup_type,
#id_meetup_start_date_picker,
#id_meetup_end_date_picker {
  max-width: 260px;
}
