button.save
    margin-top 10px

div#yourdatetimeid 
    width 250px

#community
    padding: 30px 0 0 0

    h2
        margin-top: 40px

        :first-child
            margin-top: 20px

    .row
        margin-bottom: 20px
.checkbox
    margin-left: 10px
#job-table
    max-width: 400px
ol.breadcrumb
    li
        a
            text-decoration: none
