.public-form {
  padding: 30px;
}
.public-form label {
  font-family: sans_font;
  color: #000;
  font-weight: 300;
}
.public-form p.help-text,
.public-form p.error {
  font-size: 16px;
  font-family: sans_font;
  color: rgba(0,0,0,0.6);
  margin: 0;
}
.public-form p.error {
  color: #f00;
}
.public-form span.required {
  color: mint;
}
.public-form input[type="email"],
.public-form input[type="text"] {
  padding: 5px 10px;
  width: 50%;
  border: 1px solid #e7e7e7;
  margin: 0;
}
.public-form input[type="text"].other {
  width: 45%;
  margin-top: 5px;
}
.public-form input[type="submit"] {
  background: #ffa500;
  border: 0;
  color: #fff;
  font-family: sans_font;
  font-size: 18px;
  padding: 5px 15px;
  font-weight: 300;
  text-decoration: none;
}
.public-form input[type="checkbox"],
.public-form input[type="radio"] {
  margin-right: 10px;
}
.public-form .field {
  margin: 10px 0 30px 0;
}
.public-form .field label {
  font-family: serif_font !important;
  color: #808080;
}
.public-form .field p {
  margin: 0;
}
.public-form .field ul {
  list-style-type: none;
  padding: 0;
}
.public-form .field.with-errors input[type="text"],
.public-form .field.with-errors textarea {
  border-color: #f00;
}
input[type="text"],
input[type="number"] {
  padding: 5px 10px;
  width: 50%;
  border: 1px solid #e7e7e7;
  margin: 0;
}
textarea {
  padding: 5px 10px;
  width: 50%;
  border: 1px solid #e7e7e7;
  margin: 0;
  height: 150px;
}
input[type="submit"] {
  background: #ffa500;
  border: 0;
  color: #fff;
  font-family: sans_font;
  font-size: 18px;
  padding: 5px 15px;
  font-weight: 300;
  text-decoration: none;
}
