button.save {
  margin-top: 10px;
}
.white {
  color: #fff;
}
#community {
  padding: 30px 0 0 0;
}
#community h2 {
  margin-top: 40px;
}
#community h2 :first-child {
  margin-top: 20px;
}
#community .row {
  margin-bottom: 20px;
}
.checkbox {
  margin-left: 10px;
}
#job-table {
  max-width: 400px;
}
ol.breadcrumb li a {
  text-decoration: none;
}
#start_date_time,
#end_date_time {
  width: 250px;
}
.bootstrap-datetimepicker-widget .btn {
  color: #f7921d;
  background-color: transparent;
}
.bootstrap-datetimepicker-widget td.active {
  background-color: #f7921d !important;
}
#id_website,
#id_country,
#id_expiration_date_picker,
#id_meetup_type,
#id_meetup_start_date_picker,
#id_meetup_end_date_picker {
  max-width: 260px;
}
input[type="text"],
input[type="number"],
input[type="email"] {
  padding: 5px 10px;
  width: 80%;
  border: 1px solid #e7e7e7;
  margin: 0;
}
textarea {
  padding: 5px 10px;
  width: 50%;
  border: 1px solid #e7e7e7;
  margin: 0;
  height: 150px;
}
input[type="submit"] {
  background: #ffa500;
  border: 0;
  color: #fff;
  font-family: sans_font;
  font-size: 18px;
  padding: 5px 15px;
  font-weight: 300;
  text-decoration: none;
}
.public-form {
  padding: 30px;
}
.public-form label {
  font-family: sans_font;
  color: #000;
  font-weight: 300;
}
.public-form p.help-text,
.public-form p.error {
  font-size: 16px;
  font-family: sans_font;
  color: rgba(0,0,0,0.6);
  margin: 0;
}
.public-form p.error {
  color: #f00;
}
.public-form span.required {
  color: mint;
}
.public-form input[type="email"],
.public-form input[type="text"] {
  padding: 5px 10px;
  width: 100%;
  border: 1px solid #e7e7e7;
  margin: 0;
}
.public-form .col-md-12 input[type="email"],
.public-form .col-md-12 input[type="text"] {
  width: 50%;
}
.public-form .col-md-6 input[type="email"],
.public-form .col-md-6 input[type="text"] {
  width: 90%;
}
.public-form input[type="text"].other {
  width: 45%;
  margin-top: 5px;
}
.public-form input[type="submit"] {
  background: #ffa500;
  border: 0;
  color: #fff;
  font-family: sans_font;
  font-size: 18px;
  padding: 5px 15px;
  font-weight: 300;
  text-decoration: none;
}
.public-form input[type="checkbox"],
.public-form input[type="radio"] {
  margin-right: 10px;
}
.public-form .field {
  margin: 10px 0 30px 0;
}
.public-form .field label {
  font-family: serif_font !important;
  color: #808080;
}
.public-form .field p {
  margin: 0;
}
.public-form .field ul {
  list-style-type: none;
  padding: 0;
}
.public-form .field.with-errors input[type="text"],
.public-form .field.with-errors textarea {
  border-color: #f00;
}
