body {
  font-family: 'Linux Libertine';
  color: #4a4a4a;
  font-size: 19px;
  line-height: 150%;
  height: 100%;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto;
  font-weight: 300;
  color: #000;
}
h1 {
  color: #fff;
  font-size: 46px;
}
h2 {
  color: #fff;
  font-size: 36px;
}
h3 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}
h5 a {
  font-family: Roboto;
  font-size: 18px;
}
a,
a:hover {
  color: #ff9400;
}
.navbar-default {
  background: #fff;
  border: 0px;
  border-top: 3px solid #ff9400;
  font-family: 'Linux Libertine';
}
.navbar-default .navbar-brand {
  color: #000;
}
.navbar-default .navbar-brand a.chapter {
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  right: 10px;
  bottom: 4px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
  background-color: #ff9400;
  position: absolute;
  height: 70px;
  padding: 0;
  margin-left: 0 !important;
}
.navbar-default .navbar-nav {
  width: auto;
  padding-left: 200px;
  float: right;
}
.navbar-default .navbar-nav li {
  height: 50px;
  padding-top: 10px;
}
.navbar-default .navbar-nav li a {
  color: #ff9400;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 300;
  text-transform: uppercase;
}
.navbar-default .navbar-nav li a:hover {
  color: #ff9400;
}
.navbar-wrapper {
  height: 70px;
}
.negative {
  clear: both;
  overflow: hidden;
  position: fixed;
  height: 70px;
  z-index: 9999;
  width: 100%;
  background: none;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, #fff), color-stop(60%, rgba(255,255,255,0.8)), color-stop(0, rgba(255,255,255,0)));
}
.negative .navbar-brand,
.negative .navbar-brand:hover {
  background: transparent;
  padding-top: 10px;
}
.negative .navbar-brand img,
.negative .navbar-brand:hover img {
  width: 180px;
}
.negative .navbar-collapse {
  padding: 0;
}
.negative .navbar-collapse a:last-child {
  padding-right: 0;
}
.australia .navbar-brand {
  padding-right: 19px;
}
.australia .navbar-nav {
  padding-left: 219px;
}
.overlay {
  padding: 100px 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: #fff;
}
.btn,
.btn:hover {
  background: #ff9400;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 100;
  margin: 20px 0 0 0;
  padding: 15px 30px;
}
.with-background {
  background: url("../img/photos/photo1.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  height: auto;
  color: #fff;
}
.without-background {
  padding: 60px 0px;
}
#newsletter .facebook {
  float: left;
  width: 50%;
}
#newsletter .twitter {
  margin-top: 25px;
}
#newsletter button {
  margin: 0;
  padding: 10px 15px;
  border: 0px;
}
.cls {
  clear: both;
}
.coaches {
  padding: 30px 0px;
}
.coaches .col-md-2 {
  text-align: center;
}
.coaches .col-md-2 .coach {
  max-width: 160px;
  border-radius: 100%;
  margin-bottom: 15px;
}
.coaches .col-md-2 a {
  color: #000;
  font-family: 'Linux Libertine';
  font-size: 18px;
}
.social {
  margin-top: 30px;
}
.social .facebook {
  margin: -10px 0 10px 0;
  float: left;
  width: 250px;
  height: 70px;
}
.social .twitter {
  margin-top: 10px;
}
.credits {
  font-size: 15px;
  text-align: center;
  opacity: 0.6;
  padding-top: 30px;
}
#yourcity {
  background: url("../img/photos/photo2.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
}
.map {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  height: 400px;
}
.leaflet-container {
  height: 400px;
}
/* ---------------------
 Responsive design fixes
---------------------- */
@media (max-width: 1024px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 26px;
  }
  #about {
    background-attachment: scroll;
    height: auto;
  }
  #about .overlay {
    padding: 80px 0;
  }
  #apply {
    background-attachment: scroll;
  }
  #coach {
    background-attachment: scroll;
  }
  footer {
    background-attachment: scroll;
    background-position: 0;
  }
  #value .col-md-6:last-child {
    margin-top: 40px;
  }
  #sponsors img {
    max-width: 300px;
    margin-top: 30px;
  }
  #sponsors .row {
    padding: 0 0 30px 0;
  }
  footer .social .twitter {
    margin-top: 0px;
  }
  .navbar-default .navbar-nav .optional {
    display: none;
  }
}
.sponsor-logos {
  margin: 30px 0 0 0;
}
.sponsor-logos .col-md-3 {
  text-align: center;
}
.sponsor-logos .col-md-3 img {
  max-width: 80%;
  height: auto;
}
.sponsor-logos .col-md-3 p {
  margin-top: 15px;
}
#resources .row {
  margin-bottom: 50px;
}
#resources .cover {
  float: left;
  margin: 0 30px 0 0;
}
#resources .cover img {
  border-radius: 3px;
}
#resources .info p {
  margin-bottom: 0;
}
#resources .info .btn {
  margin-bottom: 10px;
  padding: 10px 30px;
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 480px) {
  #about .overlay {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #about {
    background-position: 0;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  footer .social .twitter {
    margin: 50px 0 0 12px;
  }
  #sponsors .row {
    padding: 0 0 30px 0;
  }
  .navbar-default .navbar-nav {
    width: auto;
    padding-left: 0px;
  }
  .navbar-default .navbar-nav li {
    height: auto;
    padding-top: 10px;
  }
  .navbar-default .navbar-nav li a {
    color: #000;
  }
  .navbar-default .navbar-collapse {
    border: 0px !important;
    margin-top: 20px;
  }
}
