body {
  font-family: 'Linux Libertine';
  color: #4a4a4a;
  font-size: 19px;
  line-height: 150%;
  height: 100%;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto;
  font-weight: 300;
  color: #000;
}
h1 {
  color: #fff;
  font-size: 46px;
}
h2 {
  color: #fff;
  font-size: 36px;
}
h3 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}
h5 a {
  font-family: Roboto;
  font-size: 18px;
}
a,
a:hover {
  color: #ff9400;
}
.navbar-default {
  background: #fff;
  border: 0px;
  border-top: 3px solid #ff9400;
  font-family: 'Linux Libertine';
}
.navbar-default .navbar-brand {
  color: #000;
}
.navbar-default .navbar-brand a.chapter {
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  right: 10px;
  bottom: 4px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
  background-color: #ff9400;
  position: absolute;
  height: 70px;
  padding: 0;
  margin-left: 0 !important;
}
.navbar-default .navbar-nav {
  width: auto;
  padding-left: 200px;
  float: right;
}
.navbar-default .navbar-nav li {
  height: 50px;
  padding-top: 10px;
}
.navbar-default .navbar-nav li a {
  color: #ff9400;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 300;
  text-transform: uppercase;
}
.navbar-default .navbar-nav li a:hover {
  color: #ff9400;
}
.navbar-wrapper {
  height: 70px;
}
.negative {
  clear: both;
  overflow: hidden;
  position: fixed;
  height: 70px;
  z-index: 9999;
  width: 100%;
  background: none;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, #fff), color-stop(60%, rgba(255,255,255,0.8)), color-stop(0, rgba(255,255,255,0)));
}
.negative .navbar-brand,
.negative .navbar-brand:hover {
  background: transparent;
  padding-top: 10px;
}
.negative .navbar-brand img,
.negative .navbar-brand:hover img {
  width: 180px;
}
.negative .navbar-collapse {
  padding: 0;
}
.negative .navbar-collapse a:last-child {
  padding-right: 0;
}
.australia .navbar-brand {
  padding-right: 19px;
}
.australia .navbar-nav {
  padding-left: 219px;
}
.overlay {
  padding: 100px 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: #fff;
}
.btn,
.btn:hover {
  background: #ff9400;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 100;
  margin: 20px 0 0 0;
  padding: 15px 30px;
}
.with-background {
  background: url("../img/photos/photo1.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  height: auto;
  color: #fff;
}
.without-background {
  padding: 60px 0px;
}
#about .overlay {
  padding: 150px 0;
}
#about .overlay h1 {
  font-family: 'Linux Libertine';
  font-size: 60px;
  color: #fff;
  line-height: 60px;
  font-style: italic;
  margin-bottom: 20px;
}
#about .overlay h2 {
  font-family: 'Linux Libertine';
  font-size: 40px;
  color: #e7e7e7;
  line-height: 40px;
  font-style: italic;
}
#newsletter .facebook {
  float: left;
  width: 50%;
}
#newsletter .twitter {
  margin-top: 25px;
}
#newsletter button {
  margin: 0;
  padding: 10px 15px;
  border: 0px;
}
.cls {
  clear: both;
}
.coaches {
  padding: 30px 0px;
}
.coaches .col-md-2 {
  text-align: center;
}
.coaches .col-md-2 .coach {
  max-width: 160px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin-bottom: 15px;
}
.coaches .col-md-2 a {
  color: #000;
  font-family: 'Linux Libertine';
  font-size: 18px;
}
.social {
  margin-top: 30px;
}
.social .facebook {
  margin: -10px 0 10px 0;
  float: left;
  width: 250px;
  height: 70px;
}
.social .twitter {
  margin-top: 10px;
}
.credits {
  font-size: 15px;
  text-align: center;
  opacity: 0.6;
  padding-top: 30px;
}
#yourcity {
  background: url("../img/photos/photo2.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
}
.map {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  height: 400px;
}
.leaflet-container {
  height: 400px;
}
.application-form {
  padding: 30px;
}
.application-form label {
  font-family: Roboto;
  color: #000;
  font-weight: 300;
}
.application-form p.help-text,
.application-form p.error {
  font-size: 16px;
  font-family: Roboto;
  color: rgba(0,0,0,0.6);
  margin: 0;
}
.application-form p.error {
  color: #f00;
}
.application-form span.required {
  color: #ff9400;
}
.application-form input[type="email"],
.application-form input[type="text"] {
  padding: 5px 10px;
  width: 50%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  margin: 0;
}
.application-form input[type="text"].other {
  width: 45%;
  margin-top: 5px;
}
.application-form input[type="submit"] {
  background: #ffa500;
  border: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 15px;
  font-weight: 300;
  text-decoration: none;
}
.application-form input[type="checkbox"],
.application-form input[type="radio"] {
  margin-right: 10px;
}
.application-form .field {
  margin: 10px 0 30px 0;
}
.application-form .field label {
  font-family: 'Linux Libertine' !important;
  color: #4a4a4a;
}
.application-form .field p {
  margin: 0;
}
.application-form .field ul {
  list-style-type: none;
  padding: 0;
}
.application-form .field.with-errors input[type="text"],
.application-form .field.with-errors textarea {
  border-color: #f00;
}
input[type="text"],
input[type="number"] {
  padding: 5px 10px;
  width: 50%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  margin: 0;
}
textarea {
  padding: 5px 10px;
  width: 50%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  margin: 0;
  height: 150px;
}
input[type="submit"] {
  background: #ffa500;
  border: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 15px;
  font-weight: 300;
  text-decoration: none;
}
.applications {
  padding: 15px;
}
.applications .answer {
  margin-bottom: 25px;
}
.applications .answer p {
  margin: 0;
}
.applications .answer .question {
  font-weight: bold;
}
.applications .btn,
.applications .btn:hover {
  font-size: 14px;
  padding: 6px 12px;
  margin-top: 0px;
}
.applications .dropdown {
  float: left;
  margin-right: 15px;
}
.applications .dropdown button {
  border: 0px;
  color: #fff !important;
}
.applications .dropdown button.accepted {
  background: #3c763d;
}
.applications .dropdown button.rejected {
  background: #a94442;
}
.applications .dropdown button.submitted {
  background: #428bca;
}
.applications .dropdown button.waitlisted {
  background: #fec500;
}
.applications .dropdown button.default {
  background: rgba(0,0,0,0.3);
}
.applications .dropdown ul li {
  font-family: Roboto;
}
.applications input[type="submit"] {
  font-size: 14px;
  padding: 0 10px;
}
.applications .text-warning {
  color: #fec500 !important;
}
.stretch-form input[type="text"] {
  width: 90%;
}
.stretch-form textarea {
  width: 90%;
  height: 300px;
}
.scoring {
  font-family: Roboto;
  font-size: 18px;
}
.scoring table {
  font-size: 16px;
  width: 100%;
  margin: 30px 0;
}
.scoring table thead td {
  background: rgba(0,0,0,0.1);
}
.scoring table td {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 5px;
}
.scoring h4 {
  font-size: 28px;
}
.scoring h5 {
  font-size: 22px;
}
.scoring .scoring-form label {
  font-weight: normal;
  margin: 0;
}
.scoring .scoring-form .help-text {
  font-size: 14px;
  margin: 0 0 10px 0;
}
.scoring .scoring-form .row {
  margin-bottom: 20px;
}
.scoring .scoring-form .btn,
.scoring .scoring-form .btn:hover {
  font-size: 20px;
  padding: 10px 18px;
  margin-top: 0px;
}
/* ---------------------
 Responsive design fixes
---------------------- */
@media (max-width: 1024px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 26px;
  }
  #about {
    background-attachment: scroll;
    height: auto;
  }
  #about .overlay {
    padding: 80px 0;
  }
  #apply {
    background-attachment: scroll;
  }
  #coach {
    background-attachment: scroll;
  }
  footer {
    background-attachment: scroll;
    background-position: 0;
  }
  #value .col-md-6:last-child {
    margin-top: 40px;
  }
  #sponsors img {
    max-width: 300px;
    margin-top: 30px;
  }
  #sponsors .row {
    padding: 0 0 30px 0;
  }
  footer .social .twitter {
    margin-top: 0px;
  }
  .navbar-default .navbar-nav .optional {
    display: none;
  }
}
.sponsor-logos {
  margin: 30px 0 0 0;
}
.sponsor-logos .col-md-3 {
  text-align: center;
}
.sponsor-logos .col-md-3 img {
  max-width: 80%;
  height: auto;
}
.sponsor-logos .col-md-3 p {
  margin-top: 15px;
}
#resources .row {
  margin-bottom: 50px;
}
#resources .cover {
  float: left;
  margin: 0 30px 0 0;
}
#resources .cover img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#resources .info p {
  margin-bottom: 0;
}
#resources .info .btn {
  margin-bottom: 10px;
  padding: 10px 30px;
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 480px) {
  #about .overlay {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #about {
    background-position: 0;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  footer .social .twitter {
    margin: 50px 0 0 12px;
  }
  #sponsors .row {
    padding: 0 0 30px 0;
  }
  .navbar-default .navbar-nav {
    width: auto;
    padding-left: 0px;
  }
  .navbar-default .navbar-nav li {
    height: auto;
    padding-top: 10px;
  }
  .navbar-default .navbar-nav li a {
    color: #000;
  }
  .navbar-default .navbar-collapse {
    border: 0px !important;
    margin-top: 20px;
  }
}
