sans_font = Roboto
serif_font = 'Linux Libertine'
gray = #4A4A4A
orange = #F7921D

border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n

/*
---------------------
    Common styles
---------------------
*/

html, body
    height: 100%;

body
    font: 20px serif_font
    color: gray
    line-height: 29px
    font-weight: 300

h2, h3, h4, h5
    font-family: sans_font
    color: black
    font-weight: 300
    font-size: 36px
    line-height: 120%

h3
    font-size: 30px

h4
    font-size: 24px

h5
    font-size: 18px

a
    color: gray
    text-decoration: underline

    &:hover
        color: gray
        text-decoration: none

form
    input[type="email"], input[type="text"]
        padding: 5px 10px
        width: 260px
        border-radius(3px)
        border: 1px solid #E7E7E7
        margin-right: 15px

.btn, input[type="submit"]
    background: orange
    border: 0
    color: white
    font-family: sans_font
    font-size: 18px
    border-radius(3px)
    padding: 5px 15px
    font-weight: 300
    text-decoration: none

.btn
    padding: 8px 20px

    &:hover
        color: white

/*
------------------
    Navigation
------------------
*/

nav
    margin: 30px 0 30px 0

    .logo
        float: left

    ul
        float: right
        list-style-type: none
        margin-bottom: 0
        padding-left: 0

        li
            float: left
            margin-left: 60px
            line-height: 68px

            a
                color: orange
                font-family: sans_font
                text-decoration: none
                text-transform: uppercase
                font-size: 18px

                &:hover
                    color: orange

            &:first-child
                margin-left: 0


/*
------------------------
    Box with picture
------------------------
*/
#box-with-picture
    background: url('../img/global/woman.jpg') 50% 0 no-repeat fixed
    background-position: center -100px
    background-size: cover

    .container
        padding: 120px 0
        text-align: center

    h1
        font-family: serif_font
        font-size: 48px
        color: white
        line-height: 55px
        font-style: italic
        margin-bottom: 20px

    p
        font-family: serif_font
        font-size: 24px
        color: #E7E7E7
        line-height: 30px
        font-style: italic


/*
------------------------
    About
------------------------
*/
#about
    padding: 30px 0 0 0

    h2
        margin-top: 40px

    h2:first-child
        margin-top: 20px

    .row
        margin-bottom: 20px

    .gallery
        text-align: center
        width: 400px;
        height: 400px;
        margin 20px auto 0;

        img
            max-width: 100%
            max-height: 400px

/*
------------------------
    Events
------------------------
*/
#events
    h2
        margin-bottom: 15px

    .event
        margin: 15px 15px 15px 15px
        padding: 0
        background: url('../img/global/krakow.png') no-repeat
        background-size: cover
        width: calc(33% - 30px)
        height: 210px
        text-align: center
        color: white
        font-style: italic

        .overlay
            height: 100%
            width: 100%
            background: rgba(0,0,0,0.5)
            padding: 70px 0 0 0

            &:hover
                background: rgba(0,0,0,0.3)

        p.city
            font-size: 36px
            line-height: 41px
            margin-bottom: 0

        span
            font-size: 23px
            line-height: 27px

    .past-events
        margin-top: 40px

        a
            margin-right: 60px
            margin-bottom: 15px
            float: left

/*
-----------------------------
    Organize & Newsletter
-----------------------------
*/
#organize
    margin-top: 30px

    .row
        margin-top: 10px

    .row:nth-child(2)
        margin-bottom: 30px

    .centered
        text-align: center

/*
-------------
    Story
-------------
*/
#story
    margin-top: 60px

    .row
        margin: 15px 0

        .girl
            img
                width: 100%
                height: 100%
            .overlay
                position: absolute
                top: 0
                left: 15px
                width: calc(100% - 30px)
                height: 100%
                background: rgba(0,0,0,0.5)
                padding-top: 45%
                text-align: center
                color: white
                font-style: italic
                font-size: 30px
                opacity: 0

                &:hover
                    opacity: 1

/*
------------------
    Supporters
------------------
*/
#supporters
    margin-bottom: 30px
    .row
        margin: 30px 0

        .col-md-3
            text-align: center
            line-height: 80px

            img
                max-width: 80%

/*
------------------
    Resources
------------------
*/
#resources

    .row
        margin-bottom: 30px

        .col-md-6
            h3
                margin-bottom: 15px
            .cover
                float: left
                margin-right: 30px

            .info
                .btn
                    margin-right: 15px
                    float: left
                iframe
                    margin-top: 10px

    .row:nth-child(2)
        margin-bottom: 60px

/*
--------------------
    Organize-full
--------------------
*/
#organize-full
    .row
        margin-top: 10px

    iframe #header
        display: none;


/*
--------------
    Footer
--------------
*/
.page-wrap
    min-height: 100%
    margin-bottom: -300px

    &:after
        content: ""
        display: block

footer, .page-wrap:after
    height: 300px

footer
    background: #F9F7F7
    padding: 65px 0 0 0
    margin-top: 90px

    .row
        margin: 0

        .col-md-3
            p
                text-transform: uppercase
                font-family: sans_font
                color: orange
                font-size: 18px
                line-height: 21px
            ul
                list-style-type: none
                padding: 0

                li
                    margin-left: 0
                    font-size: 18px
                    line-height: 28px

                    a
                        text-decoration: none




/*
---------------------
    Responsiveness
---------------------
*/
@media (max-width: 1024px)
    nav
        ul
            li
                margin-left: 30px

    #events
        .row
            .event
                width: calc(50% - 30px)
                float: left

    #supporters
        .row
            .col-md-3
                width: calc(50% - 30px)
                float: left

    footer
        padding-top: 50px
        .row
            .col-md-3
                float: left
                width: calc(50% - 30px)
                margin-bottom: 30px

    footer, .page-wrap:after
        height: 480px

    .page-wrap
        margin-bottom: -480px


@media (max-width: 725px)
    nav
        ul
            display: none

    #box-with-picture
        height: auto
        background-position: center center

        .container
            padding: 20px

            h1
                font-size: 30px
                line-height: 36px
            p
                font-size: 18px
                line-height: 22px


    #about
        .gallery
            display: none

    #events
        .row
            .event
                width: 90%

    #organize
        form
            input[type="text"], input[type="email"]
                margin-bottom: 15px

    #supporters
        .row
            .col-md-3
                width: 90%

    footer
        padding-top: 50px
        .row
            .col-md-3
                width: 90%
                margin-bottom: 30px

    footer, .page-wrap:after
        height: 900px

    .page-wrap
        margin-bottom: -900px
