/*
---------------------
    Common styles
---------------------
*/
html,
body {
  height: 100%;
}
body {
  font: 20px 'Linux Libertine';
  color: #4a4a4a;
  line-height: 29px;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Roboto;
  color: #000;
  font-weight: 300;
  font-size: 40px;
  line-height: 120%;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
a {
  color: #4a4a4a;
  text-decoration: underline;
}
a:hover {
  color: #4a4a4a;
  text-decoration: none;
}
form input[type="email"],
form input[type="text"] {
  padding: 5px 10px;
  width: 260px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  margin-right: 15px;
}
.btn,
input[type="submit"] {
  background: #f7921d;
  border: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 15px;
  font-weight: 300;
  text-decoration: none;
}
.btn {
  padding: 8px 20px;
}
.btn:hover {
  color: #fff;
}
.ical.btn {
  font-size: 12px;
  padding: 1px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/*
--------------------------    
-    Bootstrap new styles   
--------------------------    
*/

.panel-feature-orange {    
  border-color:#fbae55;    
}    
.panel-feature-orange > .panel-heading {   
  color:#a15a09;   
  background-color:#fbc281;    
  border-color:#fbae55;    
  }    
.panel-feature-orange > .panel-heading + .panel-collapse > .panel-body {   
  border-top-color:#fbae55;    
}    
.panel-feature-orange > .panel-heading .badge {    
  color:#fbc281;   
  background-color:#a15a09;    
}    
.panel-feature-orange > .panel-footer + .panel-collapse > .panel-body {    
  border-bottom-color:#fbae55;   
}    
   
.panel-feature-blue {    
  border-color:#4ca3ce;    
}    
.panel-feature-blue > .panel-heading {   
  color:#084765;   
  background-color:#6fafce;    
  border-color:#4ca3ce;    
  }    
.panel-feature-blue > .panel-heading + .panel-collapse > .panel-body {   
  border-top-color:#4ca3ce;    
}    
.panel-feature-blue > .panel-heading .badge {    
  color:#6fafce;   
  background-color:#084765;    
}    
.panel-feature-blue > .panel-footer + .panel-collapse > .panel-body {    
  border-bottom-color:#4ca3ce;   
}    
.btn-blue {    
  color:#fff;    
  background-color:#19719c;    
  border-color:#2b5D75;;   
}    

/*
------------------
    Navigation
------------------
*/
nav {
  margin: 30px 0 30px 0;
}
nav .logo {
  float: left;
}
nav ul {
  float: right;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}
nav ul li {
  float: left;
  margin-left: 40px;
  line-height: 68px;
}
nav ul li a {
  color: #f7921d;
  font-family: Roboto;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}
nav ul li a:hover {
  color: #f7921d;
}
nav ul li:first-child {
  margin-left: 0;
}
/*
------------------------
    Box with picture
------------------------
*/
#box-with-picture {
  background: url("../img/global/mainphoto.jpg") 50% 0 no-repeat fixed;
  background-position: center -100px;
  background-size: cover;
}
#box-with-picture .black-canvas {
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
}
#box-with-picture .container {
  padding: 120px 0;
  text-align: center;
}
#box-with-picture h1 {
  font-family: 'Linux Libertine';
  font-size: 48px;
  color: #fff;
  line-height: 55px;
  font-style: italic;
  margin-bottom: 20px;
}
#box-with-picture p {
  font-family: 'Linux Libertine';
  font-size: 24px;
  color: #e7e7e7;
  line-height: 30px;
  font-style: italic;
}
/*
------------------------
    About
------------------------
*/
#about {
  padding: 30px 0 0 0;
}
#about h2 {
  margin-top: 40px;
}
#about h2:first-child {
  margin-top: 20px;
}
#about .row {
  margin-bottom: 20px;
}
#about iframe {
  margin-top: 80px;
}
/*
------------------------
    Events
------------------------
*/
#events h2 {
  margin-bottom: 15px;
}
#events .event {
  margin: 15px 15px 15px 15px;
  padding: 0;
  background: url("../img/global/krakow.png") no-repeat;
  background-size: cover;
  width: calc(33% - 30px);
  height: 210px;
  text-align: center;
  color: #fff;
  font-style: italic;
}
#events .event .overlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  padding: 70px 0 0 0;
}
#events .event .overlay:hover {
  background: rgba(0,0,0,0.3);
}
#events .event p.city {
  font-size: 36px;
  line-height: 41px;
  margin-bottom: 0;
}
#events .event span.date {
  font-size: 23px;
  line-height: 27px;
}
#events .event p.credit {
  font-size: 12px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  bottom: -5px;
  left: 10px;
  position: absolute;
  opacity: 0;
}
#events .event:hover p.credit {
  opacity: 1;
}
#events .past-events {
  margin-top: 40px;
}
#events .past-events a {
  margin-right: 60px;
  margin-bottom: 15px;
  float: left;
}
#events .past-events .col-md-12 {
  max-height: 200px;
  overflow: hidden;
}
#events .past-events .show-more {
  width: 100%;
  height: 100px;
  position: relative;
  float: left;
  margin-top: -55px;
  padding-top: 63px;
  text-align: center;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 53%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 53%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 53%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 53%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 53%); /* W3C */
}
#events .past-events .show-more a {
  float: none;
  margin: 0;
}
#map {
  height: 580px;
  margin-top: 30px;
}
/*
-----------------------------
    Organize & Newsletter
-----------------------------
*/
#organize {
  margin-top: 30px;
}
#organize .row {
  margin-top: 10px;
}
#organize .row:nth-child(2) {
  margin-bottom: 30px;
}
#organize .centered {
  text-align: center;
}
.newsletter-archive {
  margin-top: 20px;
}
.newsletter-archive ul {
  list-style-type: none;
  padding: 0;
}
.newsletter-archive ul li {
  padding: 0 0 15px 0;
  font-family: Roboto;
  font-size: 14px;
}
.newsletter-archive ul li a {
  text-decoration: none;
  color: #f7921d;
  font-family: 'Linux Libertine';
  font-size: 20px;
}
/*
-------------
    Story
-------------
*/
#story,
#stories {
  margin-top: 60px;
}
#story .row,
#stories .row {
  margin: 15px 0;
}
#story .row .girl,
#stories .row .girl {
  height: 255px;
  width: 255px;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 15px;
}
#story .row .girl .overlay,
#stories .row .girl .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  padding-top: 45%;
  text-align: center;
  color: #fff;
  font-style: italic;
  font-size: 30px;
  opacity: 0;
}
#story .row .girl .overlay:hover,
#stories .row .girl .overlay:hover {
  opacity: 1;
}
#stories {
  margin-top: 0;
}
#stories .row {
  margin: 30px 0;
}
/*
------------------
    Supporters
------------------
*/
#supporters {
  margin-bottom: 30px;
}
#supporters .row {
  margin: 30px 0;
}
#supporters .row .col-md-3 {
  text-align: center;
  line-height: 80px;
}
#supporters .row .col-md-3 img {
  max-width: 80%;
}
/*
------------------
    Resources
------------------
*/
#resources .row {
  margin-bottom: 30px;
}
#resources .row .col-md-6 h3 {
  margin-bottom: 15px;
}
#resources .row .col-md-6 .cover {
  float: left;
  margin-right: 30px;
}
#resources .row .col-md-6 .info .btn {
  margin-right: 15px;
  float: left;
}
#resources .row .col-md-6 .info iframe {
  margin-top: 10px;
}
#resources .row:nth-child(2) {
  margin-bottom: 60px;
}
/*
--------------------
    Organize-full
--------------------
*/
#organize-full .row {
  margin-top: 10px;
}
#organize-full iframe #header {
  display: none;
}

 /*   
-------------------------   
   Jobs   
-------------------------   
*/   
#community {   
  padding: 30px 0 0 0;   
}    
#community h2 {    
  margin-top: 40px;    
}    
#community h2:first-child {    
  margin-top: 20px;    
}    
#community .row {    
  margin-bottom: 20px;   
}    

/*
--------------
    Footer
--------------
*/
.page-wrap {
  min-height: 100%;
  margin-bottom: -300px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer,
.page-wrap:after {
  height: 300px;
}
footer {
  background: #f9f7f7;
  padding: 65px 0 0 0;
  margin-top: 90px;
}
footer .row {
  margin: 0;
}
footer .row .col-md-3 p {
  text-transform: uppercase;
  font-family: Roboto;
  color: #f7921d;
  font-size: 18px;
  line-height: 21px;
}
footer .row .col-md-3 p a {
  text-decoration: none;
  color: #f7921d;
}
footer .row .col-md-3 ul {
  list-style-type: none;
  padding: 0;
}
footer .row .col-md-3 ul li {
  margin-left: 0;
  font-size: 18px;
  line-height: 28px;
}
footer .row .col-md-3 ul li a {
  text-decoration: none;
}
/*
---------------------
    Flatpages
---------------------
*/
/*
---------------------
    Responsiveness
---------------------
*/
@media (max-width: 1024px) {
  nav ul li {
    margin-left: 30px;
  }
  #events .row .event {
    width: calc(50% - 30px);
    float: left;
  }
  #supporters .row .col-md-3 {
    width: calc(50% - 30px);
    float: left;
  }
  footer {
    padding-top: 50px;
  }
  footer .row .col-md-3 {
    float: left;
    width: calc(50% - 30px);
    margin-bottom: 30px;
  }
  footer,
  .page-wrap:after {
    height: 480px;
  }
  .page-wrap {
    margin-bottom: -480px;
  }
}
@media (max-width: 725px) {
  nav ul {
    display: none;
  }
  #box-with-picture {
    height: auto;
    background-position: center center;
  }
  #box-with-picture .container {
    padding: 20px;
  }
  #box-with-picture .container h1 {
    font-size: 30px;
    line-height: 36px;
  }
  #box-with-picture .container p {
    font-size: 18px;
    line-height: 22px;
  }
  #about .gallery {
    display: none;
  }
  #events .row .event {
    width: 90%;
  }
  #organize form input[type="text"],
  #organize form input[type="email"] {
    margin-bottom: 15px;
  }
  #supporters .row .col-md-3 {
    width: 90%;
  }
  footer {
    padding-top: 50px;
  }
  footer .row .col-md-3 {
    width: 90%;
    margin-bottom: 30px;
  }
  footer,
  .page-wrap:after {
    height: 900px;
  }
  .page-wrap {
    margin-bottom: -900px;
  }
}
