{% extends 'global/base.html' %}
{% load static %}

{% block content %}
    <div class="container organize">

        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <h1>Welcome to Django Girls! 📬</h1>

                    <p class="tight-top">We’re delighted to welcome you as a part of Django Girls family! We’ve deployed your event’s website now and an information pack with access details is on the way to your inbox right now.</p>

                    <p class="tight-bottom">In the information pack, you will receive access to the following:</p>

                    <ul class="bulleted">
                        <li>
                            <span>Your brand new shiny Django Girls Kraków event website</span>
                        </li>
                        <li>
                            <span>The e-mail account for your event: kraków@djangogirls.org</span>
                        </li>
                        <li>
                            <span>Our private community of organizers on Slack (a group chat application)</span>
                        </li>
                        <li>
                            <span>Workshop Box, a starter kit full of goodies and decorations for your event</span>
                        </li>
                    </ul>

                    <p>We hope you’re as excited as we are about starting this adventure!

                    <p> Good luck and see you on Slack 👋<br />Django Girls Team</p>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
