{% extends 'global/base.html' %}
{% load staticfiles rev %}

{% block content %}
    <div class="container organize organize-landing">

        <div class="row">
            <div class="col-xs-12">
                <h1>Organize Django Girls workshop</h1>
            </div>
        </div>

        <div class="row">
            <section class="col-xs-12 col-md-8">
                <p>Django Girls events are organized by groups of wonderful volunteers in cities all over the world. Events are always non-profit and free for participants. We do not pay coaches, speakers or organizers. Attendees don’t need any previous knowledge about programming and there are no age limitations. All attendees need is a laptop and some curiosity!</p>

                {# @TODO: Make these numbers dynamic #}
                <p>Until today, <span>504</span> volunteers organized <span>312</span> Django Girls workshops. Join them and bring Django Girls to your city!</p>

                <h2>The Value of Organizing Django Girls</h2>

                <ul class="bulleted">
                    <li>
                        <span>Join a crowd of over 500 passionate, kind and helpful organizers all over the world</span>
                    </li>
                    <li>
                        <span>Make a real impact to advance the diversity in the tech industry</span>
                    </li>
                    <li>
                        <span>Play a huge role in fostering tech community in your local area</span>
                    </li>
                </ul>
            </section>

            <section class="col-xs-12 col-md-4 sidebar">
                <a href="/organize/prerequisites/" class="cta">Apply to organize a workshop&nbsp;»</a>

                <div class="panel narrow">
                    <h2>Resources for organizers</h2>

                    <ul class="bulleted narrow">
                        <li>
                            <a href="#">Django Girls Organizer’s Manual</a>
                        </li>
                        <li>
                            <a href="#">Django Girls Coaching Guide</a>
                        </li>
                        <li>
                            <a href="#">Media resources</a>
                        </li>
                        <li>
                            <a href="#">Workshop Kit</a>
                        </li>
                        <li>
                            <a href="#">Django Girls Workshop Tutorial</a>
                        </li>
                        <li>
                            <span>Private mailing list &amp; Slack</span>
                        </li>
                    </ul>
                </div>
            </section>
        </div>

        <blockquote class="row">
            <div class="col-xs-12 col-sm-3 col-md-2 col-md-offset-1">
                <img src="http://placehold.it/170x170" alt="Agata Grdal, organizer of Django Girls Wrocław" />
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <div>Django Girls helped me gain more self-confidence and gave me a boost to keep learning. I’ve created my own blog and then prepared workshops and taught other women to code. Nothing is impossible with this bunch of crazy, positive people!</div>
                <cite>— Agata Grdal, organizer of Django Girls Wrocław</cite>
            </div>
        </blockquote>

        <section class="media-blocks">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Experiences of Django Girls organizers</h2>
                </div>
            </div>

            <ul class="row">
                <li class="col-xs-12 col-md-4">
                    <img src="{% static 'img/photos/organize-1.jpg' %}" alt="Some alt text needed" />
                    <p>Organizers of Django Girls Windhoek, Namibia share their experience of organizing an event in Africa. <a href="#">Read more&nbsp;»</a></p>
                </li>
                <li class="col-xs-12 col-md-4">
                    <img src="{% static 'img/photos/organize-2.jpg' %}" alt="Some alt text needed" />
                    <p>A Toolkit of Awesome: tips &amp; tricks from seasoned Django Girls organizers in Budapest, Hungary. <a href="#">Read more&nbsp;»</a></p>
                </li>
                <li class="col-xs-12 col-md-4">
                    <img src="{% static 'img/photos/organize-3.jpg' %}" alt="Some alt text needed" />
                    <p>Learn how Django Girls Seoul built a local tech community using events as their main tool. <a href="#">Read more&nbsp;»</a></p>
                </li>
            </ul>
        </section>

    </div>

{% endblock %}
