{% extends 'global/base.html' %}
{% load staticfiles rev %}

{% block extra_js %}
    <script type="text/javascript" src="{% static_rev 'js/organize.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container organize">

        <div class="row">
            <div class="col-md-12">
                {% include 'includes/_organize-progress.html' with active_step=1 %}
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <h1>Prerequisities to organize a Django Girls workshop</h1>

                    <p class="intro">Yay! You want to organize a Django Girls workshop! That’s wonderful. Before we can get you started, there are few things requirements that we’d like to confirm with you to make sure your workshop is going to be planned as smoothly as possible:</p>

                    <form data-required-form action="{% url 'organize:commitment' %}">
                        <fieldset>
                            <legend class="required">Confirm that you’ve read the following chapters of our <a href="http://organize.djangogirls.org/">Organizer's Manual</a>:</legend>

                            <ul class="unstyled">
                              <li class="checkbox-wrapper">
                                  <input type="checkbox" id="introduction" name="introduction" required />
                                  <label for="introduction">
                                      <a href="https://organize.djangogirls.org/">Introduction to Organizer’s Manual</a>
                                  </label>
                              </li>
                                <li class="checkbox-wrapper">
                                    <input type="checkbox" id="step-by-step" name="step-by-step" required />
                                    <label for="step-by-step">
                                        <a href="https://organize.djangogirls.org/step_by_step/">Organizing Django Girls workshop step by step</a>
                                    </label>
                                </li>
                                <li class="checkbox-wrapper">
                                    <input type="checkbox" id="environment" name="environment" required />
                                    <label for="environment">
                                        <a href="https://organize.djangogirls.org/environment/">Enviornment at Django Girls workshop</a>
                                    </label>
                                </li>
                                <li class="checkbox-wrapper">
                                    <input type="checkbox" id="faq" name="faq" required />
                                    <label for="faq">
                                        <a href="https://faq-organizers.djangogirls.org/">Frequently Asked Questions</a>
                                    </label>
                                </li>
                            </ul>
                        </fieldset>

                        <fieldset>
                            <legend class="required">Confirm that you meet following requirements to organize a workshop:</legend>
                            <ul class="unstyled">
                                <li class="checkbox-wrapper">
                                    <input type="checkbox" id="eighteen" name="eighteen" required />
                                    <label for="eighteen">
                                        You’re at least 18 years old
                                    </label>
                                </li>
                                <li class="checkbox-wrapper">
                                    <input type="checkbox" id="free" name="free" required />
                                    <label for="free">
                                        Your workshop will be free for participants, and women will have preference in attending
                                    </label>
                                </li>
                                <li class="checkbox-wrapper">
                                    <input type="checkbox" id="non-profit" name="non-profit" required />
                                    <label for="non-profit">
                                        The event you’re organizing will be non-profit
                                    </label>
                                </li>
                            </ul>
                        </fieldset>

                        <div class="cta-wrapper">
                            <button type="submit" class="cta">Get started!</button>
                        <div class="cta-wrapper">
                    </form>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
