{% extends 'global/base.html' %}
{% load i18n rev static %}

{% block content %}
    <div class="container organize">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <h2>Remote or In-Person Workshop?</h2>

                    <p>Please select whether you are planning to organize an In-Person Workshop or a Remote Workshop.</p>

                    <form method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <div class="cta-wrapper">
                            <button type="submit" class="cta" id="Submit">Proceed!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
