{% extends "global/base.html" %}

{% block content %}
    <div class="container organize organize-landing">
        <h1>Apply to Organize Django Girls workshop</h1>
        <h2>Suspension of Workshop Applications</h2>
        <p>Please note that due to the Global Covid-19 Pandemic, we have suspended all workshop applications.  We are
            working on updating our Organiser Manual to support remote workshops as a potential alternative. </p>

        <p>Any inconveniences caused are sincerely regretted.</p>
    </div>
{% endblock %}