{% extends "global/base.html" %}

{% block content %}
    <div class="container organize organize-landing">
        <h1>Apply to Organize Django Girls workshop</h1>
        <h2>Temporary Suspension of Applications for New Events</h2>
        <p>Please note that due to complications arising from Covid-19 lockdowns across the globe,
        we have temporarily suspended new applications to organize events while we
        update our documentation to support organizing and conducting workshops remotely.</p>

        <p>Any inconveniences caused are sincerely regretted.</p>
    </div>
{% endblock %}