{% load thumbnail %}

{% if coach.url %}
<a href="{{ coach.url }}" target="_blank">
{% else %}
<span>
{% endif %}

{% if coach.photo %}
    {% thumbnail coach.photo "160x160" crop="center" as im %}
        <img src="{{ im.url }}" alt="{{ coach.name }}" class="coach" />
    {% endthumbnail %}
{% endif %}

{% if coach.url %}
</a>
{% else %}
</span>
{% endif %}

<br />
<a href="{{ coach.url }}" target="_blank">{{ coach.name }}</a><br />
{% if coach.twitter_handle %}<a href="https://twitter.com/{{ coach.twitter_handle }}" target="_blank">@{{ coach.twitter_handle }}</a><br />{% endif %}
