{% load thumbnail static %}

{% if coach.url %}
<a href="{{ coach.url }}" target="_blank">
{% else %}
<span>
{% endif %}

<img src="{% if coach.photo %}{{ coach.photo|thumbnail_url:'coach' }}{% else %}{% static 'img/global/coach-empty.jpg' %}{% endif %}" alt="{{ coach.name }}" class="coach" />

{% if coach.url %}
</a>
{% else %}
</span>
{% endif %}

<br />
<a href="{{ coach.url }}" target="_blank">{{ coach.name }}</a><br />
{% if coach.twitter_handle %}<a href="https://twitter.com/{{ coach.twitter_handle }}" target="_blank">@{{ coach.twitter_handle }}</a><br />{% endif %}
