<p>Working as a software developer is a great way to become one.
There are lots of companies out there who are hiring,
but how can you tell which ones are supportive?</p>
<p>Here, you can find offers from companies
who hire beginners and want to train them. They’re not targeting only women,
but they do care about diversity in the workplace. </p>
<p>We trust they do the right thing.
On this page, we only list offers that require no experience from companies who
want to hire beginners and care about diversity.</p>
