
{% load static %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h3>Diamond 💞✨</h3></div>
    <div class="col-md-4"></div>
</div>

<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4"><h3>Platinum 💝✨</h3></div>
<div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-3">
        <a href="https://www.djangoproject.com/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/django.png' %}"
               alt="Django Software Foundation" style="margin-top: 40px"/>
        </a>
    </div>
    <div class="col-md-3">
        <a href="https://posthog.com/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/posthog.png' %}"
                alt="PostHog" style="margin-top: 50px;" />
        </a>
    </div>
    <div class="col-md-3">
        <a href="https://flatironsdevelopment.com/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/flatirons.png' %}"
                alt="Flatirons Development" style="margin-top: 0px" />
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h3>Gold 💖✨</h3></div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-3">
        <a href="http://lincolnloop.com/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/lincolnloop.png' %}"
                 alt="Lincoln Loop" style="margin-top: 50px" />
        </a>
    </div>
    <div class="col-md-3">
        <a href="https://www.torchbox.com/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/torchbox.png' %}"
                 alt="Torchbox" style="margin-top: 40px">
        </a>
    </div>
    <div class="col-md-3">
        <a href="https://www.sherpany.com/en/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/sherpany.png' %}"
                 alt="Sherpany" style="margin-top: 50px" />
        </a>
    </div>
    <div class="col-md-3">
        <a href="https://runcode.io/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/runcode_io.png' %}"
                 alt="RunCode" style="margin-top: 50px" />
        </a>
    </div>
    
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h3>Silver 💗✨</h3></div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-3">
        <a href="http://pythonanywhere.com/">
          <img class="img-responsive center-block" src="{% static 'img/global/supporters/pythonanywhere.png' %}"
               alt="Python Anywhere" style="margin-top: 50px" />
        </a>
    </div>
    <div class="col-md-3">
        <a href="https://www.linode.co/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/linode.png' %}"
                 alt="Linode" style="margin-top: 50px" />
        </a>
    </div>
    <div class="col-md-3">
        <a href="https://www.niteo.co/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/niteo.png' %}"
                 alt="Niteo" style="margin-top: 50px" />
        </a>
    </div>
    <div class="col-md-3">
        <a href="https://www.webucator.com/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/webucator.png' %}"
                 alt="Webucator" style="margin-top: 50px" />
        </a>
    </div>
</div>

<div class="row">
    
    <div class="col-md-3">
        <a href="https://p.ota.to/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/potato.png' %}"
                 alt="Potato" style="margin-top: 25px" />
        </a>
    </div>   
    <div class="col-md-3">
        <a href="https://www.sixfeetup.com/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/sixfeetup.png' %}"
                 alt="Six Feet Up" style="margin-top: 50px" />
        </a>
    </div>
    
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h3>Bronze 💓✨</h3></div>
    <div class="col-md-4"></div>
</div>