{% load static %}

<div class="row">
    <div class="col-md-3">
        <a href="https://www.python.org/psf/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/pythonsoftwarefoundation.png' %}"
                 alt="Python Software Foundation" style="margin-top: 25px" />
        </a>
    </div>
    <div class="col-md-3">
        <a href="https://sentry.io/welcome/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/sentry.png' %}"
                 alt="Sentry" style="margin-top: 25px" />
        </a>
    </div>
</div>

