{% load static %}

{% if diamond %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h1><strong>Diamond 💞✨</strong></h1></div>
    <div class="col-md-4"></div>
</div>
{% for partner in diamond %}
{% if forloop.first %}<div class="row">{% endif %}
<div class="col-md-3">
    <a href="{{ partner.website_url}}" target="_blank">
        <img class="img-responsive center-block" src="{{ partner.logo.url }}"
           alt="{{ partner.company_name }}" style="{{ partner.style }}"/>
    </a>
</div>
{% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
{% if forloop.last %}</div>{% endif %}
{% endfor %}
{% endif %}

{% if platinum %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h1><strong>Platinum 💝✨</strong></h1></div>
    <div class="col-md-4"></div>
</div>
{% for partner in platinum %}
{% if forloop.first %}<div class="row">{% endif %}
<div class="col-md-3">
    <a href="{{ partner.website_url}}" target="_blank">
        <img class="img-responsive center-block" src="{{ partner.logo.url }}"
           alt="{{ partner.company_name }}" style="{{ partner.style }}"/>
    </a>
</div>
{% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
{% if forloop.last %}</div>{% endif %}
{% endfor %}
{% endif %}

{% if gold %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h1><strong>Gold 💖✨</strong></h1></div>
    <div class="col-md-4"></div>
</div>
{% for partner in gold %}
{% if forloop.first %}<div class="row">{% endif %}
<div class="col-md-3">
    <a href="{{ partner.website_url}}" target="_blank">
        <img class="img-responsive center-block" src="{{ partner.logo.url }}"
           alt="{{ partner.company_name }}" style="{{ partner.style }}"/>
    </a>
</div>
{% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
{% if forloop.last %}</div>{% endif %}
{% endfor %}
{% endif %}

{% if silver %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h1><strong>Silver 💗✨</strong></h1></div>
    <div class="col-md-4"></div>
</div>
{% for partner in silver %}
{% if forloop.first %}<div class="row">{% endif %}
<div class="col-md-3">
    <a href="{{ partner.website_url}}" target="_blank">
        <img class="img-responsive center-block" src="{{ partner.logo.url }}"
           alt="{{ partner.company_name }}" style="{{ partner.style }}"/>
    </a>
</div>
{% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
{% if forloop.last %}</div>{% endif %}
{% endfor %}
{% endif %}

{% if bronze %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h1><strong>Bronze 💓✨</strong></h1></div>
    <div class="col-md-4"></div>
</div>
{% for partner in bronze %}
{% if forloop.first %}<div class="row">{% endif %}
<div class="col-md-3">
    <a href="{{ partner.website_url}}" target="_blank">
        <img class="img-responsive center-block" src="{{ partner.logo.url }}"
           alt="{{ partner.company_name }}" style="{{ partner.style }}"/>
    </a>
</div>
{% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
{% if forloop.last %}</div>{% endif %}
{% endfor %}
{% endif %}