
{% load staticfiles %}

<div class="row">
  <div class="col-md-3">
      <a href="https://www.elastic.co/">
          <img class="img-responsive center-block" src="{% static 'img/global/supporters/elastic.png' %}" alt="Elastic" />
      </a>
  </div>
  <div class="col-md-3">
      <a href="https://www.djangoproject.com/">
          <img class="img-responsive center-block" src="{% static 'img/global/supporters/django.png' %}" alt="Django Software Foundation" />
      </a>
  </div>
  <div class="col-md-3">
      <a href="http://lincolnloop.com/">
          <img class="img-responsive center-block" src="{% static 'img/global/supporters/lincolnloop.png' %}" alt="Lincoln Loop" />
      </a>
  </div>
  <div class="col-md-3">
       <a href="http://github.com/">
          <img class="img-responsive center-block" src ="{% static 'img/global/supporters/github.png' %}" alt="Github" />
      </a>
 </div>
</div>

<div class="row">
    <div class="col-md-3">
      <a href="https://www.python.org/psf/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/pythonsoftwarefoundation.png' %}" alt="Python Software Foundation" style="margin-top: 25px" />
        </a>
  </div>
    <div class="col-md-3">
        <a href="http://www.divio.ch/en/">
          <img class="img-responsive center-block" src="{% static 'img/global/supporters/divio.png' %}" alt="Divio" style="margin-top: 25px" />
      </a>
    </div>
  <div class="col-md-3">
      <a href="http://oddbird.net/">
        <img class="img-responsive center-block" src="{% static 'img/global/supporters/oddlogo.png' %}" alt="OddBird" style="margin-top: 25px" />
    </a>
  </div>
  <div class="col-md-3">
    <a href="http://pythonanywhere.com/">
          <img class="img-responsive center-block" src="{% static 'img/global/supporters/pythonanywhere.png' %}" alt="Python Anywhere" style="margin-top: 25px" />
      </a>
    </div>
</div>

<div class="row">
  <div class="col-md-3">
      <a href="https://www.mailchimp.com/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/mailchimp.png' %}" alt="Mailchimp" style="margin-top: 25px" />
        </a>
    </div>
    <div class="col-md-3">
        <a href="https://www.rmotr.com/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/rmotr.png' %}" alt="RMOTR" style="margin-top: 25px" />
        </a>
    </div>
     <div class="col-md-3">
        <a href="https://www.sherpany.com/en/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/sherpany.png' %}" alt="Sherpany" style="margin-top: 25px" />
        </a>
    </div>
    <div class="col-md-3">
        <a href="https://www.caktusgroup.com/" rel="nofollow">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/caktus.png' %}" alt="Caktus" style="margin-top: -30px" />
        </a>
    </div>
</div>

<div class="row">
     <div class="col-md-3">
        <a href="https://www.nexmo.com/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/nexmo.png' %}" alt="Nexmo" />
        </a>
    </div>
    <div class="col-md-3">
      <a href="https://www.get.tech/">
          <img class="img-responsive center-block" src="{% static 'img/global/supporters/techdomains.png' %}" alt=".TECH domains" style="margin-top: -25px" />
        </a>
    </div>
     <div class="col-md-3">
      <a href="https://www.jambonsw.com/">
          <img class="img-responsive center-block" src="{% static 'img/global/supporters/JamBonSW.png' %}" alt="JamBon Software" style="margin-top: -60px" />
        </a>
    </div>
    <div class="col-md-3">
        <a href="http://www.developeo.com/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/developeo.png' %}" alt="Developeo" />
        </a>
    </div>
 </div>

<div class="row">
     <div class="col-md-3">
        <a href="https://readthedocs.org/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/readthedocs.png' %}" alt="Read The Docs" />
        </a>
    </div>
    <div class="col-md-3">
        <a href="https://www.wspdigital.com/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/wsp.png' %}" alt="WSP Digital" />
        </a>
    </div>
    <div class="col-md-3">
        <a href="https://taiga.io/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/taiga.png' %}" alt="Taiga Agile" style="margin-top: -60px" />
        </a>
    </div>
    <div class="col-md-3">
        <a href="http://opendataservices.coop/">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/opendataservices.png' %}" alt="Open Data Services" />
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <a href="https://www.eventbrite.com">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/eventbrite.png' %}">
        </a>
    </div>
    <div class="col-md-3">
        <a href="https://www.jetbrains.com">
            <img class="img-responsive center-block" src="{% static 'img/global/supporters/jetbrains.png' %}">
        </a>
    </div>
</div>
