{% if event.event.latlng %}
    var coolMarker = L.AwesomeMarkers.icon({
        icon: 'heart',
        markerColor: 'orange'
      });

    marker = L.marker([{{ event.event.latlng }}], {icon: coolMarker});
    {% if event.is_live %}
        marker.bindPopup("<a href='/{{ event.url }}'><b>{{ event.event.name }}</b></a><br /> {{ event.event.date }}");
    {% else %}
        marker.bindPopup("<b>{{ event.event.name }}</b><br /> {{ event.event.date }}");
    {% endif %}
    marker.addTo(map);
{% endif %}
