<div class="row">
    <div class="col-md-12">
        <h2>Don’t see event in your city?</h2>
    </div>
</div>

<div class="row centered">
    <div class="col-md-12">
        <h4>Sign up for newsletter</h4>
        <p>
            We will let you know when the event in your city will be launched:
        </p>
        <form action="//djangogirls.us8.list-manage.com/subscribe/post?u=5a007b2dabdeddc350bdbbaed&amp;id=8c50a4b2d0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" name="EMAIL" placeholder="Your e-mail" />
            <input type="text" name="CITY" placeholder="Your city" />
            <input type="submit" value="Sign up" name="subscribe" />
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_5a007b2dabdeddc350bdbbaed_8c50a4b2d0" tabindex="-1" value=""></div>
        </form>
    </div>
</div>

<div class="row centered">
    <div class="col-md-12">
        <h4>Bring Django Girls to your city!</h4>
        <p>
            Everyone can organize their own Django Girls event and share it with their community.
        </p>
        <a href="{% url 'core:organize' %}" class="btn">Find out more</a>
    </div>
</div>
