
{% if item.background %}

    <div id="{{ item.name }}" class="with-background" style="background-image: url({{ item.background.url }})">
        <div class="overlay">
              <div class="container">
                  {{ item.content|safe }}
              </div>
          </div>
    </div>

{% else %}

    <div class="container without-background" id="{{ item.name }}">
        {{ item.content|safe }}

        {% if item.sponsors.count > 0 %}
            <div class="row sponsor-logos">
                {% for sponsor in item.sponsors.all %}
                    {% include 'includes/_sponsor.html' with sponsor=sponsor %}
                {% endfor %}
            </div>
        {% endif %}

        {% if item.coaches.count > 0 %}
            <div class="row coaches">

                {% for coach in item.coaches.all %}
                    <div class="col-md-2{% cycle ' col-md-offset-1' '' '' '' '' %}">
                        {% include 'includes/_coach.html' with coach=coach %}
                    </div>

                    {% if forloop.counter|divisibleby:5 %}</div><div class="row coaches">{% endif %}
                {% endfor %}

            </div>
        {% endif %}

    </div>

{% endif %}
