
{% if item.background %}

    <div id="{{ item.name }}" class="with-background" style="background-image: url({{ item.background.url }})">
        <div class="overlay">
              <div class="container">
                  {{ item.content|safe }}
              </div>
          </div>
    </div>

{% else %}

    <div class="container without-background" id="{{ item.name }}">
        {{ item.content|safe }}

        {% if item.sponsor_set.count > 0 %}
            <div class="row sponsor-logos">
                {% for sponsor in item.sponsor_set.all %}
                    {% include 'includes/_sponsor.html' with sponsor=sponsor %}
                {% endfor %}
            </div>
        {% endif %}

    </div>

{% endif %}
