interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://nominatim.openstreetmap.org/search?format=json&q=Kensington%2C+the+Neverlands
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://nominatim.openstreetmap.org/search?format=json&q=Hidden%2C+Event
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://nominatim.openstreetmap.org/search?format=json&q=%C5%81%C3%B3d%C5%BA%2C+Poland
  response:
    body: {string: "[{\"place_id\":\"159283843\",\"licence\":\"Data \xA9 OpenStreetMap
        contributors, ODbL 1.0. http:\\/\\/www.openstreetmap.org\\/copyright\",\"osm_type\":\"relation\",\"osm_id\":\"1582777\",\"boundingbox\":[\"51.6861438\",\"51.8598252\",\"19.3208635\",\"19.6399426\"],\"lat\":\"51.7687323\",\"lon\":\"19.4569911\",\"display_name\":\"\u0141\xF3d\u017A,
        \u0142\xF3dzkie, Polska\",\"class\":\"place\",\"type\":\"city\",\"importance\":0.77475365685755,\"icon\":\"http:\\/\\/nominatim.openstreetmap.org\\/images\\/mapicons\\/poi_place_city.p.20.png\"},{\"place_id\":\"159636105\",\"licence\":\"Data
        \xA9 OpenStreetMap contributors, ODbL 1.0. http:\\/\\/www.openstreetmap.org\\/copyright\",\"osm_type\":\"relation\",\"osm_id\":\"2907537\",\"boundingbox\":[\"51.6861438\",\"51.8598252\",\"19.3208635\",\"19.6399426\"],\"lat\":\"51.77305755\",\"lon\":\"19.4783822195225\",\"display_name\":\"\u0141\xF3d\u017A,
        \u0142\xF3dzkie, Polska\",\"class\":\"b[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://nominatim.openstreetmap.org/search?format=json&q=Hidden_no_date%2C+Event
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
