{% extends 'global/base.html' %}
{% load i18n %}

{% block title %}{% trans "Django Girls Contact" %}{% endblock %}

{% block content %}
  <div class="container without-background public-form" id="flatpage">
    <div id="value" class="row">
      <div class="col-md-12">
        <h2>{% trans "Contact Django Girls" %}</h2>

        {% include 'includes/_info_messages.html' %}

        <p>{% trans "Hi! We would love to hear from you!" %}</p>

        <p>{% trans "To be sure your email reach the right person, check this FAQ first!" %}</p>

        {% include 'includes/_faq.html' %}

        {% url 'core:faq' as faq_url %}
        <p>
          {% blocktrans trimmed %}
            If you didn't find what you wanted, please check our extended <a href="{{ faq_url }}">FAQ section</a>
            or use the form below. :)
          {% endblocktrans %}
        </p>

        <form action="" method="post" style="margin-top: 30px;">
          {% csrf_token %}

          <div class="row">
            <div class="col-md-6">
              {% include 'includes/_field.html' with field=form.name %}
            </div>
            <div class="col-md-6">
              {% include 'includes/_field.html' with field=form.email %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {% include 'includes/_field.html' with field=form.contact_type %}
            </div>
            <div class="col-md-6">
              {% include 'includes/_field.html' with field=form.event %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {% include 'includes/_field.html' with field=form.message %} {% include 'includes/_field.html' with field=form.captcha %}
            </div>
          </div>

          <input type="submit" value="{% trans "Send" %}"/>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
