<p>Hello team {{event.city}}!</p>

<p>Congratulations on running your own Django Girls event! We're super proud and so so so happy for you :)</p>

<p>
<strong>Numbers</strong><br/>
Whenever you have a little bit of time, we would be super grateful if you could <a href="{% url 'admin:core_event_change' event.id %}">fill out this form</a> to provide information how many people attended your workshop. This will help us show the global impact that Django Girls is having on the world! :)
</p>

<p>
<strong>Tell us how it went!</strong><br/>
We’d love to hear from you more about the workshop: how it went? Have you enjoyed it? What was your favourite moment of it? We wanna hear *everything* :)
</p>

<p>
<strong>Share your experiences</strong><br/>
If you want to write on your experience as an organizer or share with the community all the awesome things that happened during your event, you can write a post on our blog. You did something cool: don't be shy and brag about it! <a href="http://blog.djangogirls.org/submit">You can do it here.</a>
</p>

<p>
<strong>Upload your photos</strong><br/>
If you would like to add photos from your event to our <a href="https://www.flickr.com/photos/djangogirls/">Flickr account</a>, just let us know and we will provide you with information how to do it.
</p>

<p>
<strong>Donation</strong><br/>
If you have any money leftover from your workshop, consider <a href="{% url 'core:donate' %}">donating it to Django Girls Foundation</a>, a non-profit that supports organizers all over the world.
</p>

<p>
<strong>Discount in our store</strong><br/>
Use the code "SPARKLES" to get a 15% discount on your order <a href="https://store.djangogirls.org">in our store</a>. You can share this code with your coaches and attendees. All proceeds will go to Django Girls Foundation (non-profit organization).
</p>

<p>If you want to plan another event someday, don't hesitate to fill out the <a href="{% url 'core:organize' %}">organizing form again</a>.</p>

<p><strong>Thanks and congrats yet again, you're awesome!</strong></p>

<p>
Hugs, rainbows and sunshines!<br/>
Django Girls
</p>
