<p>Hi there!</p>

<p>Congrats! You're now a Django Girls organizer, so awesome! Here is access to your
website:</p>

<p>Your website address is https://djangogirls.org/{{ event.page_url }}</p>

<p>
  Login here:<br />
  https://djangogirls.org/admin/
</p>

<p>
  Email: {{ user.email }}<br />
  Password: {{ password }}
</p>

<p>Here you can find instructions on editing website: https://organize.djangogirls.org/website/</p>

<p>Your event's email is {{ event.email }}. Ask the main organizer of you event
  for password and instructions to access it.</p>

<p>We also invited you to Django Girls Slack, where we chat, communicate and meet each other!</p>

<p>
  You can contact hello@ if you need assistance but it’s usually faster to check
  our <a href="https://faq-organizers.djangogirls.org/">FAQ</a> or to post questions
  to the <a href="https://groups.google.com/forum/#!forum/django-girls-organizers">
  Google Group of Django Girls Organizers</a> or <a href="https://djangogirls.slack.com/messages/general/">
  Slack channel</a> - there are more people that can help you! :)
</p>

<p>
  Hugs, rainbows and sunshines!<br />
  Django Girls
</p>
