{% extends 'global/base.html' %}
{% load i18n static %}

{% block content %}
    {% url 'contact:landing' as contact_url %}

	<script src="https://js.stripe.com/v3/"></script>

    <div class="container">
        <section id="support">
            <div class="row clearfix">
                <div class="col-md-12">
                    <h2>{% trans "Start supporting Django Girls Foundation today 💕" %}</h2>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12">
                    <h3>{% trans "Monthly donations" %}</h3>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-6">
                    <p>
                        {% blocktrans trimmed %}
                            If you would like to setup a recurring donation, we encourage you to do so via our
                            <a href="https://www.patreon.com/djangogirls" target="_blank">Patreon page</a>.
                            Our pledges start at 5 USD per month.
                        {% endblocktrans %}
                    </p>
                </div>

                <div class="col-md-6">
                {# TODO: Can this data be dynamic? #}
                    <p>
                        <span class="highlighted-number">$1,060</span> of <span class="highlighted-number">$2,500</span> monthly goal pledged</p>
                        <div class="support-bar">
                            <div class="pledge" style="width: 42%">42%
                            </div>
                        </div>
                        <a class="btn" href="http://patreon.com/djangogirls">{% trans "Make a recurring donation on Patreon" %}</a>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-6">
                    <h3>{% trans "One-time donations" %}</h3>
                </div>
                <div class="col-md-6"></div>
            </div>

            <div class="row clearfix">
                <div class="col-md-6 card">
                    <div class="card-body">
                        <h4>{% trans "Donate via PayPal" %}</h4>
                    
                        <script src="https://www.paypal.com/sdk/js?client-id=BAA4vJvR54JI4G6VRKvNkHsjQOajbjxANAqiNokKuIIOLqJ-NgFccsh9TurITWeo_jTrSnhlTW2aYIHYQQ&components=hosted-buttons&disable-funding=venmo&currency=GBP"></script>
                        <div id="paypal-container-BFWVAQTRKD55J"></div>
                        <script>
                            paypal.HostedButtons({
                                hostedButtonId: "BFWVAQTRKD55J",
                            }).render("#paypal-container-BFWVAQTRKD55J")
                        </script>

                        <p>
                            {% blocktrans trimmed %}
                                You can send us a one-time donation via PayPal to
                                <a href="mailto:hello@djangogirls.org">hello@djangogirls.org</a>
                            {% endblocktrans %}
                        </p>

                        <p>
                            {% blocktrans trimmed %}
                                If you would like to discuss a bigger partnership or a corporate sponsorship,
                                <a href="{{ contact_url }}">please get in touch.</a>
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            {% if STRIPE_PUBLIC_KEY %}
                            <h4>{% trans "Donate now" %}</h4>

                            <form id="payment-form" action="{% url 'donations:charge' %}" method="post">
                                {% csrf_token %}

                                {% include 'includes/_form.html' %}

                                <div class="form-row">
                                    <label for="card-element">
                                        {% trans "Credit or debit card" %}
                                    </label>
                                    <div id="card-element" class="form-control" style='height: 2.4em; padding-top: .7em;'>
                                        <!-- A Stripe Element will be inserted here. -->
                                    </div>

                                    <!-- Used to display form errors. -->
                                    <div id="card-errors" role="alert"></div>
                                </div>

                                <input class="btn" style="margin-top: 25px" type="submit" value="Submit Payment">
                            </form>
                    {% endif %}

                        </div>
                    </div>
                    
                    <br>

                    <h3>{% trans "Other ways of supporting us" %}</h3>
                    <h4>{% trans "Humble Bundle Store" %}</h4>
                    <p>
                        {% blocktrans trimmed %}
                            If you like video games, you can choose Django Girls as your designated charity in the
                            <a href="https://www.humblebundle.com/store?charity=129929">Humble Bundle Store</a>! 🎮
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </section>

    </div>

    <script>
		// Create a Stripe client.
		var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');

		// Create an instance of Elements.
		var elements = stripe.elements();

		// Custom styling can be passed to options when creating an Element.
		// (Note that this demo uses a wider set of styles than the guide below.)
		var style = {
		  base: {
              iconColor: '#944004',
              color: '#090909',
              fontWeight: '500',
              fontFamily: 'Roboto, Open Sans, Segoe UI, sans-serif',
              fontSize: '16px',
              fontSmoothing: 'antialiased',
              ':-webkit-autofill': {
                color: '#fce883',
              },
              '::placeholder': {
                color: '#fc6306',
              },
            },
            invalid: {
              iconColor: '#f80530',
              color: '#ff050d',
            },
		};

		// Create an instance of the card Element.
		var card = elements.create('card', {style: style});

		// Add an instance of the card Element into the `card-element` <div>.
		card.mount('#card-element');

		// Handle real-time validation errors from the card Element.
		card.addEventListener('change', function(event) {
		    var displayError = document.getElementById('card-errors');
		    if (event.error) {
    		    displayError.textContent = event.error.message;
		    } else {
		        displayError.textContent = '';
		    }
		});

		// Handle form submission.
		var form = document.getElementById('payment-form');
		form.addEventListener('submit', function(event) {
		    event.preventDefault();

		    stripe.createToken(card).then(function(result) {
		        if (result.error) {
		            // Inform the user if there was an error.
		            var errorElement = document.getElementById('card-errors');
		            errorElement.textContent = result.error.message;
		        } else {
		            // Send the token to your server.
		            stripeTokenHandler(result.token);
		        }
		    });
		});

		// Submit the form with the token ID.
		function stripeTokenHandler(token) {
		    // Insert the token ID into the form so it gets submitted to the server
		    var form = document.getElementById('payment-form');
		    var hiddenInput = document.createElement('input');
		    hiddenInput.setAttribute('type', 'hidden');
		    hiddenInput.setAttribute('name', 'stripeToken');
		    hiddenInput.setAttribute('value', token.id);
		    form.appendChild(hiddenInput);

		    // Submit the form
		    form.submit();
		}
	</script>
{% endblock %}
