{% extends 'global/base.html' %}
{% load i18n static %}

{% block content %}
	<div class="container">
        <div class="row">
            <h4>{% trans "Error" %}</h4>
            <p>
                {% trans "Sorry, an error has occurred" %}
            </p>
            {% if stripe_message %}
                <p>{{ stripe_message }}</p>
            {% endif %}
            <hr>
            <a class="myButton" href="{% url 'donations:index' %}">&#x2190;&nbsp;{% trans "Back to donation page" %}</a>
        </div>
	</div>

{% endblock content %}