{% extends 'global/base.html' %}

{% block content %}

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h2>Page not found</h2>
                    <p>
                        Sorry! The page you're looking for isn't available.</p>
                    <h3>See all <a href="{% url 'core:events' %}">upcoming events</a>.</h3>
                    <p><a href="{% url 'core:organize' %}">Find out</a> about
                        organizing a Django Girls workshop in your city.</p>
                </div>
            </div>


    </div>

{% endblock content %}
