{% extends 'event.html' %}
{% load static applications_tags %}

{% block custom_js %}<script type="text/javascript" src="{% static 'js/applications.js' %}"></script>{% endblock %}

{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block content %}

<div id="applications" data-change-state-url="{% url 'applications:change_state' page.url %}"></div>

<div class="container">
  <form action="{% url 'applications:change_state' page.url %}" method="post" id="change-state-form">
  <div class="row">
    <div class="col-md-12 applications">
      <h3 class="page-header">Applications for {{ page.title }}</h3>
      {% if applications %}
          <p>Filter: <a href="?">All</a> | <a href="?state=submitted" class="text-primary">Submitted</a> | <a href="?state=accepted" class="text-success">Accepted</a> | <a href="?state=rejected" class="text-danger">Rejected</a> | <a href="?state=waitlisted" class="text-warning">Waiting list</a></p>
          <p>Change the state of selected applications to:
              <select name="state">
                  <option value="" selected>Choose state</option>
                  <option value="submitted">Submitted</option>
                  <option value="accepted">Accepted</option>
                  <option value="rejected">Rejected</option>
                  <option value="waitlisted">Waiting list</option>
              </select>
              <input type="submit" value="Apply" />
          </p>
          <table class="table ">
              <thead>
                  <tr>
                      <th></th>
                      <th>#</th>
                      <th>Created</th>
                      <th>Status</th>
                      <th>Score {% display_sorting_arrow 'average_score' order %}</th>
                      <th>&nbsp;</th>
                  </tr>
              </thead>
              <tbody>
                  {% for app in applications %}
                  <tr>
                      <td><input type="checkbox" name="application" value="{{ app.id }}" /></div>
                      <td><a href='{{ app.id }}'>{{ app.id }}</a></td>
                      <td>{{ app.created }}</td>
                      <td>
                          <div class="dropdown">
                            <button
                                class="btn btn-default dropdown-toggle {{ app.state|default:'default' }}"
                                type="button"
                                id="application-{{ app.id }}-state"
                                data-toggle="dropdown"
                              >
                              {{ app.get_state_display }}
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a href="#" class="state-change" data-state="submitted" data-app-id="{{ app.id }}">Submitted</a></li>
                              <li><a href="#" class="state-change" data-state="accepted" data-app-id="{{ app.id }}">Accepted</a></li>
                              <li><a href="#" class="state-change" data-state="rejected" data-app-id="{{ app.id }}">Rejected</a></li>
                              <li><a href="#" class="state-change" data-state="waitlisted" data-app-id="{{ app.id }}">Waiting list</a></li>
                            </ul>
                          </div>
                      </td>
                      <td>
                          {% if app|scored_by_user:request.user %}
                              {{ app.average_score }}
                              <span class="num_votes">({{ app.scores.count }} vote{{ app.scores.count|pluralize }}, &sigma;={{ app.stdev|floatformat:"1" }})</span>
                          {% else %}
                              (hidden)
                          {% endif %}
                      </td>
                      <td class="text-right">
                          <a href="{{ app.id }}" class="btn">View Application</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      {% else %}
          <p class="lead">Nothing to see here...</p>
      {% endif %}
    </div>
  </div>
  </form>
</div>
{% endblock %}
