{% extends 'event.html' %}
{% load static %}

{% block title %}{{ form.text_header }}{% endblock %}
{% block description %}{{ form.text_description|striptags }}{% endblock %}

{% block content %}

<div id="apply" class="with-background" style="background-image: url({% static 'img/photos/apply.jpg' %}); background-position-y: -80px">
    <div class="overlay">
          <div class="container">
              <div class="row">
                <div class="col-md-7 col-md-offset-4">
                  <h2>{{ form_obj.text_header }}</h2>
                  <p>{{ form_obj.text_description|safe }}</p>
                </div>
              </div>
          </div>
      </div>
</div>

<div class="container without-background application-form">

    <form action="" method="post">
      {% csrf_token %}
      {% for question in form %}
      <div class="row">
          <div class="col-md-12">
              <label>
                {{ question.label|safe }}
                {% if question.field.required %}<span class="required">*</span>{% endif %}
              </label>

              {% if question.field.help_text %}
                <p class="help-text">{{ question.field.help_text|safe }}</p>
              {% endif %}

              {% if question.errors %}
                {% for error in question.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
              {% endif %}

              <div class="field{% if question.errors %} with-errors{% endif %}">
                {{ question }}
              </div>
          </div>
      </div>
      {% endfor %}
      <input type="submit" value="Submit your application" />
    </form>
</div>

{% endblock %}
