{% extends 'event.html' %}
{% load static applications_tags %}

{% block custom_js %}<script type="text/javascript" src="{% static 'js/applications.js' %}"></script>{% endblock %}

{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block content %}

<div id="applications" data-change-state-url="{% url 'applications:change_state' page.url %}"></div>

<div class="container without-background">
  <div class="row">
    <div class="col-md-12 applications">
      <h3 class="page-header">Applications for {{ page.title }}</h3>
      {% if applications %}
          <p>Filter: <a href="?">All</a> | <a href="?state=submitted" class="text-primary">Submitted</a> | <a href="?state=accepted" class="text-success">Accepted</a> | <a href="?state=rejected" class="text-danger">Rejected</a></p>
          <table class="table ">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Created</th>
                      <th>Status</th>
                      <th>Score {% display_sorting_arrow 'average_score' order %}</th>
                      <th>&nbsp;</th>
                  </tr>
              </thead>
              <tbody>
                  {% for app in applications %}
                  <tr>
                      <td><a href='{{ app.id }}'>{{ app.id }}</a></td>
                      <td>{{ app.created }}</td>
                      <td>
                          <div class="dropdown">
                            <button
                                class="btn btn-default dropdown-toggle {% if app.state == 'accepted' %}accepted
                                      {% elif app.state == 'rejected' %}rejected
                                      {% elif app.state == 'submitted' %}submitted
                                      {% else %}default{% endif %}"
                                type="button"
                                id="application-{{ app.id }}-state"
                                data-toggle="dropdown"
                              >
                              {{ app.get_state_display }}
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a href="#" class="state-change" data-state="submitted" data-app-id="{{ app.id }}">Submitted</a></li>
                              <li><a href="#" class="state-change" data-state="accepted" data-app-id="{{ app.id }}">Accepted</a></li>
                              <li><a href="#" class="state-change" data-state="rejected" data-app-id="{{ app.id }}">Rejected</a></li>
                            </ul>
                          </div>
                      </td>
                      <td>{% if app|scored_by_user:request.user %}{{ app.average_score }}{% endif %}</td>
                      <td class="text-right">
                          <a href="{{ app.id }}" class="btn">View Application</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      {% else %}
          <p class="lead">Nothing to see here...</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
