{% extends 'event.html' %}
{% load static %}

{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block content %}

<div class="container without-background">
    <div class="row">
        <div class="col-md-12 applications">
            <h3 class="page-header">Application #{{ application.number }} for {{ page.title }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 applications">
        {% for answer in application.answer_set.all %}
            <div class="answer">
                <p class="question">{{ answer.question.title|safe }}</p>
                <p>{{ answer.answer|urlize }}</p>
            </div>
        {% endfor %}
        </div>


        <div class="col-md-5 scoring">
            {% if user_score.score %}
            <h4>Scores</h4>
            <ul>
                <li>Average score: {{ application.average_score }}</li>
                <li>Your score: {{ user_score.score }}</li>
            </ul>
            <table>
                <thead>
                    <td>Person</td>
                    <td>Score</td>
                    <td>Comment</td>
                </thead>
                {% for s in scores %}
                <tr>
                    <td>{{ s.user.first_name }} {{ s.user.last_name }}</td>
                    <td>{{ s.score }}</td>
                    <td>{{ s.comment }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}

            <h4>Your score</h4>
            <form action="" method="post" class="scoring-form">
                {% csrf_token %}
                {% with score_form as form %}
                    {% include 'includes/_form.html' %}
                {% endwith %}
                <input class="btn" type="submit" value="Save" />
                <input class="btn" type="submit" name="random" value="Save & go to next" />
            </form>
        </div>
    </div>
</div>

{% endblock %}
