{% extends 'event.html' %}
{% load static %}

{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block content %}

<div class="container without-background">
    <div class="row">
        <div class="col-md-12 applications">
            <h3 class="page-header">Application #{{ application.number }} for {{ page.title }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 applications">
        {% for answer in application.answer_set.all %}
            <div class="answer">
                <p class="question">{{ answer.question.title|safe }}</p>
                <p>{{ answer.answer|urlize|linebreaks }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
