{% extends 'global/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">

        <section id="events">
            <div class="row">
                <div class="col-md-12">
                    <h2>Upcoming events</h2>
                </div>
            </div>

            <div class="row">
                <a href="">
                    <div class="col-md-4 event">
                        <div class="overlay">
                            <p class="city">Kraków</p>
                            <span class="date">11th November 2014</span>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="col-md-4 event">
                        <div class="overlay">
                            <p class="city">Kraków</p>
                            <span class="date">11th November 2014</span>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="col-md-4 event">
                        <div class="overlay">
                            <p class="city">Kraków</p>
                            <span class="date">11th November 2014</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="row">
                <a href="">
                    <div class="col-md-4 event">
                        <div class="overlay">
                            <p class="city">Kraków</p>
                            <span class="date">11th November 2014</span>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="col-md-4 event">
                        <div class="overlay">
                            <p class="city">Kraków</p>
                            <span class="date">11th November 2014</span>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="col-md-4 event">
                        <div class="overlay">
                            <p class="city">Kraków</p>
                            <span class="date">11th November 2014</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="row">
                <a href="">
                    <div class="col-md-4 event">
                        <div class="overlay">
                            <p class="city">Kraków</p>
                            <span class="date">11th November 2014</span>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="col-md-4 event">
                        <div class="overlay">
                            <p class="city">Kraków</p>
                            <span class="date">11th November 2014</span>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="col-md-4 event">
                        <div class="overlay">
                            <p class="city">Kraków</p>
                            <span class="date">11th November 2014</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="row past-events">
                <div class="col-md-12">
                    <h2>Past events</h2>
                </div>
            </div>

            <div class="row">
                <a href="">
                    <div class="col-md-4 event">
                        <div class="overlay">
                            <p class="city">Kraków</p>
                            <span class="date">11th November 2014</span>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="col-md-4 event">
                        <div class="overlay">
                            <p class="city">Kraków</p>
                            <span class="date">11th November 2014</span>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="col-md-4 event">
                        <div class="overlay">
                            <p class="city">Kraków</p>
                            <span class="date">11th November 2014</span>
                        </div>
                    </div>
                </a>
            </div>

        </section>

        <section id="organize">
            {% include 'includes/_no_event.html' %}
        </section>

    </div>

{% endblock %}
