{% extends 'global/base.html' %}
{% load staticfiles markdown_deux_tags %}

{% block title %}Django Girls Foundation Governing Document{% endblock %}

{% block content %}
    <div class="container without-background" id="flatpage">
          <div id="value" class="row">
              <div class="col-md-12">
                  <h1>Django Girls Foundation Governing Document</h1>
                  {% markdown "trusted" %}
*Date of constitution (last amended): 20th August 2015*

### 1. Name
The name of the Charitable Incorporated Organisation (“the CIO”) is
*Django Girls Foundation*

### 2. National location of principal office
The principal office of the CIO is in *England*.

### 3. Objects
The objects of the CIO are:

- To advance the education of the public in particular but not exclusively women in the subject of computer science by providing or assisting in the provision of programming workshops and educational material.

Nothing in this constitution shall authorise an application of the property of the CIO for the purposes which are not charitable in accordance with [section 7 of the Charities and Trustee Investment (Scotland) Act 2005] and [section 2 of the Charities Act (Northern Ireland) 2008]

### 4. Powers
The CIO has power to do anything which is calculated to further its objects or is conducive or incidental to doing so. In particular, the CIO has power to:

- buy, take on lease or in exchange, hire or otherwise acquire any property and to maintain and equip it for use;
- sell, lease or otherwise dispose of all or any part of the property belonging to the CIO. In exercising this power, the CIO must comply as appropriate with sections 117 and 119-123 of the Charities Act 2011;
- employ and remunerate such staff as are necessary for carrying out the work of the CIO. The CIO may employ or remunerate a charity trustee only to the extent that it is permitted to do so by clause 6 (Benefits and payments to charity trustees and connected persons) and provided it complies with the conditions of that clause;
- deposit or invest funds, employ a professional fund-manager, and arrange for the investments or other property of the CIO to be held in the name of a nominee, in the same manner and subject to the same conditions as the trustees of a trust are permitted to do by the Trustee Act 2000.

### 5. Application of income and property

1. The income and property of the CIO must be applied solely towards the promotion of the objects.
1. A charity trustee is entitled to be reimbursed from the property of the CIO or may pay out of such property reasonable expenses properly incurred by him or her when acting on behalf of the CIO.
2. A charity trustee may benefit from trustee indemnity insurance cover purchased at the CIO’s expense in accordance with, and subject to the conditions in, section 189 of the Charities Act 2011.
2. None of the income or property of the CIO may be paid or transferred directly or indirectly by way of dividend, bonus or otherwise by way of profit to any member of the CIO.
3. Nothing in this clause shall prevent a charity trustee or connected person receiving any benefit or payment which is authorised by Clause 6.

### 6. Benefits and payments to charity trustees and connected persons

#### 1. General provisions
No charity trustee or connected person may:

- buy or receive any goods or services from the CIO on terms preferential to those applicable to members of the public;
- sell goods, services, or any interest in land to the CIO;
- be employed by, or receive any remuneration from, the CIO; // *<-- figure out if we want to change that*
- receive any other financial benefit from the CIO;

unless the payment or benefit is permitted by sub-clause (2) of this clause or authorised by the court or the prior written consent of the Charity Commission (“the Commission”) has been obtained. In this clause, a “financial benefit” means a benefit, direct or indirect, which is either money or has a monetary value.

#### 2. Scope and powers permitting trustees’ or connected persons’ benefits

1. A charity trustee or connected person may receive a benefit from the CIO as a beneficiary of the CIO provided that a majority of the trustees do not benefit in this way.
2. A charity trustee or connected person may enter into a contract for the supply of services, or of goods that are supplied in connection with the provision of services, to the CIO where that is permitted in accordance with, and subject to the conditions in, sections 185 to 188 of the Charities Act 2011.
3. Subject to sub-clause (3) of this clause a charity trustee or connected person may provide the CIO with goods that are not supplied in connection with services provided to the CIO by the charity trustee or connected person.
4. A charity trustee or connected person may receive interest on money lent to the CIO at a reasonable and proper rate which must be not more than the Bank of England bank rate (also known as the base rate).
5. A charity trustee or connected person may receive rent for premises let by the trustee or connected person to the CIO. The amount of the rent and the other terms of the lease must be reasonable and proper. 6. The charity trustee concerned must withdraw from any meeting at which such a proposal or the rent or other terms of the lease are under discussion.
7. A charity trustee or connected person may take part in the normal trading and fundraising activities of the CIO on the same terms as members of the public.

#### 3. Payment for supply of goods only – controls
The CIO and its charity trustees may only rely upon the authority
provided by sub-clause 2.3 of this clause if each of the following
conditions is satisfied:

1. The amount or maximum amount of the payment for the goods is set out in a written agreement between the CIO and the charity trustee or connected person supplying the goods (“the supplier”).
- The amount or maximum amount of the payment for the goods does not exceed what is reasonable in the circumstances for the supply of the goods in question
- The other charity trustees are satisfied that it is in the best interests of the CIO to contract with the supplier rather than with someone who is not a charity trustee or connected person. In reaching that decision the charity trustees must balance the advantage of contracting with a charity trustee or connected person against the disadvantages of doing so.
- The supplier is absent from the part of any meeting at which there is discussion of the proposal to enter into a contract or arrangement with him or her or it with regard to the supply of goods to the CIO.
- The supplier does not vote on any such matter and is not to be counted when calculating whether a quorum of charity trustees is present at the meeting.
- The reason for their decision is recorded by the charity trustees in the minute book.
- A majority of the charity trustees then in office are not in receipt of remuneration or payments authorised by clause 6.

#### 4. In sub-clauses (2) and (3) of this clause:
1. “the CIO” includes any company in which the CIO:
- holds more than 50% of the shares; or
- controls more than 50% of the voting rights attached to the shares; or
- has the right to appoint one or more directors to the board of the company;
2. “connected person” includes any person within the definition set out in clause 29 (Interpretation);


### 7. Conflicts of interest and conflicts of loyalty
A charity trustee must:

1. declare the nature and extent of any interest, direct or indirect, which he or she has in a proposed transaction or arrangement with the CIO or in any transaction or arrangement entered into by the CIO which has not previously been declared; and
2. absent himself or herself from any discussions of the charity trustees in which it is possible that a conflict of interest will arise between his or her duty to act solely in the interests of the CIO and any personal interest (including but not limited to any financial interest).

Any charity trustee absenting himself or herself from any discussions in
accordance with this clause must not vote or be counted as part of the
quorum in any decision of the charity trustees on the matter.

### 8. Liability of members to contribute to the assets of the CIO if it is wound up

If the CIO is wound up, the members of the CIO have no liability to contribute to its assets and no personal responsibility for settling its debts and liabilities.

### 9. Charity trustees

#### 1. Functions and duties of charity trustees

The charity trustees shall manage the affairs of the CIO and may for that purpose exercise all the powers of the CIO. It is the duty of each charity trustee:

1. to exercise his or her powers and to perform his or her functions in his or her capacity as a trustee of the CIO in the way he or she decides in good faith would be most likely to further the purposes of the CIO; and
2. to exercise, in the performance of those functions, such care and skill as is reasonable in the circumstances having regard in particular to:
- any special knowledge or experience that he or she has or holds himself or herself out as having; and,
- if he or she acts as a charity trustee of the CIO in the course of a business or profession, to any special knowledge or experience that it is reasonable to expect of a person acting in the course of that kind of business or profession.

#### 2. Eligibility for trusteeship

1. Every charity trustee must be a natural person.
2. No individual may be appointed as a charity trustee of the CIO:
- if he or she is under the age of 16 years; or
- if he or she would automatically cease to hold office under the provisions of clause 12(1)(e).
3. No one is entitled to act as a charity trustee whether on appointment or on any re-appointment until he or she has expressly acknowledged, in whatever way the charity trustees decide, his or her acceptance of the office of charity trustee.
4. At least one of the trustees of the CIO must be 18 years of age or over. If there is no trustee aged at least 18 years, the remaining trustees may only act to call a meeting of the charity trustees, or appoint a new charity trustee.

#### 3. Number of charity trustees

1. There must be at least three charity trustees. If the number falls below this minimum, the remaining trustee or trustees may act only to call a meeting of the charity trustees, or appoint a new charity trustee.
2. There is no maximum number of charity trustees that may be appointed to the CIO.

#### 4. First charity trustees

The first charity trustees are as follows:

1. Aleksandra Sendecka
2. Aleksandra Sitarska
3. Anna Warzecha
4. Baptiste Mispelon

### 10. Appointment of charity trustees

1. Apart from the first charity trustees, every trustee must be appointed by a resolution passed at a properly convened meeting of the charity trustees.
2. In selecting individuals for appointment as charity trustees, the charity trustees must have regard to the skills, knowledge and experience needed for the effective administration of the CIO.

### 11. Information for new charity trustees

The charity trustees will make available to each new charity trustee, on or before his or her first appointment:

1.  a copy of the current version of this constitution; and
2. a copy of the CIO’s latest Trustees’ Annual Report and statement of accounts.

### 12. Retirement and removal of charity trustees

1. A charity trustee ceases to hold office if he or she:
	1. retires by notifying the CIO in writing (but only if enough charity trustees will remain in office when the notice of resignation takes effect to form a quorum for meetings);
	2. is absent without the permission of the charity trustees from all their meetings held within a period of six months and the trustees resolve that his or her office be vacated;
	3. dies;
	4. in the written opinion, given to the company, of a registered medical practitioner treating that person, has become physically or mentally incapable of acting as a director and may remain so for more than three months;
	5. is disqualified from acting as a charity trustee by virtue of sections 178-180 of the Charities Act 2011 (or any statutory re-enactment or modification of that provision).
2. Any person retiring as a charity trustee is eligible for
reappointment.

### 13.	Taking of decisions by charity trustees

Any decision may be taken either:

- at a meeting of the charity trustees; or
- by resolution in writing or electronic form agreed by all of the charity trustees, which may comprise either a single document or several documents containing the text of the resolution in like form to each of which one or more charity trustees has signified their agreement.

### 14. Delegation by charity trustees

1. The charity trustees may delegate any of their powers or functions to a committee or committees, and, if they do, they shall determine the terms and conditions on which the delegation is made. The charity trustees may at any time alter those terms and conditions, or revoke the delegation.

2. This power is in addition to the power of delegation in the General Regulations and any other power of delegation available to the charity trustees, but is subject to the following requirements:
1.  a committee may consist of two or more persons, but at least one member of each committee must be a
charity trustee;
2. the acts and proceedings of any committee must be brought to the attention of the charity trustees as a whole as soon as is reasonably practicable; and
3. the charity trustees shall from time to time review the arrangements which they have made for the delegation of their powers.

### 15. Meetings of charity trustees

#### 1.  Calling meetings
1.  Any charity trustee may call a meeting of the charity trustees.
2. Subject to that, the charity trustees shall decide how their meetings are to be called, and what notice is required.

#### 2. Chairing of meetings

The charity trustees may appoint one of their number to chair their meetings and may at any time revoke such appointment. If no-one has been so appointed, or if the person appointed is unwilling to preside or is not present within 10 minutes after the time of the meeting, the charity trustees present may appoint one of their number to chair that meeting.

#### 3. Procedure at meetings

1. No decision shall be taken at a meeting unless a quorum is present at the time when the decision is taken. The quorum is two charity trustees, or the number nearest to one third of the total number of charity trustees, whichever is greater, or such larger number as the charity trustees may decide from time to time. A charity trustee shall not be counted in the quorum present when any decision is made about a matter upon which he or she is not entitled to vote.

2. Questions arising at a meeting shall be decided by a majority of those eligible to vote.

#### 4. Participation in meetings by electronic means

1. A meeting may be held by suitable electronic means agreed by the charity trustees in which each participant may communicate with all the other participants.
2. Any charity trustee participating at a meeting by suitable electronic means agreed by the charity trustees in which a participant or participants may communicate with all the other participants shall qualify as being present at the meeting.
3. Meetings held by electronic means must comply with rules for meetings, including chairing and the taking of minutes.

### 16. Membership of the CIO

1. The members of the CIO shall be its charity trustees for the time being. The only persons eligible to be members of the CIO are its charity trustees. Membership of the CIO cannot be transferred to anyone else.
2. Any member and charity trustee who ceases to be a charity trustee automatically ceases to be a member of the CIO.

### 17. Decisions which must be made by the members of the CIO

1. Any decision to:
1. amend the constitution of the CIO;
- amalgamate the CIO with, or transfer its undertaking to, one or more other CIOs, in accordance with the Charities Act 2011; or
- wind up or dissolve the CIO (including transferring its business to any other charity) must be made by a resolution of the members of the CIO (rather than a resolution of the charity trustees).

2. Decisions of the members may be made either:
1. by resolution at a general meeting; or
- by resolution in writing, in accordance with sub-clause (4) of this clause.

3. Any decision specified in sub-clause (1) of this clause must be made in accordance with the provisions of clause 27 (amendment of constitution), clause 28 (Voluntary winding up or dissolution), or the provisions of the Charities Act 2011, the General Regulations or the Dissolution Regulations as applicable.
Those provisions require the resolution to be agreed by a 75% majority of those members voting at a general meeting, or agreed by all members in writing.

4. Except where a resolution in writing must be agreed by all the members, such a resolution may be agreed by a simple majority of all the members who are entitled to vote on it. Such a resolution shall be effective provided that:
1. a copy of the proposed resolution has been sent to all the members eligible to vote; and
2. the required majority of members has signified its agreement to the resolution in a document or documents which are received at the principal office within the period of 28 days beginning with the circulation date.
The document signifying a member’s agreement must be authenticated by their signature, by a statement of their identity accompanying the document, or in such other manner as the CIO has specified.

The resolution in writing may comprise several copies to which one or more members has signified their agreement. Eligibility to vote on the resolution is limited to members who are members of the CIO on the date when the proposal is first circulated.

### 18. General meetings of members

#### 1. Calling of general meetings of members

The charity trustees may designate any of their meetings as a general
meeting of the members of the CIO. The purpose of such a meeting is to
discharge any business which must by law be discharged by a resolution
of the members of the CIO as specified in clause 17 (Decisions which
must be made by the members of the CIO).

#### 2. Notice of general meetings of members

1. The minimum period of notice required to hold a general meeting of the members of the CIO is 7 days.
2. Except where a specified period of notice is strictly required by another clause in this constitution, by the Charities Act 2011 or by the General Regulations, a general meeting may be called by shorter notice if it is so agreed by a majority of the members of the CIO.
3. Proof that an envelope containing a notice was properly addressed, prepaid and posted; or that an electronic form of notice was properly addressed and sent, shall be conclusive evidence that the notice was given. Notice shall be deemed to be given 48 hours after it was posted or sent.

#### 3. Procedure at general meetings of members

The provisions in clause 15 (2)-(4) governing the chairing of meetings, procedure at meetings and participation in meetings by electronic means apply to any general meeting of the members, with all references to trustees to be taken as references to members.

### 19. Saving provisions

1. Subject to sub-clause (2) of this clause, all decisions of the charity trustees, or of a committee of charity trustees, shall be valid notwithstanding the participation in any vote of a charity trustee:

- who was disqualified from holding office;
- who had previously retired or who had been obliged by the constitution to vacate office;
- who was not entitled to vote on the matter, whether by reason of a conflict of interest or otherwise;

	if, without the vote of that charity trustee and that charity trustee being
counted in the quorum, the decision has been made by a majority of
the charity trustees at a quorate meeting.

2. Sub-clause (1) of this clause does not permit a charity trustee to keep any benefit that may be conferred upon him or her by a resolution of the charity trustees or of a committee of charity trustees if, but for sub-clause (1), the resolution would have been void, or if the charity trustee has not complied with clause 7 (Conflicts of interest).

### 20. Execution of documents

1. The CIO shall execute documents either by signature or by affixing its seal (if it has one)
2. A document is validly executed by signature if it is signed by at least two of the charity trustees.
3. If the CIO has a seal:
- it must comply with the provisions of the General Regulations; and
- the seal must only be used by the authority of the charity trustees or of a committee of charity trustees duly authorised by the charity trustees. The charity trustees may determine who shall sign any document to which the seal is affixed and unless otherwise so determined it shall be signed by two charity trustees.

### 21. Use of electronic communications

The CIO will comply with the requirements of the Communications Provisions in the General Regulations and in particular:

1.  the requirement to provide within 21 days to any member on request a hard copy of any document or information sent to the member otherwise than in hard copy form;
2. any requirements to provide information to the Commission in a particular form or manner.

### 22. Keeping of Registers
The CIO must comply with its obligations under the General Regulations in relation to the keeping of, and provision of access to, a (combined) register of its members and charity trustees.

### 23. Minutes
The charity trustees must keep minutes of all:

1. appointments of officers made by the charity trustees;
- proceedings at general meetings of the CIO;
- meetings of the charity trustees and committees of charity trustees including:
	- the names of the trustees present at the meeting;
	- the decisions made at the meetings; and
	- where appropriate the reasons for the decisions;
- decisions made by the charity trustees otherwise than in meetings.

### 24. Accounting records, accounts, annual reports and returns, register maintenance

1. The charity trustees must comply with the requirements of the Charities Act 2011 with regard to the keeping of accounting records, to the preparation and scrutiny of statements of account, and to the preparation of annual reports and returns. The statements of account, reports and returns must be sent to the Charity Commission, regardless of the income of the CIO, within 10 months of the financial year end.
- The charity trustees must comply with their obligation to inform the Commission within 28 days of any change in the particulars of the CIO entered on the Central Register of Charities.

### 25. Rules

The charity trustees may from time to time make such reasonable and proper rules or byelaws as they may deem necessary or expedient for the proper conduct and management of the CIO, but such rules or bye laws must not be inconsistent with any provision of this constitution. Copies of any such rules or bye laws currently in force must be made available to any member of the CIO on request.

### 26. Disputes

If a dispute arises between members of the CIO about the validity or propriety of anything done by the members under this constitution, and the dispute cannot be resolved by agreement, the parties to the dispute must first try in good faith to settle the dispute by mediation before resorting to litigation.

### 27. Amendment of constitution
As provided by sections 224-227 of the Charities Act 2011:

1. This constitution can only be amended:
1. by resolution agreed in writing by all members of the CIO; or
2. by a resolution passed by a 75% majority of those voting at a general meeting of the members of the CIO called in accordance with clause 18 (General meetings of members).
- Any alteration of clause 3 (Objects), clause 28 (Voluntary winding up or dissolution), this clause, or of any provision where the alteration would provide authorisation for any benefit to be obtained by charity trustees or members of the CIO or persons connected with them, requires the prior written consent of the Charity Commission.
- No amendment that is inconsistent with the provisions of the Charities Act 2011 or the General Regulations shall be valid.
- A copy of every resolution amending the constitution, together with a copy of the CIO’s constitution as amended must be sent to the Commission by the end of the period of 15 days beginning with the date of passing of the resolution, and the amendment does not take effect until it has been recorded in the Register of Charities.

### 28. Voluntary winding up or dissolution
1.  As provided by the Dissolution Regulations, the CIO may be dissolved by resolution of its members. Any decision by the members to wind up or dissolve the CIO can only be made:
	1. at a general meeting of the members of the CIO called in accordance with clause 18 (General meetings of members), of which not less than 14 days’ notice has been given to those eligible to attend and vote:
 		- by a resolution passed by a 75% majority of those voting, or
	   - by a resolution passed by decision taken without a vote and without any expression of dissent in response to the question put to the general meeting; or
	2. by a resolution agreed in writing by all members of the CIO.

2. Subject to the payment of all the CIO’s debts:
	1. Any resolution for the winding up of the CIO, or for the dissolution of the CIO without winding up, may contain a provision directing how any remaining assets of the CIO shall be applied.
	- If the resolution does not contain such a provision, the charity trustees must decide how any remaining assets of the CIO shall be applied.
	- In either case the remaining assets must be applied for charitable purposes the same as or similar to those of the CIO.

3. The CIO must observe the requirements of the Dissolution Regulations in applying to the Commission for the CIO to be removed from the Register of Charities, and in particular:
	- the charity trustees must send with their application to the Commission:
		- a copy of the resolution passed by the members ofthe CIO;
		- a declaration by the charity trustees that any debts and other liabilities of the CIO have been settled or otherwise provided for in full; and
		- a statement by the charity trustees setting out the way in which any property of the CIO has been or is to be applied prior to its dissolution in accordance with this constitution;
	- the charity trustees must ensure that a copy of the application is sent within seven days to every member and employee of the CIO, and to any charity trustee of the CIO who was not privy to the application.

4. If the CIO is to be wound up or dissolved in any other circumstances, the provisions of the Dissolution Regulations must be followed.

### 29. Interpretation

#### In this constitution:
**“connected person”** means:

1.  a child, parent, grandchild, grandparent, brother or sister of the charity trustee;
- the spouse or civil partner of the charity trustee or of any person falling within sub-clause (a) above;
- a person carrying on business in partnership with the charity trustee or with any person falling within subclause (a) or (b) above;
- an institution which is controlled –
	- by the charity trustee or any connected person falling within sub-clause (a), (b), or (c) above; or
	- by two or more persons falling within sub-clause (d)(i), when taken together
- a body corporate in which –
	- the charity trustee or any connected person falling within sub-clauses (a) to (c) has a substantial
interest; or
	- two or more persons falling within sub-clause (e)(i) who, when taken together, have a substantial interest.

Section 118 of the Charities Act 2011 apply for the purposes of interpreting the terms used in this constitution.

**“General Regulations”** means the Charitable Incorporated Organisations (General) Regulations 2012.

**“Dissolution Regulations”** means the Charitable Incorporated Organisations (Insolvency and Dissolution) Regulations 2012.

The **“Communications Provisions”** means the Communications Provisions in Part 10, Chapter 4 of the General Regulations. “charity trustee” means a charity trustee of the CIO.

A **“poll”** means a counted vote or ballot, usually (but not necessarily) in writing.
                  {% endmarkdown %}
              </div>
          </div>
    </div>
{% endblock %}
