{% extends 'global/base.html' %}
{% load staticfiles %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/global.js' %}"></script>
{% endblock %}

{% block content %}

    <section id="box-with-picture">
      <div class="black-canvas">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>
                        We inspire women to fall in love with programming.
                    </h1>
                    <p>
                        Django Girls organize free Python and Django workshops, create open sourced online tutorials and curate amazing first experiences with technology.
                    </p>
                </div>
            </div>
        </div>
      </div>
    </section>

    <div class="container">

        <section id="about">

            <div class="row">
                <div class="col-md-6">
                    <h2>About</h2>
                    <p>
                        Django Girls is a non-profit organization that empowers and helps women to organize free, one-day programming workshops by providing tools, resources and support. It was born in July 2014 in Berlin and started by two Olas: <a href="http://twitter.com/olasitarska">Sitarska</a> and <a href="http://twitter.com/asendecka">Sendecka</a>. Today, Django Girls is a volunteer run organization with hundreds of people contributing to bring more women to Python & Django community.
                    </p>

                    <h2>Mission</h2>
                    <p>
                        Our goal is to bring more amazing women into the world of technology and increase the diversity in the Django community. We believe that technology is for people and <em>everyone</em> should be able to build it. We are making technology more approachable by creating simple tools and resources designed with empathy.
                    </p>
                </div>
                <div class="col-md-6">
                  <iframe src="//player.vimeo.com/video/112325567?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="585" height="329" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2>Workshops</h2>
                    <p>
                        Each Django Girls event is a free, one-day workshop for 30-60 people about building your first application using HTML, CSS, Python and Django. A typical workshop takes 8 hours and people work in small, 3-person groups with a coach dedicated to each group.
                    </p>
                </div>
                <div class="col-md-6">
                    <h2>Tutorial</h2>
                    <p>
                        During the workshop, attendees follow a tutorial written especially for this purpose. The tutorial is also <a href="http://github.com/djangogirls/tutorial">open sourced</a> and <a href="http://tutorial.djangogirls.org/">available for free</a>. It covers creating your blog application from scratch, including deployment to <a href="https://www.pythonanywhere.com/">Python Anywhere</a>.
                    </p>
                </div>

            </div>
        </section>

        <section id="support">
            <div class="row">
                <div class="col-md-6">
                    <h2>Support Django Girls! 💕</h2>
                    <p class="support-stats">
                        <span>${{ patreon_stats.amount_raised }}</span> of <span>${{ patreon_stats.GOAL }}</span> monthly goal pledged
                    </p>
                    <div class="support-bar">
                      <div class="pledge" style="width: {{ patreon_stats.percentage_of_goal }}%">{{ patreon_stats.percentage_of_goal }}%</div>
                    </div>
                    <a class="btn">Make a donation</a>
                    <p class="partnership">
                        Or if you would like to discuss a bigger partnership, <a href="mailto:hello@djangogirls.org">please get in touch</a>.
                    </p>
                </div>
                <div class="col-md-6" style="padding-top: 95px;">
                    <p>
                        Django Girls is a <a href="{% url 'core:foundation' %}">non-profit organization</a> and we're crowdfunding money to help us pay for <a href="https://github.com/DjangoGirls/wiki/blob/master/general/ambassador.md" target="_blank">Awesomeness Ambassador</a>, a part-time position that makes it possible to run daily operations of Django Girls: providing support to local organizers, maintaining our freeily available resources or managing volunteers.
                    </p>
                    <p>
                        To date we organized {{ past_events_count }} free workshops attended by {{ attendees_sum }} women in {{ countries_count }} countries on all continents. We're currently organizing {{ future_events_count }} more workshops in the next couple of weeks.
                    </p>
                    <p>
                        Django Girls is a volunteer run organization, and we depend on your support to make it happen.
                    </p>
                </div>
            </div>
        </section>

        <section id="events">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Upcoming events
                        <a class="ical btn btn-default btn-xs" href="{% url 'core:icalendar' %}">ICAL</a>
                        <a class="ical btn btn-default btn-xs" href="{% url 'core:events_map' %}">MAP</a>
                    </h2>
                </div>
            </div>

            <div class="row">
                {% for event in future_events %}
                    {% include 'includes/_event.html' with event=event %}
                    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
                {% endfor %}
            </div>

            <div class="row past-events">
                <div class="col-md-12">
                    <h2>Past events</h2>
                    {% for event in past_events %}
                        <a href="{% if event.eventpage.is_live %}/{{ event.eventpage.url }}{% endif %}">
                            {{ event.city }}, {{ event.date }}
                        </a>
                    {% endfor %}

                </div>
                <div class="show-more"><a href="javascript:;">Show more</a></div>
            </div>

        </section>

        <section id="organize">

            {% include 'includes/_no_event.html' %}

        </section>

        <section id="story">

            <div class="row">
                <div class="col-md-12">
                    <h2>Django Girls Story</h2>
                    <p>Each week we try to introduce two badass ladies who use Python or Django to highlight their work:</p>
                </div>
            </div>

            <div class="row">
                {% for story in stories %}
                    {% include 'includes/_story.html' with story=story %}
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p><a href="{% url 'core:stories' %}">See more stories »</a></p>
                </div>
            </div>

        </section>

        <section id="supporters">

            <div class="row">
                <div class="col-md-12">
                    <h2>Supporters</h2>
                </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                  <a href="https://www.elastic.co/">
                      <img src="{% static 'img/global/supporters/elastic.png' %}" alt="Elastic" />
                  </a>
              </div>
                <div class="col-md-3">
                    <a href="http://lincolnloop.com/">
                        <img src="{% static 'img/global/supporters/lincolnloop.png' %}" alt="Lincoln Loop" />
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://www.divio.ch/en/">
                        <img src="{% static 'img/global/supporters/divio.png' %}" alt="Divio" style="margin-top: 25px" />
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://pythonanywhere.com/">
                        <img src="{% static 'img/global/supporters/pythonanywhere.png' %}" alt="Python Anywhere" style="margin-top: 25px" />
                    </a>
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                    <a href="https://www.mandrill.com/">
                        <img src="{% static 'img/global/supporters/mandrill.png' %}" alt="Mandrill" style="margin-top: 0px" />
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Wanna join us on the mission? Support us on <a href="https://www.patreon.com/djangogirls">Patreon</a> or <a href="{% url 'core:contact' %}">drop us a line</a>.</p>
                </div>
            </div>

        </section>

    </div>

{% endblock %}
