{% extends 'global/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container without-background">
          <div id="value" class="row">
              <div class="col-md-6">
                  <h3>Django Girls</h3>
                  <p>We're a non-profit organization founded in Poland by <a href="http://twitter.com/olasitarska">Ola</a> and <a href="http://twitter.com/asendecka">Ola</a>.
                      We believe that IT industry will greatly benefit from bringing more women into technology, so we want to give you an opportunity to learn how to program and become one of us - female programmers!
                  </p>
                  <p>Our mission is to bring more women into tech field, by making technology more
                  approachable, simple and friendly.We give tools, resources and community that that makes it easier to learn about technology. By providing friendly enviroment
                  for making things, we show the awesome parts of building the web. We care about great experiences.</p>

                  <p>Django Girls organize one-day events that teach about Python and Django -- tools we love and use for our work.
                       </p>
              </div>
              <div class="col-md-6" style="text-align: center;">
                  <img src="static/img/box-of-awesomeness.png" alt="Django Girls box of awesomness" />
              </div>
          </div>
    </div>

    <div id="map">
        <script src="https://embed.github.com/view/geojson/DjangoGirls/djangogirls/gh-pages/new-map.geojson?width=1500&height=300"></script>
    </div>

    {% if upcoming_events %}
    <div class="container without-background">
        <div id="events">
            <h3>Upcoming events</h3>
            <div class="row">
                {% for event in upcoming_events %}
                    <div class="col-md-3">
                        <h5><a href="/{{ event.url }}/">{{ event.event.name }}</a><h5>
                        <p>{{ event.event.date|date:"d M y" }}</p>
                        <p>{{ event.event.city }}, {{ event.event.country }}</p>
                    </div>

                    {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% endif %}

    <div class="container without-background">
        <div id="events">
            <h3>Past events</h3>
            <div class="row">
                {% for event in past_events %}
                    <div class="col-md-3">
                        <h5><a href="/{{ event.url }}/">{{ event.event.name }}</a><h5>
                        <p>{{ event.event.date }}</p>
                        <p>{{ event.event.city }}, {{ event.event.country }}</p>
                    </div>

                    {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="yourcity">
          <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h2>Bring Django Girls to your city!</h2>
                        <p>Each Django Girls event is organized by a group of local volunteers. This means that you can also organize
                        Django Girls in your city and we can help you with that! </p>
                        <p>If you want to spread the joy of coding in your area, drop us a line: <a href="mailto:hello@djangogirls.org">hello@djangogirls.org</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container without-background" id="newsletter">
        <h3>Hey, let's stay in touch!</h3>


        <div class="row">
            <div class="col-md-7">
                <p>If you want to keep in touch with us, you can like us, follow us or subscribe to our newsletter.</p>
                <p> We won't spam you (pinky swear!) and we will keep you updated with latest Django Girls news :)</p>
                <div class="facebook">
                    <div class="fb-like-box" data-href="https://www.facebook.com/djangogirls" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
                </div>
                <div class="twitter">
                    <a href="https://twitter.com/djangogirls" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @djangogirls</a>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form role="form" action="http://djangogirls.us8.list-manage1.com/subscribe/post?u=5a007b2dabdeddc350bdbbaed&amp;id=8c50a4b2d0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                        <div class="form-group">
                        	<input type="email" value="" placeholder="Your e-mail" name="EMAIL" class="form-control required email" id="mce-EMAIL">
                        </div>
                        <div class="form-group">
                            <input type="text" value="" placeholder="Your name" name="NAME" class="form-control" id="mce-NAME">
                        </div>
                    	<div id="mce-responses" class="clear">
                    		<div class="response" id="mce-error-response" style="display:none"></div>
                    		<div class="response" id="mce-success-response" style="display:none"></div>
                    	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_5a007b2dabdeddc350bdbbaed_8c50a4b2d0" tabindex="-1" value=""></div>
                        <div class="clear">
                            <button type="submit" class="btn btn-default" id="mc-embedded-subscribe">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
