{% extends 'global/base.html' %}
{% load staticfiles %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/global.js' %}"></script>
{% endblock %}

{% block content %}

    <section id="box-with-picture">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>
                        We want to inspire women to fall in love with programming.
                    </h1>
                    <p>
                        So we organize free Python and Django workshops, create open sourced online tutorials and care about amazing first experiences.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <section id="about">

            <div class="row">
                <div class="col-md-6">
                    <h2>About</h2>
                    <p>
                        Django Girls is a non-profit organization that empowers and helps women to organize free, one-day programming workshops by providing tools, resources and support. It was born in Berlin and started by two Polish girls: <a href="http://twitter.com/olasitarska">Ola Sitarska</a> and <a href="http://twitter.com/asendecka">Ola Sendecka</a>.
                    </p>

                    <h2>Mission</h2>
                    <p>
                        Our goal is to bring more amazing women into the world of technology and increase the diversity in the Django community. We believe that technology is for people and everyone should be able to build it. We are making technology more approchable by creating simple tools and resources designed with empathy.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="gallery">
                        <img src="{% static 'img/global/about/1.png' %}" />
                        <img src="{% static 'img/global/about/2.png' %}" />
                        <img src="{% static 'img/global/about/3.png' %}" />
                        <img src="{% static 'img/global/about/4.png' %}" />
                        <img src="{% static 'img/global/about/5.png' %}" />
                        <img src="{% static 'img/global/about/6.png' %}" />
                        <img src="{% static 'img/global/about/7.png' %}" />
                        <img src="{% static 'img/global/about/8.png' %}" />
                        <img src="{% static 'img/global/about/9.png' %}" />
                        <img src="{% static 'img/global/about/10.png' %}" />
                        <img src="{% static 'img/global/about/11.png' %}" />
                        <img src="{% static 'img/global/about/12.png' %}" />
                        <img src="{% static 'img/global/about/13.png' %}" />
                        <img src="{% static 'img/global/about/14.png' %}" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2>Workshops</h2>
                    <p>
                        Each Django Girls event is a free, one-day workshop for 30-60 people about building your first application using HTML, CSS, Python and Django. A typical workshop takes 8 hours and people work in small, 3-person groups with a coach dedicated to each group.
                    </p>
                </div>
                <div class="col-md-6">
                    <h2>Tutorial</h2>
                    <p>
                        During the workshop, attendees follow a tutorial written especially for this purpose. The tutorial is also <a href="http://github.com/djangogirls/tutorial">open sourced</a> and <a href="http://tutorial.djangogirls.org/">available for free</a>. It covers creating your blog application from scratch until deployment to Heroku.
                    </p>
                </div>

            </div>
        </section>

        <section id="events">
            <div class="row">
                <div class="col-md-12">
                    <h2>Upcoming events</h2>
                </div>
            </div>

            <div class="row">
                {% for event in future_events %}
                    {% include 'includes/_event.html' with event=event %}
                    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
                {% endfor %}
            </div>

            <div class="row past-events">
                <div class="col-md-12">
                    <h2>Past events</h2>
                    {% for event in past_events %}
                        <a href="/{{ event.eventpage.url }}">{{ event.city }}, {{ event.date }}</a>
                    {% endfor %}
                </div>
            </div>

        </section>

        <section id="organize">

            {% include 'includes/_no_event.html' %}

        </section>

        <section id="story">

            <div class="row">
                <div class="col-md-12">
                    <h2>Django Girls Story</h2>
                    <p>Each week we try to introduce two badass ladies who use Python or Django to highlight their work:</p>
                </div>
            </div>

            <div class="row">
                {% for story in stories %}
                    {% include 'includes/_story.html' with story=story %}
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p><a href="http://blog.djangogirls.org/">See more on our blog »</a></p>
                </div>
            </div>

        </section>

        <section id="supporters">

            <div class="row">
                <div class="col-md-12">
                    <h2>Supporters</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <a href="http://djangoproject.com/">
                        <img src="{% static 'img/global/supporters/django.png' %}" alt="Django Software Foundation" />
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://megiteam.pl/">
                        <img src="{% static 'img/global/supporters/megiteam.png' %}" alt="MegiTeam" />
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Wanna join us on the mission? Drop us a line: <a href="mailto:hello@djangogirls.org">hello@djangogirls.org</a>.</p>
                </div>
            </div>

        </section>

    </div>

{% endblock %}
