{% extends 'global/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">

        <section id="resources">
            <div class="row">
                <div class="col-md-12">
                    <h2>Resources</h2>
                    <p>
                        All of resources we created are open sourced under Creative Commons Attribution 4.0 International (CC BY 4). This means that
                        you can modify, distribute and use commercially, but you cannot sublicense and you have to give us credit and include
                        copyright.
                    </p>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-6">
                    <h3>Django Tutorial</h3>
                    <div class="cover">
                        <a href="http://tutorial.djangogirls.org/">
                            <img src="{% static 'img/resources/tutorial.jpg' %}" alt="Tutorial Django Girls" />
                        </a>
                    </div>
                    <div class="info">

                        <p>Tutorial we're using for all of our workshops. It's a very beginner friendly tutorial with introductions
                        to command line, Python, Django, HTML and CSS. </p>
                        <a href="http://tutorial.djangogirls.org/" target="_blank" class="btn">Read it</a>

                        <iframe src="http://ghbtns.com/github-btn.html?user=DjangoGirls&repo=tutorial&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
                        <iframe src="http://ghbtns.com/github-btn.html?user=DjangoGirls&repo=tutorial&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Organizer's Manual</h3>
                    <div class="cover">
                        <a href="http://organize.djangogirls.org/">
                            <img src="{% static 'img/resources/organize.jpg' %}" alt="Organize Django Girls" />
                        </a>
                    </div>
                    <div class="info">
                        <p>We have written down everything we know about organizing workshops like Django Girls. It's a handbook for
                        organizers of local events, but can be used to organize any kind of workshops.</p>
                        <a href="http://organize.djangogirls.org/" target="_blank" class="btn">Read it</a>

                        <iframe src="http://ghbtns.com/github-btn.html?user=DjangoGirls&repo=organizer-manual&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
                        <iframe src="http://ghbtns.com/github-btn.html?user=DjangoGirls&repo=organizer-manual&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Coaching Manual</h3>
                    <div class="cover">
                        <a href="http://coach.djangogirls.org/">
                            <img src="{% static 'img/resources/coach.jpg' %}" alt="Coaching Guide Django Girls" />
                        </a>
                    </div>
                    <div class="info">
                        <p>Good coaching approach is the most important part of Django Girls events. Learn how to be a good coach,
                        what are the rules and things we believe in. This can be used for any coaching -- not only Django workshops.</p>
                        <a href="http://coach.djangogirls.org/" target="_blank" class="btn">Read it</a>

                        <iframe src="http://ghbtns.com/github-btn.html?user=DjangoGirls&repo=coach-manual&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
                        <iframe src="http://ghbtns.com/github-btn.html?user=DjangoGirls&repo=coach-manual&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Tutorial Extensions</h3>
                    <div class="cover">
                        <a href="http://djangogirls.gitbooks.io/django-girls-tutorial-extensions/">
                            <img src="{% static 'img/resources/extensions.jpg' %}" alt="Tutorial Extensions Django Girls" />
                        </a>
                    </div>
                    <div class="info">
                        <p>This book contains additional tasks and tutorials that can be accomplished after finishing our main
                        tutorial. Our main tutorial fits in a one day of work and we want it to stay this way.</p>
                        <a href="http://djangogirls.gitbooks.io/django-girls-tutorial-extensions/" target="_blank" class="btn">Read it</a>

                        <iframe src="http://ghbtns.com/github-btn.html?user=DjangoGirls&repo=tutorial-extensions&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
                        <iframe src="http://ghbtns.com/github-btn.html?user=DjangoGirls&repo=tutorial-extensions&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
                    </div>
                </div>
            </div>

        </section>

    </div>

{% endblock %}
