{% extends 'global/base.html' %}
{% load i18n rev static %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static_rev 'vendor/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static_rev 'vendor/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
{% endblock %}

{% block extra_js %}
<script src='https://www.google.com/recaptcha/api.js?onload=onCaptchaLoadCallback&render=explicit'></script>
<script src="{% static_rev 'js/organize.js' %}"></script>
<script src="{% static_rev 'vendor/select2/js/select2.min.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container organize">

    <div class="row">
        <div class="col-md-12">
            {% include 'includes/_organize-progress.html' with active_step=6 %}
        </div>
    </div>

    <div class="row workshop">
        <div class="col-md-12">
            <div class="panel">
                <h1>{% trans "Tell us all about your Django Girls event!" %}</h1>

                <h4 class="error">{% trans "Please know that we are only accepting applications for remote workshops at this time." %}</h4>

                <form novalidate data-required-form action="" method="post">{% csrf_token %}
                    {{ wizard.management_form }}

                    {% if wizard.form.non_field_errors %}
                        <ul class="error-list">
                            {% for error in wizard.form.non_field_errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <fieldset class="form-section">
                        <legend class="form-section-heading">{% trans "Where?" %}</legend>
                        <p class="form-section-subhead">{% trans "In which city do you want to organize a workshop?" %}</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ wizard.form.city.id_for_label }}"
                                       class="compact-label{% if form.city.field.required %} required{% endif %}">{% trans "City" %}</label>
                                {{ wizard.form.city }}
                                {% if wizard.form.city.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.city.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ wizard.form.country.id_for_label }}"
                                       class="compact-label{% if form.country.field.required %} required{% endif %}">{% trans "Country" %}</label>
                                {{ wizard.form.country }}
                                {% if wizard.form.country.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.country.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </fieldset>
                    <script type="text/javascript">
                        $('#{{ wizard.form.country.id_for_label }}').select2({
                            theme: "bootstrap",
                            placeholder: '{% trans "Choose country" %}'
                        });
                    </script>

                    <fieldset class="form-section">
                        <legend class="form-section-heading">{% trans "When?" %}</legend>
                        <p class="form-section-subhead">{% trans "There should be <b>at least 3 months</b> between now and your event's date, and <b>6 months</b> after the previous workshop in that region. Please enter your date in dd/mm/yyyy format." %}</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ wizard.form.date.id_for_label }}" class="compact-label{% if form.date.field.required %} required{% endif %}">{% trans "Date of your event" %}</label>
                                {{ wizard.form.date }}
                                {% if wizard.form.date.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.date.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </fieldset>

                    <section class="form-section" id="venue_details">
                        <label class="form-section-heading{% if form.venue.field.required %} required{% endif %}">{% trans "Do you have a venue in mind?" %}</label>
                        <p class="form-section-subhead">{% trans "Tell us about your ideas on where to host the event in your city." %}</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-9">
                                {{ wizard.form.venue }}
                                {% if wizard.form.venue.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.venue.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </section>

                    <section class="form-section">
                        <label class="form-section-heading{% if form.sponsorship.field.required %} required{% endif %}">{% trans "Do you already know which companies you will approach for sponsorship?" %}</label>
                        <p class="form-section-subhead">{% trans "It doesn’t need to be very specific yet, but we would love to see your ideas." %}</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-9">
                                {{ wizard.form.sponsorship }}
                                {% if wizard.form.sponsorship.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.sponsorship.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </section>

                    <section class="form-section">
                        <label class="form-section-heading{% if form.coaches.field.required %} required{% endif %}">{% trans "Do you have potential coaches in mind?" %}</label>
                        <p class="form-section-subhead">{% trans "Have you approached them to ask if they would be interested in helping out?" %}</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-9">
                                {{ wizard.form.coaches }}
                                {% if wizard.form.coaches.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.coaches.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </section>

                    <section class="form-section">
                        <label class="form-section-heading{% if form.safety.field.required %} required{% endif %}">{% trans "How will you host your in-person workshop during the Covid-19 pandemic?" %}</label>
                        <p class="form-section-subhead">{% trans "Please provide information on how you plan to ensure safety for attendees and coaches for your in-person workshop during the Covid-19 pandemic." %}</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-9">
                                {{ wizard.form.safety }}
                                {% if wizard.form.safety.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.safety.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </section>

                    <section class="form-section">
                        <label class="form-section-heading{% if form.diversity.field.required %} required{% endif %}">{% trans "How do you intent to make your workshop inclusive and promote diversity?" %}</label>
                        <p class="form-section-subhead">{% trans "Please tell us how you intend to make sure your workshop is inclusive to people from marginalised communities and promote diversity." %}</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-9">
                                {{ wizard.form.diversity }}
                                {% if wizard.form.diversity.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.diversity.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </section>

                    <section class="form-section">
                        <label class="form-section-heading{% if form.additional.field.required %} required{% endif %}">{% trans "Any additional you may want to share with us?" %}</label>
                        <p class="form-section-subhead">{% trans "Please provide any additional information you may want to share with us and may think may help your application." %}</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-9">
                                {{ wizard.form.additional }}
                                {% if wizard.form.additional.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.additional.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </section>

                   <section class="form-section">
                        <ul class="row">
                            <li class="col-sm-12 col-md-9">
                                <div id="g-recaptcha"></div>
                            </li>
                        </ul>
                    </section>
                    <div class="cta-wrapper">
                        <button type="submit" class="cta">{% trans "Finish!" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
