{% extends 'global/base.html' %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

<div class="container organize">

    <div class="row">
        <div class="col-md-12">
            {% include 'includes/_organize-progress.html' with active_step=3 %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <h1>Application to organize a workshop</h1>
                <form action="" method="post">{% csrf_token %}
                    {{ wizard.management_form }}

                    <fieldset class="form-section">
                        <legend class="form-section-heading">Have you organized a Django Girls workshop before?</legend>
                        <p class="form-section-subhead">If so, we will get you through this process faster as we already know a lot about you! :)</p>

                        <ul class="narrow-options">
                            {% for input in wizard.form.has_organized_before %}
                                <li>
                                    {{ input.tag }}
                                    <label for="{{ input.id_for_label }}">{{ input.choice_label }}</label>
                                    {% if forloop.counter == 1 %}
                                        {{ wizard.form.previous_event }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                            {% for error in wizard.form.has_organized_before.errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </fieldset>

                    <div class="cta-wrapper">
                        <button type="submit" class="cta">Go to next step</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
