{% extends 'global/base.html' %}
{% load i18n rev static %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block extra_js %}
    <script src='https://www.google.com/recaptcha/api.js?onload=onCaptchaLoadCallback&render=explicit'></script>
    <script type="text/javascript" src="{% static_rev 'js/organize.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container organize">

    <div class="row">
        <div class="col-md-12">
            {% include 'includes/_organize-progress.html' with active_step=5 %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <h1>Tell us all about your Django Girls event!</h1>

                <form novalidate data-required-form action="" method="post">{% csrf_token %}
                    {{ wizard.management_form }}

                    {% if wizard.form.non_field_errors %}
                        <ul class="error-list">
                            {% for error in wizard.form.non_field_errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <fieldset class="form-section">
                        <legend class="form-section-heading">Where?</legend>
                        <p class="form-section-subhead">In which city do you want to organize a workshop?</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ wizard.form.city.id_for_label }}" class="compact-label">City</label>
                                {{ wizard.form.city }}
                                {% if wizard.form.city.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.city.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ wizard.form.country.id_for_label }}" class="compact-label">Country</label>
                                {{ wizard.form.country }}
                                {% if wizard.form.country.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.country.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </fieldset>

                    <fieldset class="form-section">
                        <legend class="form-section-heading">When?</legend>
                        <p class="form-section-subhead">There should be <b>at least 1.5 months</b> between now and your event's date, but we recommend 3 months for easier planning. If you don't have a precise date for now, you can enter a month and a year.</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ wizard.form.date.id_for_label }}" class="compact-label">Date of your event</label>
                                {{ wizard.form.date }}
                                {% if wizard.form.date.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.date.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </fieldset>

                    <section class="form-section">
                        <legend class="form-section-heading">Do you have a venue in mind?</legend>
                        <p class="form-section-subhead">Tell us about your ideas on where to host the event in your city.</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-9">
                                {{ wizard.form.venue }}
                                {% if wizard.form.venue.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.venue.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </section>

                    <section class="form-section">
                        <legend class="form-section-heading">Do you already know which companies you will approach for sponsorship?</legend>
                        <p class="form-section-subhead">It doesn’t need to be very specific yet, but we would love to see your ideas.</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-9">
                                {{ wizard.form.sponsorship }}
                                {% if wizard.form.sponsorship.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.sponsorship.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </section>

                    <section class="form-section">
                        <legend class="form-section-heading">Do you have potential coaches in mind?</legend>
                        <p class="form-section-subhead">Have you approached them to ask if they would be interested in helping out?</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-9">
                                {{ wizard.form.coaches }}
                                {% if wizard.form.coaches.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.coaches.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </section>

                   <section class="form-section">
                        <ul class="row">
                            <li class="col-sm-12 col-md-9">
                                <div id="g-recaptcha"></div>
                            </li>
                        </ul>
                    </section>
                    <div class="cta-wrapper">
                        <button type="submit" class="cta">Finish!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
