{% extends 'global/base.html' %}
{% load i18n rev static %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static_rev 'js/organize.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container organize">

    <div class="row">
        <div class="col-md-12">
            {% include 'includes/_organize-progress.html' with active_step=4 %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <h1>Who is going to organize this workshop?</h1>

                <form novalidate data-required-form action="" method="post">{% csrf_token %}
                    {{ wizard.management_form }}
                    {{ wizard.form.management_form }}

                    <script>
                        var formCount = {{ wizard.form.total_form_count }};
                    </script>
                    {% if wizard.form.non_field_errors %}
                        <ul class="error-list">
                            {% for error in wizard.form.non_field_errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <fieldset class="form-section">
                        <legend class="form-section-heading required">Lead organizer</legend>
                        <p class="form-section-subhead">This is probably you! :)</p>

                        <ul class="row">
                            {% with form=wizard.form.0 %}
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ form.first_name.id_for_label }}" class="compact-label{% if form.first_name.field.required %} required{% endif %}">First name</label>
                                {{ form.first_name }}
                                {% if form.first_name.errors %}
                                    <ul class="error-list">
                                        {% for error in form.first_name.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ form.last_name.id_for_label }}" class="compact-label{% if form.last_name.field.required %} required{% endif %}">Last name</label>
                                {{ form.last_name }}
                                {% if form.last_name.errors %}
                                    <ul class="error-list">
                                        {% for error in form.last_name.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ form.email.id_for_label }}" class="compact-label{% if form.email.field.required %} required{% endif %}">Email address</label>
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <ul class="error-list">
                                        {% for error in form.email.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            {% endwith %}
                        </ul>
                    </fieldset>
                    <fieldset id="coorganizers" class="form-section">
                        <legend class="form-section-heading">Your organizing team</legend>
                        <p class="form-section-subhead">Who is going to organize this event with you? Please confirm with your co-organizers that they agreed for you to provide their information here. They will be able to access your event’s emails and edit your event’s website.</p>

                        {% for form in wizard.form %}
                        {% if not forloop.first %}
                        <ul class="row">
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ form.first_name.id_for_label }}" class="compact-label">First name</label>
                                {{ form.first_name }}
                                {% if form.first_name.errors %}
                                    <ul class="error-list">
                                        {% for error in form.first_name.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ form.last_name.id_for_label }}" class="compact-label">Last name</label>
                                {{ form.last_name }}
                                {% if form.last_name.errors %}
                                    <ul class="error-list">
                                        {% for error in form.last_name.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ form.email.id_for_label }}" class="compact-label">Email address</label>
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <ul class="error-list">
                                        {% for error in form.email.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                        {% endif %}
                        {% endfor %}
                    </fieldset>
                    <template id="new-organizer-form">
                        {% with form=wizard.form.empty_form %}
                        <ul class="row">
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ form.first_name.id_for_label }}" class="compact-label">First name</label>
                                {{ form.first_name }}
                                {% if form.first_name.errors %}
                                    <ul class="error-list">
                                        {% for error in form.first_name.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ form.last_name.id_for_label }}" class="compact-label">Last name</label>
                                {{ form.last_name }}
                                {% if form.last_name.errors %}
                                    <ul class="error-list">
                                        {% for error in form.last_name.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ form.email.id_for_label }}" class="compact-label">Email address</label>
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <ul class="error-list">
                                        {% for error in form.email.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                        {% endwith %}
                    </template>
                    <div class="add-organizer">
                        <button id="add-form" type="button" class="icon-button">
                            <svg width="39px" height="39px" viewBox="0 0 39 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Application" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Organizers" transform="translate(-706.000000, -866.000000)">
                                        <g id="Card" transform="translate(147.000000, 247.000000)">
                                            <g id="Plus-button" transform="translate(559.000000, 619.000000)">
                                                <circle id="Oval-2" fill="#CDCBCB" cx="19.5" cy="19.5" r="19.5"></circle>
                                                <path d="M19.5,12.5 L19.5,26.5" id="Line" stroke="#F9F7F7" stroke-width="3" stroke-linecap="square"></path>
                                                <path d="M12.5,19.5 L26.5,19.5" id="Line" stroke="#F9F7F7" stroke-width="3" stroke-linecap="square"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </button>
                    </div>
                    <div class="cta-wrapper">
                        <button type="submit" class="cta">Go to next step</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
