{% extends 'global/base.html' %}
{% load i18n rev static %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static_rev 'js/organize.js' %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}

<div class="container organize">

    <div class="row">
        <div class="col-md-12">
            {% include 'includes/_organize-progress.html' with active_step=5 %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <h1>Tell us all about your Django Girls event!</h1>

                <form novalidate data-required-form action="" method="post">{% csrf_token %}
                    {{ wizard.management_form }}

                    {% if wizard.form.non_field_errors %}
                        <ul class="error-list">
                            {% for error in wizard.form.non_field_errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <fieldset class="form-section">
                        <legend class="form-section-heading">Where?</legend>
                        <p class="form-section-subhead">Provide a city in which the workshop is going to take place</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ wizard.form.city.id_for_label }}" class="compact-label">City</label>
                                {{ wizard.form.city }}
                                {% if wizard.form.city.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.city.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ wizard.form.country.id_for_label }}" class="compact-label">Country</label>
                                {{ wizard.form.country }}
                                {% if wizard.form.country.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.country.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </fieldset>

                    <fieldset class="form-section">
                        <legend class="form-section-heading">When?</legend>
                        <p class="form-section-subhead">The date of your event should be at least in 1.5 months in the future, but we recommend 3 months for easier planning</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ wizard.form.date.id_for_label }}" class="compact-label">Date (or month) of the event</label>
                                {{ wizard.form.date }}
                                {% if wizard.form.date.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.date.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </fieldset>

                    <fieldset class="form-section">
                        <legend class="form-section-heading">Your event website</legend>
                        <p class="form-section-subhead">All Django Girls event pages have address http://djangogirls.org/cityname. If you need a different one, enter it here:</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-4">
                                <label for="{{ wizard.form.website_slug.id_for_label }}" class="compact-label">http://djangogirls.org/</label>
                                {{ wizard.form.website_slug }}
                                {% if wizard.form.website_slug.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.website_slug.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </fieldset>

                    <section class="form-section">
                        <label class="form-section-heading">Do you have a venue in mind?</label>
                        <p class="form-section-subhead">Tell us about your ideas on where to host the event in your city.</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-9">
                                {{ wizard.form.venue }}
                                {% if wizard.form.venue.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.venue.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </section>

                    <section class="form-section">
                        <label class="form-section-heading">Do you have a plan which companies will you approach for sponsorship?</label>
                        <p class="form-section-subhead">Doesn’t need to be very specific yet, but we would love to see your ideas.</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-9">
                                {{ wizard.form.sponsorship }}
                                {% if wizard.form.sponsorship.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.sponsorship.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </section>

                    <section class="form-section">
                        <label class="form-section-heading">Do you have potential coaches in mind?</label>
                        <p class="form-section-subhead">Have you approched them to ask if they would be interested in helping out?</p>

                        <ul class="row">
                            <li class="col-sm-12 col-md-9">
                                {{ wizard.form.coaches }}
                                {% if wizard.form.coaches.errors %}
                                    <ul class="error-list">
                                        {% for error in wizard.form.coaches.errors %}
                                            <li class="error">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </section>

                   <section class="form-section">
                        <ul class="row">
                            <li class="col-sm-12 col-md-9">
                                <div class="g-recaptcha" data-sitekey="6LfGqhEUAAAAAL5PxSosc3VCjvDkCakk9y7xorc7"></div>
                            </li>
                        </ul>
                    </section>
                    <div class="cta-wrapper">
                        <button type="submit" class="cta">Finish!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
