{% extends 'jobs/base.html'%}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'includes/_info_messages.html' %}
                <h2>Thank you for your submission!</h2>
                <p><strong>Please consider making a donation for our cause!</strong> Just take a look at Django Girls <a href="https://www.patreon.com/djangogirls">patreon site.</a></p>

                <p>"Django Girls is a non-profit organization that empowers and helps women to organize free, one-day programming workshops by providing tools, resources and support.(...)
                All of the money gathered here on Patreon will go towards establishing a Django Girls non-profit organization as well as supporting the future growth of Django Girls, allowing us to create more learning resources and enabling even more women to discover the joy of programming."</p>
            </div>
        </div>
    </div>
{% endblock content %}
