{% extends 'jobs/base.html'%}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'includes/_info_messages.html' %}
                <h3>Yay, high-fives! Thank you for adding a job offer.</h3>
                <p> 
                    We carefully review each offer and we will get in touch with you shortly. 
                    Would you help us out, too?
                </p>
                <p>
                    We don’t charge for helping you reach candidates for your job offer. However, we are a non-profit organisation with a mission to show more women the joy of programming. Consider making a <a href="https://www.patreon.com/djangogirls">small donation</a> to help us make more impact on the world. Thank you!
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
