{% extends 'jobs/base.html'%}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'includes/_info_messages.html' %}
                <h3 class="text-success">Yay, high-five! Thank you for adding a job opportunity/meetup.</h3>
                <hr/>
                <p>
                    We carefully review each job opportunity and meetup. We will get in touch with you shortly.
                </p>
                <p>
                    Would you help us out too? We don’t charge for helping you reach people
                    who may be interested in your job opportunity/meetup. However, we are a non-profit organisation
                    with a mission to show more women the joy of programming.
                    Consider making a <a href="https://www.patreon.com/djangogirls">small donation</a> to help us make a larger impact on the world.
                </p>
                <p>
                    <strong>Thank you!</strong>
                </p>
		<br/>
		<p>
                    Do you have another job opportunity?
		</p>
		<a class="btn btn-blue" href="{% url 'jobs:job_new' %}">Add another opportunity</a>
		<a class="btn btn-blue" href="{% url 'jobs:meetup_new' %}">Add another meetup </a>
            </div>
        </div>
    </div>
{% endblock content %}
