{% extends 'jobs/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra_js %}
    {{ form.media }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
         <ol class="breadcrumb">
            <li><a href="{% url 'core:index' %}">Home</a></li>
            <li><a href="{% url 'jobs:main' %}">Community</a></li>
            <li><a href="{% url 'jobs:jobs' %}">Job offers</a></li>
            <li class="active">Add job offer</li>
        </ol>
            <div class="panel panel-feature-blue">
                <div class="panel-heading">
                    <h2>New offer</h2>
                    <p>
                        Adding a job offer on Django Girls website is free. Yay! Our website is monthly visited by XXX beginner developers and we can help you reach them with your offer. However, all the offers listed here need to meet following requirements:
                        Offer needs to be beginner-friendly — it means no experience required. 
                        Offer can’t discriminate any gender.
                        You need to show us, somehow, that you care about diversity. We don’t want to recommend our friends to work in places that don’t value this.
                        Publishing an offer here is free, however, Django Girls is a non-profit organisation with a mission to show more women how amazing programming is. It’d be greatly appreciated if you could consider donating money to us to help us make a bigger impact. You can do so via <a href="https://www.patreon.com/djangogirls">Patreon</a>.
                    </p>
                </div>
                <div class="panel-body">
                    <form method="POST" class="job-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="save btn btn-blue" name="save">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
