{% extends 'global/base.html' %}
{% load staticfiles %}
{% load webdesign %}

{% block content %}

	<section id="job_details">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>{{ job.title }} <small>at {{ job.company }}</small></h2>
					<p class="text-muted">Published on {{ job.published_date|date:'d F Y' }}</p>
					<h3>Place:</h3>
					<p>{{ job.city }}, {{ job.country }}</p>
					<h3>Description:</h3>
					<!--<p>{{ job.description|linebreaks }}</p>-->
					<p>{% lorem 5 p %}</p>

				</div> <!--.col-xs-12-->
			</div> <!--.row-->
		</div> <!--.container-->
	</section> <!--#job_details-->


{% endblock content %}
