{% extends 'jobs/base.html' %}
{% load staticfiles %}
{% load webdesign %}

{% block content %}

    <section id="job_details">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="{% url 'core:index' %}">Home</a></li>
                    <li><a href="{% url 'jobs:main' %}">Community</a></li>
                    <li><a href="{% url 'jobs:jobs' %}">Job offers</a></li>
                    <li class="active">{{ job.title }}</li>
                </ol>
                <div class="col-md-12">
                    <h2>{{ job.title }} 
                        <small>
                            at {{ job.company }}
                        </small>
                    </h2>
                    <p class="text-muted">Published on {{ job.published_date|date:'d F Y' }}</p>
                    <table class="table" id="job-table">
                        <tr>
                            <th>Remote work</th>
                            <td>{{ job.remote_work|yesno }}</td>
                        </tr>
                        <tr>
                            <th>Relocation offered</th>
                            <td>{{ job.relocation|yesno }}</td>
                        </tr>
                    </table>
                    <h3>Place:</h3>
                    <p>{{ job.cities }}, {{ job.country }}</p>
                    <h3>Description:</h3>
                    {% if job.description %}
                        <p>{{ job.description|safe }}</p>
                    {% else %}
                        <!--For testing purposes only! Delete before deploying!-->
                        <p>{% lorem 5 p %}</p>
                    {% endif %}
                    <h3>Contact and more information:</h3>
                        <p>{{ job.contact_email }}</p>
                        <p><a href="{{ job.website }}">view website</a></p>

                </div> <!--.col-md-12-->
            </div> <!--.row-->
        </div> <!--.container-->
    </section> <!--#job_details-->


{% endblock content %}
