{% extends 'jobs/base.html' %}
{% load staticfiles %}
{% load jobs_tags %}

{% block extra_js %}
    {{ form.media }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
         <ol class="breadcrumb">
            <li><a href="{% url 'core:index' %}">Home</a></li>
            <li><a href="{% url 'jobs:main' %}">Community</a></li>
            <li><a href="{% url 'jobs:jobs' %}">Job opportunities</a></li>
            <li class="active">Add job opportunity</li>
        </ol>
        <div>
            <h2>
                Add job opportunity
            </h2>
            <hr/>
            <p>
                Adding a job opportunity on Django Girls website is free. Yay!
                Our website is visited by many enthusiastic beginner developers and we can help you reach them with your offer.
                However, all the opportunities listed here need to meet following requirements:
            </p>
            <ul>
                <li>The opportunity needs to be beginner-friendly - no experience required.</li>
                <li>The opportunity must not discriminate any gender.</li>
            </ul>
            <p>
                By submitting a job opportunity to us, you're demonstrating that you care about diversity in your workplace and in the tech community in general.
                Thank you!
            </p>
            <br/>
            <p class="text-info">
                Publishing a job opportunity here is free, however, Django Girls is a non-profit organisation
                with a mission to show more women how amazing programming is. We would appreciate it if you would
                consider <a href="https://www.patreon.com/djangogirls">making a donation through Patreon</a> to help us make a bigger impact.
            </p>
            <br/>
        </div>
            <div class="panel panel-feature-blue">
                <div class="panel-heading">
                    <h2>New job opportunity</h2>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal job-form" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.errors %}
                                <div class="form-group has-error">
                                    <label class="col-sm-2 control-label">{{ field.label }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                    <div class="controls col-sm-10">{{ field|addclass:"form-control" }}
                                        <p><span class="help-inline text-danger">
                                            {% for error in  field.errors %}{{ error }}{% endfor %}
                                        </span></p>
                                        <p class="help-inline text-danger"><small>{{ field.help_text }}</small></p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{ field.label }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                    <div class="controls col-sm-10">{{ field|addclass:"form-control" }}
                                        {% if field.help_text %}
                                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="form-actions">
                            <button type="submit" class="save btn btn-blue" name="save">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
