{% extends 'jobs/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <section id="jobs">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'core:index' %}">Home</a></li>
                        <li><a href="{% url 'jobs:main' %}">Community</a></li>
                        <li class="active">Job opportunities</li>
                    </ol>
                    <h2>
                        Job offers
                    </h2>
                    <p>
                       Working as a software developer is a great way to become one.
                       There are lots of companies out there who are hiring,
                       but how can you tell which ones are supportive? Here, you can find offers from companies
                       who hire beginners and want to train them. They’re not targeting only women,
                       but they do care about diversity in the workplace. We trust they do the right thing.
                    </p>
                    <p>
                       On this page, we only list offers that require no experience from companies who
                       want to hire beginners and care about diversity.
                    </p>
                    <a class="btn btn-blue" href="{% url 'jobs:job_new' %}">Add offer</a>
                </div> <!--.col-md-12-->
            </div> <!--.row-->

            <div class="row">
                <div class="col-md-12">
                    <h3>Offers</h3>
                    <table class="table table-striped">
                        <thead>
                            <th>Company</th>
                            <th>Job title</th>
                            <th>Posted</th>
                        </thead>
                        <tbody>
                            {% for job in job_offers %}
                                <tr>
                                    <td>
                                        {{ job.company }}
                                    </td>
                                    <td>
                                        <a href="{% url 'jobs:job_details' id=job.id %}">
                                            {{ job.title }}
                                        </a>
                                    </td>
                                    <td>{{ job.published_date }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td>There are no job offers at this moment.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!--.col-md-12-->
            </div> <!--.row-->
        </section>
    </div> <!--.container-->

{% endblock %}
