{% extends 'global/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">

        <section id="jobs">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Job offers
                    </h2>
                </div> <!--.col-md-12-->
            </div> <!--.row-->

            <div class="row">
                <h3>Offers</h3>
                <a class="btn" href="{% url 'jobs:job_new' %}">Add offer</a>
                <table class="table table-striped">
                    <thead>
                        <th>Company</th>
                        <th>Job title</th>
                        <th>Posted</th>
                    </thead>
                    <tbody>
                        {% for job in job_offers %}
                            <tr>
                                <td><a href="{{ job.company.website }}">{{ job.company }}</a></td>
                                <td><a href="{% url 'jobs:job_details' id=job.id %}">{{ job.title }}</a></td>
                                <td>{{ job.post_date }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>There are no job offers at this moment.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h3>Meetups</h3>
                <p>Coming soon...</p>
                
            </div> <!--.row-->

        </section>

    </div> <!--.container-->

{% endblock %}
