{% extends 'jobs/base.html' %}
{% load staticfiles %}

{% block content %}

<section id="box-with-picture">
    <div class="black-canvas">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>
                        You've already attended Django Girls event?
                    </h1>

                    <p>there is much more...</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section id="community">
        <div class="row">
            <div class="col-md-12">
                 <ol class="breadcrumb">
                    <li><a href="{% url 'core:index' %}">Home</a></li>
                    <li class="active">Community</li>
                </ol>
                <h2>Django Girls Community</h2>

                <p>If you find yourself on this page, you probably recently completed the Django Girls tutorial — either at one of our workshops, at an event in your city or at home on your own.</p>
                <p>That’s awesome, congratulations! Time to meet the Django and Python community and make the next important step towards making development your daily job. Excited? We are!</p>
            </div>
        </div>
    </section>
    <section id="features">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-feature-blue">
                    <div class="panel-heading">
                        <h3>Jobs</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Working as a software developer is a great way to become one. There are lots of companies out there who are hiring, but how can you tell which ones are good?
                        </p>
                        <p>
                            We have talked to a lot of them and here you can find offers from companies who hire beginners and want to train them. They’re not targeting women only, but they do care about diversity in a workplace. We trust they do the right things.
                        </p>
                        <h4>Recent offers:</h4>
                        {% if job_offers %}
                            {% for job in job_offers %}
                                {% include 'includes/_jobs.html' with job=job %}
                            {% endfor %}
                        {% else %}
                            <p>No job offers yet...</p>
                        {% endif %}
                            <a class="btn btn-blue btn-block" href="{% url 'jobs:jobs' %}">More...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-feature-orange">
                    <div class="panel-heading">
                        <h3>Meetups</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Did you know that Dori, Django Girls alumni from our first event in Berlin, got a job because she gave a talk about Django Girls at her local Django meetup in Budapest?
                        </p>
                        <p>
                            That’s why your local meetups and user groups can help you make a career in tech. Here you can find (or add!) meetups in your city where programmers meet to talk about technology.
                        </p>
                        <p>
                            They all have a published Code of Conduct, we checked!
                        </p>
                        <h4>Recent meetups:</h4>
                        {% if meetup_list %}
                            {% for meetup in meetup_list %}
                                {% include 'includes/_meetups.html' with meetup=meetup %}
                            {% endfor %}
                        {% else %}
                            <p>No meetups yet...</p>
                        {% endif %}
                            <a class="btn btn-block" href="{% url 'jobs:meetups' %}">More...</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div> <!--.container-->

{% endblock %}
