{% extends 'jobs/base.html' %}
{% load staticfiles %}

{% block content %}

<section id="box-with-picture">
    <div class="black-canvas">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>
                        You've already attended Django Girls event?
                    </h1>

                    <p>there is much more...</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section id="community">
        <div class="row">
            <div class="col-md-12">
                 <ol class="breadcrumb">
                    <li><a href="{% url 'core:index' %}">Home</a></li>
                    <li class="active">Community</li>
                </ol>
                <h2>Django Girls Community</h2>

                <p>If you find yourself on this page, you probably recently completed the Django Girls tutorial — either at one of our workshops, at an event in your city or at home on your own.</p>
                <p>That’s awesome, congratulations! Time to meet the Django and Python community and make the next important step towards making development your daily job. Excited? We are!</p>
            </div>
        </div>
    </section>
    <section id="features">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-feature-blue">
                    <div class="panel-heading">
                        <h3>Jobs</h3>
                    </div>
                    <div class="panel-body">
                          {% include 'includes/_jobs_intro.html' %}
                        <br/>
                        <h4>Recent opportunities:</h4>
                        <hr/>
                        {% if job_offers %}
                            {% for job in job_offers %}
                                {% include 'includes/_jobs.html' with job=job %}
                            {% endfor %}
                        {% else %}
                            <p>No job opportunities yet...</p>
                        {% endif %}
                            <a class="btn btn-blue btn-block" href="{% url 'jobs:jobs' %}">More...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-feature-orange">
                    <div class="panel-heading">
                        <h3>Meetups</h3>
                    </div>
                    <div class="panel-body">
                          {% include 'includes/_meetups_intro.html' %}
                        <br/>
                        <h4>Recent meetups:</h4>
                        <hr/>
                        {% if meetup_list %}
                            {% for meetup in meetup_list %}
                                {% include 'includes/_meetups.html' with meetup=meetup %}
                            {% endfor %}
                        {% else %}
                            <p>No meetups yet...</p>
                        {% endif %}
                            <a class="btn btn-block" href="{% url 'jobs:meetups' %}">More...</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div> <!--.container-->

{% endblock %}
