{% extends 'global/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">

        <section id="meetups">
        {% include 'includes/_info_messages.html' %}
        <a class="btn" href="{% url 'jobs:meetup_new' %}">Add meetup</a>
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Upcoming meetups
                    <a class="ical btn btn-default btn-xs" href="{% url 'core:icalendar' %}">ICAL</a>
                </h2>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->

        <div class="row">
            {% for meetup in meetup_list %}
                <div class="col-md-4 event">
                    {% include 'includes/_meetups.html' with meetup=meetup %}
                </div>
                {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
            {% endfor %}
        </div> <!-- /.row -->
    </div> <!-- /.container -->

{% endblock %}

