{% extends 'jobs/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block bootstrap_version %}
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
{% endblock bootstrap_version %}

{% block extra_js %}
    {{ form.media }}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
             <ol class="breadcrumb">
                <li><a href="{% url 'core:index' %}">Home</a></li>
                <li><a href="{% url 'jobs:main' %}">Community</a></li>
                <li><a href="{% url 'jobs:meetups' %}">Meetups</a></li>
                <li class="active">Add meetup</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>New meetup</h1>
                </div>
                <div class="panel-body">
                    <form method="POST" class="job-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="save btn btn-default" name="add_meetup">Save</button>
                    </form>
                </div>
            </div>
        </div><!-- /.col-md-12-->
    </div><!-- /.row -->
</div> <!-- /.container -->
{% endblock %}
