{% extends 'jobs/base.html' %}
{% load staticfiles %}
{% load webdesign %}

{% block content %}

<section id="meetup_details">
    <div class="container">
        <div class="row">
           <ol class="breadcrumb">
                <li><a href="{% url 'core:index' %}">Home</a></li>
                <li><a href="{% url 'jobs:main' %}">Community</a></li>
                <li><a href="{% url 'jobs:meetups' %}">Meet ups</a></li>
                <li class="active">{{ meetup.title }}</li>
            </ol>
            <div class="col-md-12">
                <h2>
                    {% if meetup.website %}
                        <a href="{{ meetup.website }}">{{ meetup.title }}</a>
                    {% else %}
                        {{ meetup.title }}
                    {% endif %}
                    <small>in {{ meetup.city }}, {{ meetup.country }}</small>
                </h2>
                <h4>Date and time:</h4>
                <p> {{ meetup.meetup_date|date:"l, d F Y, f A" }}</p>
                {% if meetup.company %}
                    <h4>Organised by:</h4>
                    <p>{{ meetup.company }}</p>
                {% endif %}
                <h4>Description:</h4>
                {% if meetup.description %}
                    <p>{{ meetup.description|safe }}</p>
                {% else %}
                    <!--For testing purposes only! Delete before deploying!-->
                    <p>{% lorem 5 p %}</p>
                {% endif %}
                {% if meetup.is_recurring %}
                    <p>This is a recurring event</p>
                {% endif %}
            </div> <!--.col-md-12-->
        </div> <!--.row-->
    </div> <!--.container-->
</section> <!--#meetup_details-->


{% endblock content %}
 
