{% extends 'jobs/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">

        <section id="meetups">
            <ol class="breadcrumb">
                <li><a href="{% url 'core:index' %}">Home</a></li>
                <li><a href="{% url 'jobs:main' %}">Community</a></li>
                <li class="active">Meetups</li>
            </ol>
        {% include 'includes/_info_messages.html' %}
            <h2>
                Meetups
            </h2>
            <p>
                Did you know that Dori, Django Girls alumni from our first event in Berlin,
                got a job because she gave a talk about Django Girls at her local Django meetup in Budapest?
                That’s why your local meetups and user groups can help you make a career in tech.
            </p>
            <p>
                Here you can find (or add!) meetups in your city where programmers meet to talk about technology.
                They all have published Code of Conduct, we checked!
            </p>
            <p>
                On this page we only list meetups and groups that are friendly to beginners
                and have a published Code of Conduct. If you see a meetup that doesn’t meet the requirement,
                please do let us know. We care about you.
            </p>
        <a class="btn" href="{% url 'jobs:meetup_new' %}">Add meetup</a>
        </section>
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Upcoming meetups
                </h2>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->

        <div class="row">
            {% for meetup in meetup_list %}
                <div class="col-md-4 event">
                    {% include 'includes/_meetups.html' with meetup=meetup %}
                </div>
                {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
            {% endfor %}
        </div> <!-- /.row -->
    </div> <!-- /.container -->

{% endblock %}
