{% extends 'jobs/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">

        <section id="meetups">
            <ol class="breadcrumb">
                <li><a href="{% url 'core:index' %}">Home</a></li>
                <li><a href="{% url 'jobs:main' %}">Community</a></li>
                <li class="active">Meetups</li>
            </ol>
        {% include 'includes/_info_messages.html' %}
            <h2>
                Meetups
            </h2>
              {% include 'includes/_meetups_intro.html' %}
        <a class="btn" href="{% url 'jobs:meetup_new' %}">Add meetup</a>
        </section>
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Upcoming meetups
                </h2>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->

        <div class="row">
            {% for meetup in meetup_list %}
                <div class="col-md-4 event">
                    {% include 'includes/_meetups.html' with meetup=meetup %}
                </div>
                {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
            {% endfor %}
        </div> <!-- /.row -->
    </div> <!-- /.container -->

{% endblock %}
