{% extends 'jobs/base.html' %}
{% load staticfiles %}
{% load webdesign %}

{% block content %}

<section id="meetup_details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <ol class="breadcrumb">
                    <li><a href="{% url 'core:index' %}">Home</a></li>
                    <li><a href="{% url 'jobs:main' %}">Community</a></li>
                    <li><a href="{% url 'jobs:meetups' %}">Meetups</a></li>
                    <li class="active">{{ meetup.title }}</li>
                </ol>
                <div class="page-header">
                    <h3>
                        {% if meetup.website %}
                            <a href="{{ meetup.website }}">{{ meetup.title }}</a>
                        {% else %}
                            {{ meetup.title }}
                        {% endif %}
                        <small>in {{ meetup.city }}, {{ meetup.country }}</small>
                    </h3>
                </div>
                <div class="panel panel-feature-orange">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <div class="text-muted pull-right">
                            <p>Published on {{ meetup.published_date|date:'d F Y' }}</p>
                        </div>
                        <h4>When</h4>
                        <p>
                            <strong>Begins:</strong> {{ meetup.meetup_start_date|date:"l, d F Y, f A" }}
                        </p>
                            {% if meetup.meetup_end_date %}
                                <p>
                                    <strong>Ends:</strong> {{ meetup.meetup_end_date|date:"l, d F Y, f A" }}
                                </p>
                            {% endif %}
                        <h4>Description</h4>
                        <p>{{ meetup.description|safe }}</p>
                        {% if meetup.is_recurring %}
                            <p>This is a recurring event</p>
                        {% endif %}
                        {% if meetup.organisation %}
                            <h4>Organised by</h4>
                            <p>{{ meetup.organisation }}</p>
                        {% endif %}
                        <h4>Contact</h4>
                        <p>{{ meetup.contact_email }}</p>
                    </div>
                </div>


            </div> <!--.col-md-12-->
        </div> <!--.row-->
    </div> <!--.container-->
</section> <!--#meetup_details-->


{% endblock content %}
