{% load staticfiles %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav role="navigation" class="clearfix">
                <div class="logo">
                    <a href="/">
                        <img src="{% static 'img/global/logo.png' %}" alt="Django Girls" />
                    </a>
                </div>

                <ul>
                    <li><a href="{% url 'jobs:main' %}">Community</a></li>
                    <li><a href="{% url 'jobs:jobs' %}">Jobs</a></li>
                    <li><a href="{% url 'jobs:meetups' %}">Meetups</a></li>
                    <li><a href="http://blog.djangogirls.org/">Blog</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
