<html>

<p>Hello {{ contact_person.split.0 }}</p>  

<p>My name is Anna Makarudze. I am the fundraising coordinator for Django Girls Foundation.</p>  

<p>We are currently looking for new corporate sponsors who will sponsor us through either monthly donations 
    or with a once off annual donation. I would like to check with you if your company would consider sponsoring Django Girls.</p>

<p>Please see attached our sponsors deck for {% now "Y" %} https://drive.google.com/file/d/1fAmyAiEyLGiE0s6_z3PzgLByHNKzEVHB/view
    for our sponsor packages. </p> 
    
<p>If your organisation is interested, kindly get back to me and we can discuss next steps or set up a meeting
    if you would like to get on a call for more details.</p> 

<p>Looking forward to hearing from you soon.</p>
<br>
<p>Sparkles, cupcakes and high-fives, 🎉🎊🎉✨🍰👋</p> 

<p>
    Anna Makarudze <br>
    Fundraising Coordinator, <br>
    Django Girls Foundation
</p> 

</html>