<html>
<p>Hello {{ contact_person.split.0 }},</p>

<p>Happy New Year!</p>

<p>We would like to thank you for your past support, we are so grateful that you chose 
    to help Django Girls on our mission to inspire women to fall in love with programming.</p>

<p>In 2021, we introduced an advisory board that has been helping us with diversity and inclussion matters, 
    worked with diversity consultants to update our resources to be more inclusive and we continued with
    that mission in 2022. In 2022, we resumed support for in-person workshops. However, we have noticed that 
    the number of workshops being organized has greatly reduced following the pandemic and we hope to address 
    this by increasing visibility for our work.</p>

<p>We need your support to enable us to continue our work so we thought we should check to see 
    if you, our amazing sponsors are willing to renew your sponsorship with us in our 2023 fundraising 
    period. Should you be interested in supporting us, please find attached our sponsors’ deck 
    here https://drive.google.com/file/d/1T2jL9tnu5ZkNvkQRAxd7jlt_BnX7VCLE/view for the 2023 
    fundraising period. Our focus and mission for the upcoming year is in increasing visibility
    by introducing a part-time paid Communications Officer role to help promote our work.</p>

<p>Thank you once again for supporting our work. We look forward to working with you again in 2023.</p>

<p>Sparkles, cupcakes and high-fives, 🎉🎊🎉✨🍰👋</p>

<p>Anna Makarudze <br>
    Fundraising Coordinator, <br>
    Django Girls Foundation
</p>
</html>