<html>
<p>Hello {{ contact_person.split.0 }},</p>

<p>We would like to thank you for your past support, we are so grateful that you chose 
    to help Django Girls on our mission to inspire women to fall in love with programming.</p>

<p> Since resuming the in-person workshops in 2022, we noticed that the number of workshops being organized was 
    greatly reduced following the pandemic and we hoped to address this in 2023 by increasing visibility for our work.
    Our plan was to introduce a new role of Communications Officer to help us with our branding and visibility.
</p>

<p> We are so excited to inform you our global partner that we managed to achieve our focus and mission for 2023
    to increase our visibility by introducing a part-time paid Communications Officer role to help promote our work.
    We also promoted our former Awesomeness Ambassador, Claire Wicher to the new role of Chief Emoji Officer
    (Managing Director) and hired a new Awesomeness Ambassador, growing the number of our paid staff to four.
</p>
    
<p> We need your support to enable us to continue our work so we thought we should check to see 
    if you, our amazing sponsors are willing to renew your sponsorship with us in our {% now "Y" %} fundraising 
    period. Should you be interested in supporting us, please find attached our sponsors’ deck 
    here https://drive.google.com/file/d/1fAmyAiEyLGiE0s6_z3PzgLByHNKzEVHB/view for the {% now "Y" %} 
    fundraising period. 
</p>

<p>Thank you once again for supporting our work. We look forward to working with you again in {% now "Y" %}.</p>
<br>
<p>Sparkles, cupcakes and high-fives, 🎉🎊🎉✨🍰👋</p>

<p>Anna Makarudze <br>
    Fundraising Coordinator, <br>
    Django Girls Foundation
</p>
</html>