{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}
{% load url from suit_compat %}


{% block content %}
    <form action="" method="post">{% csrf_token %}
      {% if new_status == 'accepted' %}
      <div class="alert alert-block alert-success">
        <h4 class="alert-heading">Approve {{ application.city }}, {{ application.country }} application?</h4>
        <p>Are you sure you want to approve the {{ application.city }}, {{ application.country }} application?</p>
        <br />
        <input type="submit" value="Yes, I'm sure" class="btn btn-success"/>
      </div>
      {% elif new_status == 'rejected' %}
      <div class="alert alert-block alert-error">
        <h4 class="alert-heading">Reject {{ application.city }}, {{ application.country }} application?</h4>
        <p>Are you sure you want to reject the {{ application.city }}, {{ application.country }} application?</p>
        <br />
        <input type="submit" value="Yes, I'm sure" class="btn btn-danger"/>
      </div>
      {% endif %}
    </form>
{% endblock %}
