name: CodeCov
on: [push, pull_request]

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      OS: ubuntu-latest
      PYTHON: '3.7'

    strategy:
      max-parallel: 4
      matrix:
        python-version:
        - 3.7

    services:
      postgres:
        image: postgres:10.8
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: djangogirls
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '2'

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@master
      with:
        python-version: ${{ matrix.python-version }}
    - name: Generate Report
      run: |
        pip install -r requirements.txt
        coverage run -m pytest
        coverage xml
      env:
        POSTGRES_DB: djangogirls
        POSTGRES_HOST: localhost
        POSTGRES_PASSWORD: postgres
        POSTGRES_USER: postgres
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v2