<!DOCTYPE HTML>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <title>Django Girls - free programming workshop for women at EuroPython 2014 in Berlin</title>
  <meta name="description" content="Django Girls is a one-day workshop about programimng for women, organized during EuroPython 2014 in Berlin">
  <meta name="keywords" content="programming, python, django, workshop, women, females">
  <link href="static/img/favicon.ico" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Django Girls - free programming workshop for women at EuroPython 2014 in Berlin" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Join us and become female developer! Build your first website in Python and Django during biggest annual European Python conference." />
  <meta property="og:url" content="http://djangogirls.org/" />
  <meta property="og:image" content="https://raw.githubusercontent.com/olasitarska/djangogirls/gh-pages/resources/graphics/logo_square.png" />

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" media="screen">
  <link rel="stylesheet" type="text/css" href="static/css/style.css" media="screen">
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/djangogirls.js"></script>
</head>
<body>

  	<!-- Fixed navbar -->
	<div class="navbar navbar-default" role="navigation">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="/"><img src="static/img/logo.png" width="200" alt="Django Girls" /></a>
		</div>
		<div class="navbar-collapse collapse">
		  <ul class="nav navbar-nav">
			<li><a href="#value">About</a></li>
			<li><a href="#apply"><b>Apply for a pass!</b></a></li>
			<li><a href="#faq">FAQ</a></li>
			<li><a href="#coach">Become a coach</a></li>
			<li class="optional"><a href="#sponsors">Partners</a></li>
			<li class="optional"><a href="mailto:hello@djangogirls.org">hello@djangogirls.org</a></li>
		  </ul>
		</div><!--/.nav-collapse -->
	  </div>
	</div>

	<!-- Partners / Sponsors -->
	<div class="container">
		<div class="row">
			<div class="col-md-12" id="codeofconduct">
				<h2>Code of Conduct</h2>
				<p>
					Django Girls aims to be a welcoming event, where people meet in a friendly environment. Accordingly, we expect that all participants are expected to show respect and courtesy to other participants throughout the workshop.
				</p>
				<p>
					To make clear what is expected, all delegates/attendees, speakers, exhibitors, organizers and volunteers at any Django Girls event are required to conform to the following Code of Conduct. Organizers will enforce this code before and throughout the event.
				</p>
				<h3>In short</h3>
				<ul>
					<li>Django Girls is dedicated to providing a harassment-free workshop experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion.</li>
					<li>We do not tolerate harassment of workshop participants in any form.</li>
					<li>Sexual language and imagery is not appropriate for any workshop venue, including talks.</li>
					<li>Be kind to others. Do not insult or put down other attendees. Behave professionally. Don’t publish photographs of people without their consent. Remember that harassment and sexist, racist, or exclusionary jokes are not appropriate for Django Girls.</li>
					<li>Conference participants violating these rules may be sanctioned or expelled from the workshop without a refund at the discretion of the workshop organizers.</li>
				</ul>
				<h3>Longer version</h3>
				<p>Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>

				<p>Participants asked to stop any harassing behavior are expected to comply immediately.

				<p>Be careful in the words that you choose. Remember that sexist, racist, and other exclusionary jokes can be offensive to those around you. Excessive swearing and offensive jokes are not appropriate for Django Girls.</p>

				<p>If a participant engages in harassing behavior, the workshop organizers may take any action they deem appropriate, including warning the offender or expulsion from the workshop with no refund.</p>

				<p>We expect participants to follow these rules at all workshop venues and workshop-related social events.</p>

				<h3>Reporting harassment</h3>

				<p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact your coach or one of the organizers immediately.</p>

				<p>If the matter is especially urgent, please call Django Girls staff:

					<ul>
						<li>Ola Sitarska - +48 502 926 090</li>
					</ul>
				</p>
				<p>If you’re currently afraid of your physical safety or are in danger, contact local law enforcement in Germany:
					<ul><li>Emergency (Fire, Medical, Police): 112</li></ul>
				</p>
				<p>
					The staff is well informed on how to deal with the incident and how to further proceed with the situation. Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.
				</p>
			</div>

		</div>
        <div class="cls"></div>

	</div>

	<footer>
		<div class="overlay">
			<div class="container">
				<div class="row social">
					<div class="col-md-7"></div>
					<div class="col-md-5">
						Get in touch: <br /> <a href="mailto:hello@djangogirls.org">hello@djangogirls.org</a><br /><br />

						<div class="fb-like-box" data-href="https://www.facebook.com/djangogirls" data-colorscheme="dark" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>

						<div class="twitter">
							<a href="https://twitter.com/djangogirls" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @djangogirls</a>
						</div>
					</div>
				</div>
				<div class="row credits">
					<div class="col-md-12">
						♥ Django Girls is organized by <a href="http://twitter.com/olasitarska">Ola</a> & <a href="http://twitter.com/asendecka">Ola</a> with the support from EuroPython 2014. Inspired by wonderful <a href="http://railsgirls.com/">Rails Girls</a>.<br >
						Every participant needs to follow the <a href="coc.html">Code of Conduct</a>.
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!-- fb -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=345022845576638";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
	<!-- twitter -->
	    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <!-- analytics -->
        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-51680040-1', 'djangogirls.org');
		  ga('send', 'pageview');

		</script>
</body>
</html>
