<!DOCTYPE HTML>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <title>Django Girls - start your journey with programming</title>
  <meta name="description" content="Django Girls is a one-day workshop about programming in Python and Django tailored for women.">
  <meta name="keywords" content="programming, python, django, workshop, women, females">
  <link href="static/img/favicon.ico" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Django Girls is a one-day workshop about programming in Python and Django tailored for women" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Join us and become female developer! Build your first website in Python and Django in a friendly, safe enviroment." />
  <meta property="og:url" content="http://djangogirls.org/" />
  <meta property="og:image" content="https://raw.githubusercontent.com/olasitarska/djangogirls/gh-pages/resources/graphics/logo_square.png" />

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" media="screen">
  <link rel="stylesheet" type="text/css" href="static/css/style.css" media="screen">
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/djangogirls.js"></script>
</head>
<body>
<div class="navbar-wrapper">
      <!-- Fixed navbar -->
    <div class="navbar navbar-default negative" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand" href="/">
              <a href="/"><img src="static/img/logo-negative.png" width="200" alt="Django Girls" /></a>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#value">About</a></li>
            <li><a href="#events">Our events</a></li>
            <li><a href="#yourcity"><b>Django Girls in your city!</b></a></li>
            <li><a href="http://blog.djangogirls.org/">Blog</a></li>
            <li class="optional"><a href="#sponsors">Partners</a></li>

            <li class="optional"><a href="mailto:hello@djangogirls.org">hello@djangogirls.org</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</div>
    <!-- Value proposition -->
    <div class="container">
          <div id="value" class="row">
              <div class="col-md-6">
                  <h3>Django Girls</h3>
                  <p>We're a non-profit organization founded in Poland by <a href="http://twitter.com/olasitarska">Ola</a> and <a href="http://twitter.com/asendecka">Ola</a>.
                      We believe that IT industry will greatly benefit from bringing more women into technology, so we want to give you an opportunity to learn how to program and become one of us - female programmers!
                  </p>
                  <p>Our mission is to bring more women into tech field, by making technology more
                  approachable, simple and friendly.We give tools, resources and community that that makes it easier to learn about technology. By providing friendly enviroment
                  for making things, we show the awesome parts of building the web. We care about great experiences.</p>

                  <p>Django Girls organize one-day events that teach about Python and Django -- tools we love and use for our work.
                       </p>
              </div>
              <div class="col-md-6" style="text-align: center;">
                  <img src="static/img/box-of-awesomeness.png" alt="Django Girls box of awesomness" />
              </div>
          </div>
    </div>

    <div id="map">
        <script src="https://embed.github.com/view/geojson/DjangoGirls/djangogirls/gh-pages/new-map.geojson?width=1500&height=300"></script>
    </div>

    <!-- FAQ -->
    <div class="container">
        <div id="events">
            <h3>Upcoming events</h3>
            <div class="row">
                <div class="col-md-3">
                    <h5><a href="/europe.html">Django Girls @ EuroPython</a><h5>
                    <p>21st July 2014</p>
                    <p>Berlin, Germany</p>
                </div>
                <div class="col-md-3">
                    <h5><a href="/australia.html">Django Girls @ PyCon AU</a><h5>
                    <p>4th August 2014</p>
                    <p>Brisbane, Australia</p>
                </div>
            </div>

        </div>
    </div>

    <div id="yourcity">
          <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h2>Bring Django Girls to your city!</h2>
                        <p>Each Django Girls event is organized by a group of local volunteers. This means that you can also organize
                        Django Girls in your city and we can help you with that! </p>
                        <p>If you want to spread the joy of coding in your area, drop us a line: <a href="mailto:hello@djangogirls.org">hello@djangogirls.org</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="newsletter">
        <h3>Hey, let's stay in touch!</h3>


        <div class="row">
            <div class="col-md-7">
                <p>If you want to keep in touch with us, you can like us, follow us or subscribe to our newsletter.</p>
                <p> We won't spam you (pinky swear!) and we will keep you updated with latest Django Girls news :)</p>
                <div class="facebook">
                    <div class="fb-like-box" data-href="https://www.facebook.com/djangogirls" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
                </div>
                <div class="twitter">
                    <a href="https://twitter.com/djangogirls" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @djangogirls</a>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form role="form" action="http://djangogirls.us8.list-manage1.com/subscribe/post?u=5a007b2dabdeddc350bdbbaed&amp;id=8c50a4b2d0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                        <div class="form-group">
                        	<input type="email" value="" placeholder="Your e-mail" name="EMAIL" class="form-control required email" id="mce-EMAIL">
                        </div>
                        <div class="form-group">
                            <input type="text" value="" placeholder="Your name" name="NAME" class="form-control" id="mce-NAME">
                        </div>
                    	<div id="mce-responses" class="clear">
                    		<div class="response" id="mce-error-response" style="display:none"></div>
                    		<div class="response" id="mce-success-response" style="display:none"></div>
                    	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_5a007b2dabdeddc350bdbbaed_8c50a4b2d0" tabindex="-1" value=""></div>
                        <div class="clear">
                            <button type="submit" class="btn btn-default" id="mc-embedded-subscribe">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>

    <footer>
        <div class="overlay">
            <div class="container">
                <div class="row social">
                    <div class="col-md-7"></div>
                    <div class="col-md-5">
                        Get in touch: <br /> <a href="mailto:hello@djangogirls.org">hello@djangogirls.org</a><br /><br />


                    </div>
                </div>
                <div class="row credits">
                    <div class="col-md-12">
                        ♥ Django is a <a href="https://www.djangoproject.com/trademarks/">registered trademark</a> of the Django Software Foundation.
                        Python is a <a href="https://www.python.org/psf/trademarks/">registered trademark</a> of Project Software Foundation. This website
                        is not associated with DSF or PSF.<br />
                        ♥ Django Girls is inspired by wonderful <a href="http://railsgirls.com/">Rails Girls</a>.<br >

                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- fb -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=345022845576638";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    <!-- twitter -->
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <!-- analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-51680040-1', 'djangogirls.org');
          ga('send', 'pageview');

        </script>
</body>
</html>
